{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'about' %}
{% block title %}
    {% include 'DaVinciTaxiBundle::banner.html.twig' %}
	    <h4>About TaxiMyPrice</h4>
	    	<div class="buttom-swicher">
	            <ul>
	                <li class="menuitem uk-active"><a href="#passenger"  data-uk-smooth-scroll>Для пасажира</a></li>
	                <li class="menuitem"><a href="#driver"  data-uk-smooth-scroll>Для водителя</a></li>
	                <li class="menuitem"><a href="#company"  data-uk-smooth-scroll>Для владельцев такси компаний</a></li>
	                <li class="menuitem"><a href="#end"  data-uk-smooth-scroll>Почему TaxiMyPrice</a></li>
	            </ul>
	        </div>
{% endblock%}
{% block body %}
{# ======= About ========= #}
<div class="whitebg shadow-main">
	<div id="passenger" class="info-block passenger">
		<div class="text">
		  <h2>Прилетели в другую страну?</h2>
		  <h3>Пользуйтесь услугами TaxiMyPrice (TMP)!</h3>
		  <p>TaxiMyPrice предлагает Вам уникальный сервис:</p>
		  <ol>
		    <li><span>1.</span>Недорогой и финансово-безопасный</li>
			  <h4>вы называете Вашу цену, таксисты её принимают;</h4>
			  <h4>таксист получает оплату и чаевые, через нас, на 24 часа позже, если услуга Вам понравилась;</h4>
		    <li><span>2.</span>Дружелюбный и качественный</li>
   			  <h4>водитель особенно рад помогать семьям с детьми, людям с ограничениями, владельцам домашних животных.</h4>
			  <h4>многие таксисты предлагают Вам:</h4>
   			  <h4>-Wi-Fi, возможность зарядить Ваши гаджеты;</h4>
   			  <h4>-специальный салон для не курящих, инвалидов, детей;</h4>
		    <li><span>3.</span>Специальное дополнительное оборудование</li>
   			  <h4>сидения для детей и инвалидов;</h4>
   			  <h4>контейнеры для перевозки домашних животных;</h4>
   			  <h4>приспособления для нестандартных грузов;</h4>
		  </ol>
		</div>
		<div class="video">
			<div class="videoWrapper">
				<iframe width="420" height="315" src="//www.youtube.com/embed/LGfRfYz1VYA?rel=0;controls=1;showinfo=0;autoplay=0;vq=hd720"></iframe>
			</div>
			<button class="book-ride uk-button uk-button-success">Book ride now!</button>
		</div>
		<div class="otziv">
			<div class="rate-review">
					<div class="uk-width-1-1">
						<div class="uk-width-1-1 uk-text-primary name">Александр Иванов</div>
						<div class="uk-width-1-1 rate">
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-warning"></i></a>
							/ 09.01.2014
						</div>
						<div class="uk-width-1-1 review">
							Воспользовался этим сервисом в первый раз, остался очень доволен. Заказал такси заранее, что бы водитель встретил меня на жд вокзале <a href="#">more</a>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-width-1-1 uk-text-primary name">Александр Иванов</div>
						<div class="uk-width-1-1 rate">
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-warning"></i></a>
							/ 09.01.2014
						</div>
						<div class="uk-width-1-1 review">
							Воспользовался этим сервисом в первый раз, остался очень доволен. Заказал такси заранее, что бы водитель встретил меня на жд вокзале <a href="#">more</a>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-width-1-1 uk-text-primary name">Александр Иванов</div>
						<div class="uk-width-1-1 rate">
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-warning"></i></a>
							/ 09.01.2014
						</div>
						<div class="uk-width-1-1 review">
							Воспользовался этим сервисом в первый раз, остался очень доволен. Заказал такси заранее, что бы водитель встретил меня на жд вокзале <a href="#">more</a>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div id="driver" class="info-block driver">
		<div class="video top">
			<div class="videoWrapper">
				<iframe width="420" height="315" src="//www.youtube.com/embed/LGfRfYz1VYA?rel=0;controls=1;showinfo=0;autoplay=0;vq=hd720"></iframe>
			</div>
			<button class="book-ride uk-button uk-button-success">Choose passenger now!</button>
		</div>
		<div class="text">
		  <h2>Для водителя легковой машины:</h2>
		  <h3>Высокий заработок!</h3>
		  <ol>
		    <li><span>1.</span>Иностранные пассажиры оплачивают ваш труд;</li>
		    <li><span>2.</span>Любой заказ на $50, $75, $100 и более, Вы получаете за $3, максимум за $5;</li>
		    <li><span>3.</span>Диспетчерские услуги для Вас $0;</li>
		    <li><span>4.</span>Активность поощряется:</li>
				    <li><span>4.1.</span>уменьшением цен на основные и дополнительные наши услуги;</li>
				    <li><span>4.2.</span>бесплатным участием в официальном еженедельном розыгры-ше американской Калифорнийской лотореи (<a href="www.calottery.com">www.calottery.com</a>). Лучшим мы дарим американские лоторейные билеты.</li>
		  </ol>
		</div>
		<div class="video bottom">
			<div class="videoWrapper">
				<iframe width="420" height="315" src="//www.youtube.com/embed/LGfRfYz1VYA?rel=0;controls=1;showinfo=0;autoplay=0;vq=hd720"></iframe>
			</div>
			<button class="book-ride uk-button uk-button-success">Choose passenger now!</button>
		</div>
		<div class="otziv">
			<div class="rate-review">
					<div class="uk-width-1-1">
						<div class="uk-width-1-1 uk-text-primary name">Александр Иванов</div>
						<div class="uk-width-1-1 rate">
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-warning"></i></a>
							/ 09.01.2014
						</div>
						<div class="uk-width-1-1 review">
							Воспользовался этим сервисом в первый раз, остался очень доволен. Заказал такси заранее, что бы водитель встретил меня на жд вокзале <a href="#">more</a>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-width-1-1 uk-text-primary name">Александр Иванов</div>
						<div class="uk-width-1-1 rate">
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-warning"></i></a>
							/ 09.01.2014
						</div>
						<div class="uk-width-1-1 review">
							Воспользовался этим сервисом в первый раз, остался очень доволен. Заказал такси заранее, что бы водитель встретил меня на жд вокзале <a href="#">more</a>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-width-1-1 uk-text-primary name">Александр Иванов</div>
						<div class="uk-width-1-1 rate">
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-warning"></i></a>
							/ 09.01.2014
						</div>
						<div class="uk-width-1-1 review">
							Воспользовался этим сервисом в первый раз, остался очень доволен. Заказал такси заранее, что бы водитель встретил меня на жд вокзале <a href="#">more</a>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div id="company" class="info-block company">
		<div class="text">
		  <h2>Значительные дополнительные доходы для владельцев такси компаний!</h2>
		  <ol>
		    <li><span>1.</span>Авиапоток иностранных туристов работает на Вас;</li>
		    <li><span>2.</span>Любой заказ на $50, $75, $100 и более, Вы получаете за $3, максимум за $5;</li>
		    <li><span>3.</span>Внешние рекламные и дополнительные диспетчерские услуги для Вас $0;</li>
		    <li><span>4.</span>Такси компании, лидеры перевозок, дополнительно поощряются:</li>
				    <li><span>4.1.</span>уменьшением цены на основные и дополнительные наши услуги;</li>
				    <li><span>4.2.</span>бесплатным участием в официальном еженедельном розыгры-ше американской Калифорнийской лотореи (<a href="www.calottery.com">www.calottery.com</a>). Лучшим мы бесплатно вручаем американские лоторейные билеты.</li>
		  </ol>
		</div>
		<div class="video">
			<div class="videoWrapper">
				<iframe width="420" height="315" src="//www.youtube.com/embed/LGfRfYz1VYA?rel=0;controls=1;showinfo=0;autoplay=0;vq=hd720"></iframe>
			</div>
			<button class="book-ride uk-button uk-button-success">Pick up a lot of passenger now!</button>
		</div>
		<div class="otziv">
			<div class="rate-review">
					<div class="uk-width-1-1">
						<div class="uk-width-1-1 uk-text-primary name">Александр Иванов</div>
						<div class="uk-width-1-1 rate">
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-warning"></i></a>
							/ 09.01.2014
						</div>
						<div class="uk-width-1-1 review">
							Воспользовался этим сервисом в первый раз, остался очень доволен. Заказал такси заранее, что бы водитель встретил меня на жд вокзале <a href="#">more</a>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-width-1-1 uk-text-primary name">Александр Иванов</div>
						<div class="uk-width-1-1 rate">
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-warning"></i></a>
							/ 09.01.2014
						</div>
						<div class="uk-width-1-1 review">
							Воспользовался этим сервисом в первый раз, остался очень доволен. Заказал такси заранее, что бы водитель встретил меня на жд вокзале <a href="#">more</a>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-width-1-1 uk-text-primary name">Александр Иванов</div>
						<div class="uk-width-1-1 rate">
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-danger"></i></a>
							<a><i class="mp-icon-star uk-text-warning"></i></a>
							/ 09.01.2014
						</div>
						<div class="uk-width-1-1 review">
							Воспользовался этим сервисом в первый раз, остался очень доволен. Заказал такси заранее, что бы водитель встретил меня на жд вокзале <a href="#">more</a>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div id="end" class="contact-buttons uk-grid uk-grid-small">
		<a href="#" class="uk-button uk-button-primary">СМИ</a>
		<a href="#" class="uk-button uk-button-primary">Соц. сети</a>
		<a href="#" class="uk-button uk-button-primary">YouTube</a>
		<a href="#" class="uk-button uk-button-primary">Клиенты</a>
	</div>
</div>

{% endblock %}

{% block javascripts %}
    {% javascripts filter='?requirejs'
    '@DaVinciTaxiBundle/Resources/public/js/pages/pageinfo/about.js'
    %}

    {{ require_js_initialize({ 'main' : asset_url })}}

    {% endjavascripts %}
{% endblock %}
