<ul class="chois">
    <li class="{% if flow is defined and flow.getCurrentStepNumber() == 1 %}first uk-active{% else %}first mp-sucess{% endif %}">
        <a href="#">
            <div class="arrow_box">
                <span class="on">1<i class="uk-icon-check-circle"></i></span>
                <span class="hide"> <span class="exclude">Select </span>route</span>
            </div>
            <span class="arrow"></span>
            <span class="middle"></span>
        </a>
    </li>
    <li class="{% if flow is defined and flow.getCurrentStepNumber() == 2 %}other second uk-active{% else %}other second{% endif %}{% if flow is defined and flow.getCurrentStepNumber() > 2 %} mp-sucess{% endif %}">
        <a href="#">
            <div class="arrow_box">
                <span class="on">2<i class="uk-icon-check-circle"></i></span>
                <span class="hide"> Select <span class="exclude">the type of </span>vehicle</span>
            </div>
            <span class="arrow"> </span>
            <span class="middle"> </span>
        </a>
        <span class="back"></span>
    </li>
    <li class="{% if flow is defined and flow.getCurrentStepNumber() == 3 %}other second uk-active{% else %}other second{% endif %}{% if flow is defined and flow.getCurrentStepNumber() > 3 %} mp-sucess{% endif %}">
        <a href="#">
            <div class="arrow_box">
                <span class="on">3<i class="uk-icon-check-circle"></i></span>
                <span class="hide"> Select price <span class="exclude"></span></span>
            </div>
            <span class="arrow"> </span>
            <span class="middle"> </span>
        </a>
        <span class="back"></span>
    </li>
    <li class="{% if flow is defined and flow.getCurrentStepNumber() == 4 %}last uk-active{% else %}last{% endif %}">
        <a href="#">
            <div class="arrow_box">
                <span class="on">4<i class="uk-icon-check-circle"></i></span>
                <span class="hide"> Confirm <span class="exclude"></span></span>
            </div>
            <span class="arrow"></span>
        </a>
        <span class="back"></span>
    </li>
</ul>
