<div class="step-swicher">
    <div class="{% if flow is defined and flow.getCurrentStepNumber() == 1 %}step-swicher-item first-step active{% else %}step-swicher-item first-step{% endif %}"><i class="step-swicher-number">1</i>Select route</div>
    <div class="{% if flow is defined and flow.getCurrentStepNumber() == 2 %}step-swicher-item second-step active{% else %}step-swicher-item second-step{% endif %}{% if flow is defined and flow.getCurrentStepNumber() > 2 %} mp-sucess{% endif %}"><i class="step-swicher-number">2</i>Select <span>vehicle </span>type</div>
    <div class="{% if flow is defined and flow.getCurrentStepNumber() == 3 %}step-swicher-item three-step active{% else %}step-swicher-item three-step{% endif %}{% if flow is defined and flow.getCurrentStepNumber() > 3 %} mp-sucess{% endif %}"><i class="step-swicher-number">3</i>Select price</div>
    <div class="{% if app.request.get('_route') == 'passenger_request_confirm' %}step-swicher-item four-step active{% else %}step-swicher-item four-step{% endif %}"><i class="step-swicher-number">4</i>Confirm</div>
</div>
