<div class="content-block main">
	<table><colgroup><col width="57" /> <col width="156" /> <col width="156" /><col width="167" /><col width="86" /><col width="68" /><col width="164" /> <col width="115" /> </colgroup>
		<thead>
		<tr>
			<th>Tip</th><th colspan="2">Date and time sent</th><th>Route</th><th>Trust</th><th>Pay</th><th>Price</th><th>Buy</th>
		</tr>
		</thead>
		<tbody>
		<tr class="filters">
			<td>
				<span class="imitateselect">
					<span class="disop tips tip2" ></span>
					<!--span class="imitateoptions">
						<span class="tips tip2" ></span>
						<span class="tips tip1" ></span>
					</span-->
				</span>
			</td>
			<!--td class="timesent"><div class="datepicker"><input type="text" class="dates" id="datepickerstart" />-<input class="dates" type="text" id="datepickerend" /></div></td>
			<td class="timesent"><div class="time"><input class="dates" type="text" id="timestart" />-<input type="text" class="dates" id="timeend" /></div></td-->
			<td colspan="2" class="timesent"><div class="datepicker"><input type="text" class="dates" id="datepickerstart" />-<input class="dates" type="text" id="datepickerend" /></div>
				<div class="time"><input class="dates" type="text" id="timestart" />-<input type="text" class="dates" id="timeend" /></div></td>
			<td class="cities"><input type="text" placeholder="например, Москва, Россия"></td>
			<td class="grayinput">
				<span class="imitateselect">
					<span class="disop thumbs trust1" ></span>
					<span class="imitateoptions">
						<span class="trusts"><span class="thumbs trust1" ></span></span>
						<span class="trusts"><span class="thumbs trust2" ></span></span>
						<span class="trusts"><span class="thumbs trust3" ></span></span>
						<span class="trusts"><span class="thumbs trust-1" ></span></span>
						<span class="trusts"><span class="thumbs trust-1" ></span></span>
						<span class="trusts"><span class="thumbs trust-3" ></span></span>
					</span>
				</span>
			</td>
			<td><span class="filter"></span></td>
			<td>
				<span class="filter"></span>
				<select name="price">
					<option>130-800</option>
					<option>800-1200</option>
					<option>1300-1400</option>
				</select> $
			</td>
			<td>
				<select name="buy">
					<option>any</option>
					<option>many</option>
					<option>any</option>
					<option>many</option>
				</select>
				<span class="delete"></span>
			</td>
		</tr>
		<tr>
			<td><span class="countnumber">1</span></td><td class="timesent">02 <span class="month">mar</span> 14</td><td class="timesent">18:45</td><td>USA: Даллас -
USA: Оклахома-сити</td><td><span class="thumbs trust1"></span></td><td class="bold blue">escro</td><td>$783.85</td><td><span class=" orange basket"><span>basket</span></span></td>
		</tr>
		<tr>
			<td><span class="countnumber">1</span></td><td class="timesent">02 <span class="month">mar</span> 14</td><td class="timesent">18:45</td><td>USA: Даллас -
USA: Оклахома-сити</td><td><span class="thumbs trust-3"></span></td><td class="bold">cash</td><td>$783.85</td><td><span class="yellow basket"><span>basket</span></span></td>
		</tr>
		<tr>
			<td><span class="countnumber">1</span></td><td class="timesent">02 <span class="month">mar</span> 14</td><td class="timesent">18:45</td><td>USA: Даллас -
USA: Оклахома-сити</td><td><span class="thumbs trust2"></span></td><td class="bold blue">escro</td><td>$783.85</td><td><span class="pink basket"><span>basket</span></span></td>
		</tr>
		<tr>
			<td><span class="countnumber">1</span></td><td class="timesent">02 <span class="month">mar</span> 14</td><td class="timesent">18:45</td><td>USA: Даллас -
USA: Оклахома-сити</td><td><span class="thumbs trust-1"></span></td><td class="bold blue">escro</td><td>$783.85</td><td><span class="basket"><span>basket</span></span></td>
		</tr>
		</tbody>
	</table>
</div>
