	<div class="table-over">
		<table class="serv responsive" cellspacing="1">
			<tr>
				<th class="tab-h1">Tip	</th>
				<th class="daterange">Date/Time</th>
				<th>Route</th>
				<th>Trust</th>
				<th>PM</th>
				<th>Price</th>
				<th>Status</th>
				<th class="tab-h2">Buy</th>
			</tr>
			<tr class="under-head">
				<td >
				<div data-uk-dropdown="{mode:'click'}" class="uk-button-dropdown car">
                                    
					<button class="uk-button-link">
						<i class="mp-icon-taxi"></i>
						<i class="uk-icon-caret-down uk-text-dark"></i>
					</button>
					<div class="uk-dropdown" style="">
					<ul class="uk-nav uk-nav-navbar">
						<li>
							<a href="#">Item</a>
						</li>
						<li>
							<a href="#">Another item</a>
						</li>
											
					</ul>
					</div>
				</div>
				</td>
				<td class="daterange">
					<div class="uk-form-icon">
						<input id="datepicker" type="text"  maxlength="23" value="" placeholder="08/18/2014-09/20/2014">
						<i class="uk-icon-calendar"></i>
					</div>
				</td>
				<td>
					<div class="uk-form-icon">
						<input type="text" name="destination"  placeholder="for example, Moscow, Russia" />
						<i class="mp-icon-nord-star"></i>
					</div>
				</td>
				<td>
					<div data-uk-dropdown="{mode:'click'}" class="uk-button-dropdown car">
                                    
					<button class="uk-button-link">
						
						<i class="uk-icon-caret-down uk-text-dark"></i>
					</button>
					<div class="uk-dropdown" style="">
					<ul class="uk-nav uk-nav-navbar">
						<li>
							<a href="#">Item</a>
						</li>
						<li>
							<a href="#">Another item</a>
						</li>
											
					</ul>
					</div>
				</div>
				</td>
				<td>
				<button class="uk-button-link arr">
					<i class="uk-icon-arrow-down"></i>
					<i class="uk-icon-arrow-up uk-text-dark"></i>
					</button>
				</td>
				<td>
					<div class="ov-lt short-cont">
					<button class="uk-button-link arr aligment">
						<i class="uk-icon-arrow-down"></i>
					<i class="uk-icon-arrow-up uk-text-dark"></i>
					</button>
				<div class="uk-button uk-form-select select aligment fit-in" data-uk-form-select="">
                    <span>$10-$20</span>
                     <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">$10-$20</option>
                            <option value="2">$20-$30</option>
                            <option value="3">$30-$40</option>
                            <option value="4">$40-$50</option>
                        </select>
                </div>
					
				</div>
				</td>
				<td>
					
						<div class="uk-button uk-form-select select " data-uk-form-select="">
                    <span>All</span>
                     <i class="uk-icon-caret-down"></i>
                        <select >
                            <option value="1">$10-$20</option>
                            <option value="2">$20-$30</option>
                            <option value="3">$30-$40</option>
                            <option value="4">$40-$50</option>
                        </select>
                </div>
						
				</td>
				<td>
					<div class="ov-lt fixed-column">
						
				<div class="uk-button uk-form-select select aligment" data-uk-form-select="">
                    <span>Other</span>
                     <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">$10-$20</option>
                            <option value="2">$20-$30</option>
                            <option value="3">$30-$40</option>
                            <option value="4">$40-$50</option>
                        </select>
                </div>
						<button class="cancell-filters uk-button-link  aligment" >	
					
						<i class="mp-icon-closed uk-text-danger"></i>
						</button>
					</div>
				</td>
			</tr>
	
			<tr class="table-cont">
				<td><span class="blue-bg">1</span></td>
				<td>2 <strong>MAR</strong> 14<br/> 18:45</td>
				<td>USA:Далалс- <br/>USA: Оклахома-сити</td>
				<td><i class="mp-icon-trust uk-text-primary"></i></td>
				<td><span class="escro">escro</span></td>
				<td>$783.85</td>
				<td>open</td>
				<td><button class="uk-button-success uk-button"><i class="mp-icon-basket"></i>12:56:03</button></td>
			</tr>
			<tr class="table-cont">
				<td><span class="blue-bg">2</span></td>
				<td>2 <strong>MAR</strong> 14<br/> 18:45</td>
				<td>USA:Далалс- <br/>USA: Оклахома-сити</td>
				<td><i class="mp-icon-trust uk-text-primary"></i> <i class="mp-icon-trust uk-text-primary"></i></td>
				<td><span class="escro">escro</span></td>
				<td>$783.85</td>
				<td>open</td>
				<td><button class="uk-button-success uk-button"><i class="mp-icon-basket"></i>12:56:03</button></td>
			</tr>
			<tr class="table-cont">
				<td><span class="blue-bg">3</span></td>
				<td>2 <strong>MAR</strong> 14<br/> 18:45</td>
				<td>USA:Далалс- <br/>USA: Оклахома-сити</td>
				<td><i class="mp-icon-trust uk-text-primary"></i> <i class="mp-icon-trust uk-text-primary"></i> <i class="mp-icon-trust uk-text-primary"></i></td>
				<td><span class="escro">escro</span></td>
				<td>$783.85</td>
				<td>open</td>
				<td><button class="uk-button-success uk-button"><i class="mp-icon-basket"></i>12:56:03</button></td>
			</tr>
			<tr class="table-cont">
				<td><span class="blue-bg">4</span></td>
				<td>2 <strong>MAR</strong> 14<br/> 18:45</td>
				<td>USA:Далалс- <br/>USA: Оклахома-сити</td>
				<td><i class="mp-icon-trust-invert uk-text-primary"></i></td>
				<td><span class="escro">escro</span></td>
				<td>$783.85</td>
				<td>open</td>
				<td><button class="uk-button-success uk-button"><i class="mp-icon-basket"></i>12:56:03</button></td>
			</tr>
		</table>
	</div>