{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block title %}TAXI MY PRICE {% endblock %}
{% block body %}
	
	{% include 'DaVinciTaxiBundle::banner.html.twig' %}
	<div  class="home">
		<div class="tabtaxi">
			<ul class="uk-tab uk-tab-grid">
				<li class="uk-width-1-2 current blue-drive">
					
						<a href="#" class="child"><span>Passenger, book a ride at your price</span></a>
						
					
				</li>
				<li class="uk-width-1-2 red-drive">
					<a href="{{ url('main_driver') }}" class="child"><span>Driver, take the best deal</span></a>
					
				</li>
			</ul>
		</div>
		<div class="steps-1-2-3">
		{% include 'DaVinciTaxiBundle:Home:order_step_1.html.twig' %}
		</div>
		{% include 'DaVinciTaxiBundle:Home:filter_table.html.twig' %}
	</div>
{% endblock %}

