{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}

    {% include 'DaVinciTaxiBundle::banner.html.twig' %}
    <div  class="home">
        <div class="tabtaxi">
            <ul class="uk-tab uk-tab-grid">
                <li class="uk-width-1-2 current blue-drive">

                    <a href="#" class="child"><span>Passenger, book a ride at your price</span></a>


                </li>
                <li class="uk-width-1-2 red-drive">
                    <a href="{{ url('main_driver') }}" class="child"><span>Driver, take the best deal</span></a>

                </li>
            </ul>
        </div>
        <div class="steps-1-2-3">
            <ul class="   chois" data-uk-tab="{connect:'#steps'}">
                <li class="uk-width-1-3  first">
                    <a href="#">
                        <div class="arrow_box"><span class="on"><i class="uk-icon-check"></i></span><span class="hide"> <span class="exclude">Choose a </span>route</span>
						</div>
						<span class="arrow"></span>
						<span class="middle"></span>
                    </a>
					
                </li>
                <li class="uk-width-1-3 other second">
                    <a href="#">
                        <div class="arrow_box"><span class="on">2</span><span class="hide"> <span class="exclude">Choose the type of </span>vehicle</span>
						</div>
						<span class="arrow"> </span>
						<span class="middle"> </span>
                    </a>
					<span class="back"></span>
                </li>
                <li class="uk-width-1-3 last">
                    <a href="#">
                        <div class="arrow_box"><span class="on">3</span><span class="hide"> Start <span class="exclude">a trip</span></span>
                        </div>
						<span class="arrow"></span>
						
                    </a>
					<span class="back"></span>
                </li>
            </ul>
            <div id="steps" class="uk-switcher ">
                <li>
                    {% include 'DaVinciTaxiBundle:Home:order_step_1.html.twig' %}
                </li>
                <li>
                    {% include 'DaVinciTaxiBundle:Home:order_step_2.html.twig' %}
                </li>
                <li>
                    {% include 'DaVinciTaxiBundle:Home:order_step_3.html.twig' %}
                </li>
            </div>
        </div>
        {% include 'DaVinciTaxiBundle:Home:filter_table.html.twig' %}
    </div>
{% endblock %}

