{% extends 'DaVinciTaxiBundle::base.html.twig' %}

{% block body %}

<div  class="home">
	<div class="tabtaxi">
		<ul class="uk-tab uk-tab-grid">
			<li class="uk-width-1-2 red-drive">
				<a class="child"><span>Book a taxi at your price</span></a>
				
			</li>
			<li class="uk-width-1-2 current blue-drive">
				<a class="child"><span>Buy the best taxi order</span></a>
				
			</li>
		</ul>
	</div>
	<div class="driv-over">
		<div class="leftlabels">
			<h4>Passengers</h4>
			<div class="uk-button uk-form-select select" data-uk-form-select="">
                    <span>not choosen</span>
                    <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">not choosen</option>
                            <option value="2">not choosen</option>
                            <option value="3">not choosen</option>
                            <option value="4">not choosen</option>
                        </select>
             </div>
		</div>
		<div class="rightlabels">
				<div class="rightlabels-in">
				<div class="spin-1">
					<label>Adult</label>
					<div data-trigger="spinner" id="spin-1" class="spinner">
					  <input type="text" value="1" data-rule="quantity">
					  <div class="arrows">
						<a href="javascript:;" data-spin="up" class="up">&#9650;</a>
						<a href="javascript:;" data-spin="down" class="down">&#9660;</a>
					</div>
					</div>
				</div>
				
				
				<div class="spin-3">
					<label>Seniors </label>
					<div data-trigger="spinner" id="spin-3" class="spinner">
					  <input type="text" value="1" data-rule="quantity">
					 <div class="arrows"><a href="javascript:;" data-spin="up" class="up">&#9650;</a>
					  <a href="javascript:;" data-spin="down" class="down">&#9660;</a></div>
					</div>
				</div>
				<div class="spin-2">
					<label>Kids</label>
					<div data-trigger="spinner" id="spin-2" class="spinner">
					  <input type="text" value="1" data-rule="quantity">
						<div class="arrows">
							<a href="javascript:;" data-spin="up" class="up">&#9650;</a>
							<a href="javascript:;" data-spin="down" class="down">&#9660;</a>
						 </div>
					</div>
				</div>
			</div>
		</div>
		
	</div>


	{% include 'DaVinciTaxiBundle:Home:filter_table.html.twig' %}
</div>

{% endblock %}