{% extends 'DaVinciTaxiBundle::base.html.twig' %}

{% block body %}

<div  class="home">
	<div class="tabtaxi">
		<ul class="uk-tab uk-tab-grid">
			<li class="uk-width-1-2 red-drive">
				<a class="child"><span>Passenger, book a ride at your price</span></a>
				
			</li>
			<li class="uk-width-1-2 current blue-drive">
				<a class="child"><span>Driver, take the best deal</span></a>
				
			</li>
		</ul>
	</div>
	
		



	{% include 'DaVinciTaxiBundle:Home:filter_table.html.twig' %}
</div>

{% endblock %}

{% block javascripts %}
 {% javascripts filter='?requirejs'
    '@DaVinciTaxiBundle/Resources/public/js/pages/main.js'
    %}
    {# actually we need to create different js file for that page #}
    
    {{ require_js_initialize({ 'main' : asset_url })}}

    {% endjavascripts %}
{% endblock %}