{% extends 'DaVinciTaxiBundle::base.html.twig' %}

{% block body %}
<div class="wrapper-content"><div class="content banner"><a href="#"><img src="{{ asset('bundles/davincitaxi/images/banner.jpg') }}" alt="" /></a></div></div>
<div class="wrapper-content"><div id="content" class="content">
	<div class="tabtaxi">
		<ul class="uk-tab uk-tab-grid">
			<li class="uk-width-1-2"><div class="child">Book a taxi at your price</div><div class="helper"></div></li>
			<li class="uk-width-1-2 current blue"><div class="parent"><div class="child">Buy the best taxi order</div><div class="helper"></div></div></li>
		</ul>
	</div>
	<div class="content-block choice">
		<label class="countpassenger"><span class="textup countpassenger">Количество пассажиров:</span>
		<select name="countpassenger">
			<option>не выбрано</option>
			<option>1</option>
			<option>10</option>
		</select></label>
		
		<div class="rightlabels">
			<label><span class="text textup">Adult </span> <input id="spinner1" class="spinner" name="spinner" value="0" /></label>
			<label><span class="text textup">Kids </span> <input id="spinner2" class="spinner" name="spinner" value="0" /></label>
			<label><span class="text textup">Seniors </span> <input id="spinner3" class="spinner" name="spinner" value="0" /></label>
		</div>
		
	</div>


	{% include 'DaVinciTaxiBundle:Home:filter_table.html.twig' %}
</div></div>
{% endblock %}