<div class="disloc">
	<ul>
		<li class="timer">486 min</li>
		<li class="way"><span class="imitateselect">486.53 km</span></li>
		<li class="cash">973.50 $</li>
	</ul>
	<img src="{{ asset('bundles/davincitaxi/images/map.jpg') }}" alt="" />
</div>
