	<div class="wrap-left">
		 <div class="order-details-over">
			
			<h1>Tariff <span class="uk-icon-question-circle "></span></h1>
			
			<div class="order-details padding-top">
				<p class="note"><span>Note!</span>ncrease interest in his warrant</p>
					<div class="pers-data">
						<div class="tarif-line">
							<div class="tarif-line-group first">
								<input type="checkbox" /> <span class="uk-form-controls">Market price</span>
								<span class="recommend">$100.00</span>
							</div>
							<div class="tarif-line-group second">
								<input type="checkbox" /> <span class="uk-form-controls">Your price</span>
								<span class="overinput"><span class="dollar">$</span><input type="text" placeholder="0.00"/></span>
							</div>
							<div class="tarif-line-group third">
								 <span class="uk-form-controls">PM:</span>
								<div class="uk-button uk-form-select select choose-lang" data-uk-form-select="">
									<span>escrow</span>
									<i class="uk-icon-caret-down"></i>
										<select>
											<option value="1">escrow</option>
											<option value="2">cash</option>
										</select>
								</div>
							</div>
						</div>
						<div class="tarif-line">
							<div class="tarif-line-group first">
								<input type="checkbox" /> <span class="uk-form-controls">Market tips</span>
								<span class="recommend">$100.00</span>
							</div>
							<div class="tarif-line-group second">
								<input type="checkbox" /> <span class="uk-form-controls">Your tips</span>
								<span class="overinput"><span class="dollar">$</span><input type="text" placeholder="0.00"/></span>
							</div>
							<div class="tarif-line-group third">
								 <span class="uk-form-controls">PM:</span>
								<div class="uk-button uk-form-select select choose-lang" data-uk-form-select="">
									<span>escrow</span>
									<i class="uk-icon-caret-down"></i>
										<select>
											<option value="1">escrow</option>
											<option value="2">cash</option>
										</select>
								</div>
							</div>
						</div>
						
							
						
						
					</div>
					
					
			</div>
		</div>
		 <div class="order-details-over">
			<h1 class="pass-info">Passenger info <span class="uk-icon-question-circle "></span></h1>
			
			<div class="order-details">
				<p class="quantity-header">Quantity</p>
			<div class="quantity-over">
				<div class="tarif-line">
					<div class="tarif-line-group">
						<div class="spin-1">
							<label>Adult</label>
							<div class="spinner" id="spin-1" data-trigger="spinner">
							  <input type="text" data-rule="quantity" value="1">
							  <div class="arrows">
								<a class="up" data-spin="up" href="javascript:;">▲</a>
								<a class="down" data-spin="down" href="javascript:;">▼</a>
							</div>
							</div>
						</div>
					</div>
					<div class="tarif-line-group center-group">
					<div class="spin-3">
						<label>Children </label>
						<div class="spinner" id="spin-3" data-trigger="spinner">
						  <input type="text" data-rule="quantity" value="1">
						 <div class="arrows"><a class="up" data-spin="up" href="javascript:;">▲</a>
						  <a class="down" data-spin="down" href="javascript:;">▼</a></div>
						</div>
					</div>
					</div>
					<div class="tarif-line-group right-group">
					<div class="spin-2">
						<label>Seniors</label>
						<div class="spinner" id="spin-2" data-trigger="spinner">
						  <input type="text" data-rule="quantity" value="1">
							<div class="arrows">
								<a class="up" data-spin="up" href="javascript:;">▲</a>
								<a class="down" data-spin="down" href="javascript:;">▼</a>
							 </div>
						</div>
					</div>
					</div>
				</div>
			</div>
				<div class="contactpassenger">
					<div class="nottravel"><input type="checkbox" /> I am not traveling. I am making this booking on another's behalf.</div>
					<div class="pers-data"><div class="left"><label>Name:</label></div> <div class="right"><input type="text" placeholder="не указано"></div></div>
					<div class="pers-data"><div class="left"><label>Photo:</label></div> <div class="right"><button class="uk-button uk-button-primary">Add image</button>
															<p class="photo">file formats: JPG, PNG, GIF, BMP (up to 2mb)</p>
					</div></div>
					<div class="pers-data"><div class="left"><label>E-mail</label></div>  <div class="right"><input type="text" placeholder="не указано"></div></div> 
					<div class="pers-data"><div class="left"><label>Skype</label></div>  <div class="right"><input type="text" placeholder="не указано"></div></div> 
					<div class="pers-data"><div class="left"><label>Mobile</label></div>  <div class="right"><div class="uk-button uk-form-select select choose-lang" data-uk-form-select="">
							<span>(US)+1</span>
							<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">(US)+1</option>
									<option value="2">(US)+1</option>
									<option value="3">(US)+1</option>
									<option value="4">0-12 month</option>
								</select>
					</div><input type="text" placeholder="не указано" class="mobile"></div ></div> 
					<div class="pers-data"><div class="left">
							<span class="uk-form-controls">Your mobile has:</span>
						</div>
						<div class="right">
							<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;wi-fi <span class="uk-icon-question-circle "></span></span>
							<span class="right-group"><input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;whatsapp <span class="uk-icon-question-circle "></span></span></span>
						</div>
					</div>
					<div class="about-passenger">
						<p>About passenger <span class="uk-icon-question-circle "></span> </p>
						<textarea placeholder="Например: девушка 25 лет, высокая, в зеленой шубе и красной 	шляпе."></textarea>
						<div class=" helptext">осталось символов 200</div>
					</div>
				</div>

				<div class="uk-button-group uk-width-1-1">
					<a href="#" data-uk-switcher-item="previous" class="uk-button uk-button-warning float_left">< Back</a>
					<a href="#" class="uk-button uk-button-danger float_right">Submit ></a>
				</div>
			</div>
		</div>
    </div>

		{% include 'DaVinciTaxiBundle:Home:map_block.html.twig' %}
    <div class="clear"></div>




