

	<ul class="tabs uk-tab  chois">
        <li class="uk-width-1-3 active ">
			<a href="#">
				<div class="arrow_box"><span class="on">1</span><span class="hide"> Choose a route</span>
				</div>
			</a>
		</li>
        <li class="uk-width-1-3 other second">
			<a href="#">
				<div class="arrow_box"><span class="on">2</span><span class="hide"> Choose the <span class="exclude">type of </span>vehicle</span>
				</div>
			</a>
		</li>
        <li class="uk-width-1-3 contact">
			<a href="#">
				<div class="arrow_box"><span class="on">3</span><span class="hide"> Start a trip</span>
				</div>
			</a>
		</li>
    </ul>
    <div class="destination">
		<div class="desticlone">
			<div class="form-block-wrap">	
				
				<div class="labels">	
					<label><i class="mp-icon-point-a"></i> From:</label>
				</div>
				<div class="inputs">
						<div class="uk-form-icon">
							<i class=" mp-icon-nord-star"></i>
							<input class="flex-input date-pick" placeholder="Enter postcode, Venue or Place" type="text"  />
						</div>
				</div>
			</div>
			<div class="form-block-wrap to">		
				 <div class="labels">   
					<label><i class="mp-icon-point-b"></i> To:</label>
				</div>
				<div class="inputs">
						<div class="uk-form-icon">
							<i class=" mp-icon-nord-star"></i>
							<input class="flex-input date-pick" placeholder="Enter postcode, Venue or Place" type="text"   />
						</div>
				</div>
			</div>
		</div>
		<div class="clr"></div>	
        <div class="nav-over add-lang">    
     
			<div class="uk-button-large uk-button uk-width-1-1 add-another"><span class="mp-icon-point-plus uk-text-danger"></span>&nbsp; Добавить еще пункт назначения</div>
			<hr />
		</div>
	<div class="form-block-wrap">
		<div class="labels">
			<label>Pickup:</label>
		</div>
		<div class="inputs">
			<div class="uk-form-controls">
				<input class="date-input date-pick"  type="text" placeholder="mm/dd/yy" id="datepicker0"  />
				<div class="uk-button uk-form-select select" data-uk-form-select="">
                    <span>11</span>
                    <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">00</option>
                            <option value="1">01</option>
                            <option value="1">02</option>
                            <option value="1">03</option>
                            <option value="1">04</option>
                            <option value="1">05</option>
                            <option value="1">06</option>
                            <option value="1">07</option>
                            <option value="1">08</option>
                            <option value="1">09</option>
                            <option value="2">10</option>
                            <option value="2">11</option>
                            <option value="2">12</option>
                            <option value="2">13</option>
                            <option value="3">14</option>
                            <option value="4">15</option>
                            <option value="4">16</option>
                            <option value="4">17</option>
                            <option value="4">18</option>
                            <option value="4">19</option>
                            <option value="4">20</option>
                            <option value="4">21</option>
                            <option value="4">22</option>
                            <option value="4">23</option>
                        </select>
                    </div>
				
				<div class="uk-button uk-form-select select" data-uk-form-select="">
                    <span>01</span>
                     <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">00</option>
                            <option value="2">10</option>
                            <option value="3">20</option>
                            <option value="4">30</option>
                            <option value="4">40</option>
                            <option value="4">50</option>
                        </select>
                </div>
			</div>
			<div class="check-box">
			<input type="checkbox" /><span class="uk-form-controls"> Make this a round trip </span>
			</div>
		</div>
		
	</div>
		<div class="clr"></div>	
       
			
	   
	<div class="form-block-wrap">
		<div class="labels">
			<label>Return:</label>
		</div>
		<div class="inputs">
			<div class="uk-form-controls ">
				<input class="date-input date-pick"  type="text" placeholder="mm/dd/yy" id="datepicker0"  />
				<div class="uk-button uk-form-select select" data-uk-form-select="">
                    <span>11</span>
                     <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">12</option>
                            <option value="2">13</option>
                            <option value="3">14</option>
                            <option value="4">15</option>
                        </select>
                </div>
				<div class="uk-button uk-form-select select" data-uk-form-select="">
                    <span>01</span>
                     <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                        </select>
                </div>
			</div>
		</div>
	</div>
        
	<div class="nav-over">
		<div class="uk-button-group uk-width-1-1 uk-button-large uk-button uk-button-danger nextbutt"><a href="{{ url('order_step_2') }}" >Next > </a></div>
		<div class="uk-button-group uk-width-1-1 uk-button-large uk-button uk-button-primary"><a href="{{ url('order_step_2') }}" >Find a driver </a></div>
	</div>
		
    </div>

		{% include 'DaVinciTaxiBundle:Home:map_block.html.twig' %}
    <div class="clear"></div>


