

	<ul class="tabs uk-tab  chois">
        <li class="uk-width-1-3  first">
			<a href="#">
				<div class="arrow_box"><span class="on">1</span><span class="hide"> General information</span>
				</div>
			</a>
		</li>
        <li class="uk-width-1-3 other active">
			<a href="#">
				<div class="arrow_box"><span class="on">2</span><span class="hide"> Other information</span>
				</div>
			</a>
		</li>
        <li class="uk-width-1-3 contact">
			<a href="#">
				<div class="arrow_box"><span class="on">3</span><span class="hide"> Contact information</span>
				</div>
			</a>
		</li>
    </ul>

    <div class="paramauto">
        <h1>Автомобиль</h1>
        <h4>Количество пассажиров</h4>
        <div class="rightlabels">
            <label><span>Adult </span> <input id="spinner1" class="spinner" name="spinner" value="0" /></label>
            <label><span>Kids </span> <input id="spinner2" class="spinner" name="spinner" value="0" /></label>
            <label><span>Seniors </span> <input id="spinner3" class="spinner" name="spinner" value="0" /></label>
        </div>

        <h4>Класс автомобиля</h4>
        <select name="classauto">
            <option>11</option>
            <option>12</option>
            <option>13</option>
        </select>
        <div class="checks">
            <label><input type="checkbox" /> <span class="animals"></span>буду с собакой илил кошкой</label>
            <label><input type="checkbox" /> <span class="child"></span>наличие детского кресла</label>
            <label><input type="checkbox" /> <span class="nosmoke"></span>салон для некурящих</label>
            <label><input type="checkbox" /> <span class="smoke"></span>салон для курящих</label>
            <label><input type="checkbox" /> <span class="bagage"></span>наличие багажа</label>
        </div>
        <h4 class="black">Any additional language?</h4>
        <select name="additionallang">
            <option>11</option>
            <option>12</option>
            <option>13</option>
        </select>

        <div class="wishes">
            <h4>Дополнительные пожелания от вас</h4>
            <textarea placeholder="Например: если у вас алергия на животных, то вы можете об этом предупредить водителей, которые часто перевозят пассажиров 
                      с животными - они не станут покупать заявку."></textarea>
            <div class="style1 helptext">осталось символов 200</div>
        </div>

		<div class="uk-button-group uk-width-1-1">
			<a href="{{ url('order_step_3') }}" class="uk-button nextbutt twobuttnext uk-width-2-6  float_right"><span>Next ></span></a>
			<a href="{{ url('order_step_1') }}" class="uk-button nextbutt backbutt uk-width-2-6 float_left"><span>< Back</span></a>
		</div>
    </div>

		{% include 'DaVinciTaxiBundle:Home:map_block.html.twig' %}
    <div class="clear"></div>


