<div class="wrap-left">
    <div class="order-details-over">
        <h1 class="labels">Vehicle <i class="uk-icon-question-circle uk-primary"></i></h1>
		<div class="order-details">
		<form name="order-details" method="post" action="#" >
				
			<div class="kids-pats-line top-group">
			<label class="label-header">Class</label>
			<div class="uk-button uk-form-select select object" data-uk-form-select="">
                    <span>not choosen</span>
                    <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">not choosen</option>
                            <option value="2">not choosen</option>
                            <option value="3">not choosen</option>
                            <option value="4">not choosen</option>
                        </select>
             </div>
			 </div>
			 <div class="uk-button-large uk-button uk-width-1-1 spec-request">For kids, pats and baggage <span class="uk-icon-question-circle "></span></div>
			<div class="kids-pats-group">
				<div class="kids-pats-line">
					<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;child seat </span>
					<div class="uk-button uk-form-select select amount" data-uk-form-select="">
						<span>1</span>
						<i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
					</div>
					 <div class="uk-button uk-form-select select object" data-uk-form-select="">
							<span>0-12 month</span>
							<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">0-12 month</option>
									<option value="2">0-12 month</option>
									<option value="3">0-12 month</option>
									<option value="4">0-12 month</option>
								</select>
					</div>
				</div>
				<div class="kids-pats-line">
					<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;child seat </span>
					<div class="uk-button uk-form-select select amount" data-uk-form-select="">
						<span>1</span>
						<i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
					</div>
					 <div class="uk-button uk-form-select select object" data-uk-form-select="">
							<span>0-12 month</span>
							<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">0-12 month</option>
									<option value="2">0-12 month</option>
									<option value="3">0-12 month</option>
									<option value="4">0-12 month</option>
								</select>
					</div>
				</div>
				<div class="kids-pats-line">
					<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;child seat </span>
					<div class="uk-button uk-form-select select amount" data-uk-form-select="">
						<span>1</span>
						<i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
					</div>
					 <div class="uk-button uk-form-select select object" data-uk-form-select="">
							<span>0-12 month</span>
							<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">0-12 month</option>
									<option value="2">0-12 month</option>
									<option value="3">0-12 month</option>
									<option value="4">0-12 month</option>
								</select>
					</div>
				</div>
			
			</div>
			<div class="kids-pats-group">
				<div class="kids-pats-line">
					<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;pat cages </span>
					<div class="uk-button uk-form-select select amount" data-uk-form-select="">
						<span>1</span>
						<i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
					</div>
					 <div class="uk-button uk-form-select select object" data-uk-form-select="">
							<span>0-12 month</span>
							<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">0-12 month</option>
									<option value="2">0-12 month</option>
									<option value="3">0-12 month</option>
									<option value="4">0-12 month</option>
								</select>
					</div>
				</div>
				<div class="kids-pats-line">
					<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;pat cages </span>
					<div class="uk-button uk-form-select select amount" data-uk-form-select="">
						<span>1</span>
						<i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
					</div>
					 <div class="uk-button uk-form-select select object" data-uk-form-select="">
							<span>0-12 month</span>
							<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">0-12 month</option>
									<option value="2">0-12 month</option>
									<option value="3">0-12 month</option>
									<option value="4">0-12 month</option>
								</select>
					</div>
				</div>
				<div class="kids-pats-line">
					<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;pat cages </span>
					<div class="uk-button uk-form-select select amount" data-uk-form-select="">
						<span>1</span>
						<i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
					</div>
					 <div class="uk-button uk-form-select select object" data-uk-form-select="">
							<span>0-12 month</span>
							<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">0-12 month</option>
									<option value="2">0-12 month</option>
									<option value="3">0-12 month</option>
									<option value="4">0-12 month</option>
								</select>
					</div>
				</div>
			
			</div>
			<div class="kids-pats-group">
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;cycle rack</span>
							<div class="uk-button uk-form-select select amount" data-uk-form-select="">
								<span>1</span>
								<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
							</div>
					</div>
					<div class="right-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;ski rack</span>
							<div class="uk-button uk-form-select select amount" data-uk-form-select="">
								<span>1</span>
								<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
							</div>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;place for strollers</span>
							<div class="uk-button uk-form-select select amount" data-uk-form-select="">
								<span>1</span>
								<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
							</div>
					</div>
					<div class="right-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;wheelchairs place</span>
							<div class="uk-button uk-form-select select amount" data-uk-form-select="">
								<span>1</span>
								<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
							</div>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;roof rack</span>
							
					</div>
					<div class="right-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;trailer</span>
							
					</div>
				</div>
			</div>
			<div class="uk-button-large uk-button uk-width-1-1 spec-request">Additional services <span class="uk-icon-question-circle "></span></div>
			<div class="kids-pats-group additional">
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;wi-fi</span>
					</div>
					<div class="right-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;GPS</span>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;air conditioner</span>
					</div>
					<div class="right-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;sunroof</span>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;car for non smokers</span>
					</div>
					<div class="right-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;first aid kit</span>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;cool drinks <span class="uk-icon-question-circle "></span></span>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;snacks <span class="uk-icon-question-circle "></span></span>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;DVD <span class="uk-icon-question-circle "></span></span>
					</div>
				</div>
				<div class="kids-pats-line">
					
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;gadgets chargers <span class="uk-icon-question-circle "></span></span>
					
				</div>
				<div class="kids-pats-line">
					
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;disabled transportation tools <span class="uk-icon-question-circle "></span></span>
					
				</div>
				<div class="kids-pats-line">
					
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;passenger has an disease <span class="uk-icon-question-circle "></span></span>
					
				</div>
			</div>
			
			<div class="wishes-1">
				<textarea placeholder="Например: алергия на шерсть или диабет."></textarea>
				<div class=" helptext">осталось символов 200</div>
			</div>
			<div class="uk-button-large uk-button uk-width-1-1 spec-request">Additional drivers conditions <span class="uk-icon-question-circle "></span></div>
			<div class="kids-pats-group">
				<div class="kids-pats-line">
					<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;interpreter </span>
					
					 <div class="uk-button uk-form-select select choose-lang" data-uk-form-select="">
							<span>выберите язык</span>
							<i class="uk-icon-caret-down"></i>
								<select>
									<option value="1">0-12 month</option>
									<option value="2">0-12 month</option>
									<option value="3">0-12 month</option>
									<option value="4">0-12 month</option>
								</select>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;educator</span>
					</div>
					<div class="right-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;medical liscence</span>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;bodyguard</span>
					</div>
					<div class="right-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;animal trainer</span>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;carrier</span>
					</div>
					<div class="right-group">
						<input type="checkbox" /><span class="uk-form-controls">&nbsp;&nbsp;guide</span>
					</div>
				</div>
			</div>
			<div class="wishes-2">
				<h4>Special recuirement</h4>
				<textarea placeholder="Например: если у вас алергия на животных, то вы можете об этом предупредить водителей, которые часто перевозят пассажиров  с животными - они не станут покупать заявку."></textarea>
				<div class=" helptext">осталось символов 200</div>
			</div>
			<div class="uk-button-group uk-width-1-1">
				
				<a href="#" data-uk-switcher-item="previous" class="uk-button uk-button-warning   float_left"><span>< Back</span></a>
				<a href="#"  data-uk-switcher-item="next" class="uk-button uk-button-danger     float_right"><span>Next ></span></a>
			</div>
			</form>
		</div>
    </div>
</div>
		{% include 'DaVinciTaxiBundle:Home:map_block.html.twig' %}
    <div class="clear"></div>


