

	<ul class="tabs uk-tab  chois">
        <li class="uk-width-1-3 active ">
			<a href="#">
				<div class="arrow_box"><span class="on">1</span><span class="hide"> General information</span>
				</div>
			</a>
		</li>
        <li class="uk-width-1-3 other second">
			<a href="#">
				<div class="arrow_box"><span class="on">2</span><span class="hide"> Other information</span>
				</div>
			</a>
		</li>
        <li class="uk-width-1-3 contact">
			<a href="#">
				<div class="arrow_box"><span class="on">3</span><span class="hide"> Contact information</span>
				</div>
			</a>
		</li>
    </ul>
    <div class="destination">

	<div class="form-block-wrap">	
		<div class="labels">	
			<label><i class="mp-icon-point-a"></i> From:</label>
		</div>
		<div class="inputs">
				<div class="uk-form-icon">
					<i class=" mp-icon-nord-star"></i>
					<input class="flex-input date-pick" placeholder="Enter postcode, Venue or Place" type="text"  />
				</div>
		</div>
	</div>
	<div class="form-block-wrap">		
         <div class="labels">   
			<label><i class="mp-icon-point-b"></i> To:</label>
		</div>
		<div class="inputs">
				<div class="uk-form-icon">
					<i class=" mp-icon-nord-star"></i>
					<input class="flex-input date-pick" placeholder="Enter postcode, Venue or Place" type="text"   />
				</div>
		</div>
	</div>
		<div class="clr"></div>	
            
     
        <div class=" uk-width-1-1"><span class="destinationmark">+</span> Добавить еще пункт назначения</div>
        <hr/>
	<div class="form-block-wrap">
		<div class="labels">
			<label>Pickup:</label>
		</div>
		<div class="inputs">
			<div class="uk-form-controls">
				<input class="date-input date-pick"  type="text" placeholder="mm/dd/yy" id="datepicker0"  />
				<div class="uk-button uk-form-select select" data-uk-form-select="">
                    <span>11</span>
                    <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">12</option>
                            <option value="2">13</option>
                            <option value="3">14</option>
                            <option value="4">15</option>
                        </select>
                    </div>
				
				<div class="uk-button uk-form-select select" data-uk-form-select="">
                    <span>01</span>
                     <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                        </select>
                </div>
			</div>
		</div>
	</div>
		<div class="clr"></div>	
       
       <input type="checkbox" /><span class="uk-form-controls"> Make this a return trip </span>
	<div class="form-block-wrap">
		<div class="labels">
			<label>Return:</label>
		</div>
		<div class="inputs">
			<div class="uk-form-controls ">
				<input class="date-input date-pick"  type="text" placeholder="mm/dd/yy" id="datepicker0"  />
				<div class="uk-button uk-form-select select" data-uk-form-select="">
                    <span>11</span>
                     <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">12</option>
                            <option value="2">13</option>
                            <option value="3">14</option>
                            <option value="4">15</option>
                        </select>
                </div>
				<div class="uk-button uk-form-select select" data-uk-form-select="">
                    <span>01</span>
                     <i class="uk-icon-caret-down"></i>
                        <select>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                        </select>
                </div>
			</div>
		</div>
	</div>
        

		<div class="uk-button-group uk-width-1-1"><a href="{{ url('order_step_2') }}" class="uk-button nextbutt">Next > </a></div>
		
    </div>

		{% include 'DaVinciTaxiBundle:Home:map_block.html.twig' %}
    <div class="clear"></div>


