

	<ul class="tabs uk-tab  chois">
        <li class="uk-width-1-3  second">
			<a href="#">
				<div class="arrow_box"><span class="on"><i class="uk-icon-check"></i></span><span class="hide"> General information</span>
				</div>
			</a>
		</li>
        <li class="uk-width-1-3 other first">
			<a href="#">
				<div class="arrow_box"><span class="on"><i class="uk-icon-check"></i></span><span class="hide"> Other information</span>
				</div>
			</a>
		</li>
        <li class="uk-width-1-3 active last">
			<a href="#">
				<div class="arrow_box"><span class="on">3</span><span class="hide"> Contact information</span>
				</div>
			</a>
		</li>
    </ul>
     <div class="order-details-over">
		
        <h1>Тариф</h1>
		<div class="order-details">
			<table class="checks">
				<colgroup><col width="40%"/><col width="30%"/><col width="30%"/><colgroup>
				<tr>
					<td><input type="checkbox" /> <label>Рекомендуем цену</label></td>
					<td><span class="recommend">$100.00</span></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="checkbox" /> <label>Ваша цена</label></td>
					<td><span class="overinput"><span class="dollar">$</span><input type="text" placeholder="0.00"/></span></td>
					<td><label>Tips&nbsp;&nbsp;</label><span class="overinput"><span class="dollar">$</span><input   type="text" placeholder="0.00"></span></td>
				</tr>
			</table>
		</div>
	</div>
		 <div class="order-details-over">
			<h1>Контактная информация</h1>
			<div class="order-details">
				<div class="contactpassenger">
					<div class="nottravel"><input type="checkbox" /> I am not traveling. I am making this booking on another's behalf.</div>
					<div class="pers-data"><div class="left"><label>Имя пассажира</label></div> <div class="right"><input type="text" placeholder="не указано"></div></div>
					<div class="pers-data"><div class="left"><label>Телефон пассажира</label></div>  <div class="right"><input type="text" placeholder="не указано"></div></div> 
					<div class="pers-data"><div class="left"><label>E-mail пассажира</label></div>  <div class="right"><input type="text" placeholder="не указано"></div></div> 
					<div class="pers-data"><div class="left"><label>Skype пассажира</label></div>  <div class="right"><input type="text" placeholder="не указано"></div ></div> 
				</div>

				<div class="uk-button-group uk-width-1-1">
					<a href="#" class="uk-button uk-button-warning float_left">< Back</a>
					<a href="#" class="uk-button uk-button-danger float_right">Submit</a>
				</div>
			</div>
		</div>
    

		{% include 'DaVinciTaxiBundle:Home:map_block.html.twig' %}
    <div class="clear"></div>




