	<div class="wrap-left">
		 <div class="order-details-over">
			
			<h1>Тариф</h1>
			<div class="order-details padding-top">
				
					<div class="pers-data">
						<div class="left">
							<input type="checkbox" /> <label>Рекомендуем цену</label>
						</div>
						<div class="right">
							<span class="recommend">$100.00</span>
						</div>
					</div>
					<div class="pers-data">
						<div class="left">
							<input type="checkbox" /> <label>Ваша цена</label>
						</div>
						<div class="left-spec">
							<span class="overinput"><span class="dollar">$</span><input type="text" placeholder="0.00"/></span>
							
						</div>
						<div class=" adapt-left">
								<label>Tips&nbsp;&nbsp;</label><span class="overinput"><span class="dollar">$</span><input   type="text" placeholder="0.00"></span>
							</div>
					</div>
					
			</div>
		</div>
		 <div class="order-details-over">
			<h1>Контактная информация</h1>
			<div class="order-details">
				<div class="contactpassenger">
					<div class="nottravel"><input type="checkbox" /> I am not traveling. I am making this booking on another's behalf.</div>
					<div class="pers-data"><div class="left"><label>Имя пассажира</label></div> <div class="right"><input type="text" placeholder="не указано"></div></div>
					<div class="pers-data"><div class="left"><label>Телефон пассажира</label></div>  <div class="right"><input type="text" placeholder="не указано"></div></div> 
					<div class="pers-data"><div class="left"><label>E-mail пассажира</label></div>  <div class="right"><input type="text" placeholder="не указано"></div></div> 
					<div class="pers-data"><div class="left"><label>Skype пассажира</label></div>  <div class="right"><input type="text" placeholder="не указано"></div ></div> 
				</div>

				<div class="uk-button-group uk-width-1-1">
					<a href="#" data-uk-switcher-item="previous" class="uk-button uk-button-warning float_left">< Back</a>
					<a href="#" class="uk-button uk-button-danger float_right">Submit</a>
				</div>
			</div>
		</div>
    </div>

		{% include 'DaVinciTaxiBundle:Home:map_block.html.twig' %}
    <div class="clear"></div>




