

	<ul class="tabs uk-tab  chois">
        <li class="uk-width-1-3  second">
			<a href="#">
				<div class="arrow_box"><span class="on">1</span><span class="hide"> General information</span>
				</div>
			</a>
		</li>
        <li class="uk-width-1-3 other first">
			<a href="#">
				<div class="arrow_box"><span class="on">2</span><span class="hide"> Other information</span>
				</div>
			</a>
		</li>
        <li class="uk-width-1-3 active last">
			<a href="#">
				<div class="arrow_box"><span class="on">3</span><span class="hide"> Contact information</span>
				</div>
			</a>
		</li>
    </ul>
    <div class="paramauto">
        <h1>Тариф</h1>
        <table>
            <colgroup><col width="82%"/><col width="16%"/><col width="2%"/><colgroup>
            <tr>
                <td><input type="checkbox" /> <span class="text">Рекомендуем цену</span></td><td class="align_center"><span>100</span></td><td>$</td>
            </tr>
            <tr>
                <td><input type="checkbox" /> <span class="text">Ваша цена</span></td><td class="align_center"><input class="yourcash" type="text" placeholder="0.00"></td><td>$</td>
            </tr>
        </table>
        <h1>Контактная информация</h1>
        <div class="contactpassenger">
            <label class="nottravel"><input type="checkbox" /> I am not traveling. I am making this booking on another's behalf.</label>
            <label><span class="text">Имя пассажира</span> <input type="text" placeholder="не указано"></label>
            <label><span class="text">Телефон пассажира</span> <input type="text" placeholder="не указано"></label>
            <label><span class="text">E-mail пассажира</span> <input type="text" placeholder="не указано"></label>
            <label><span class="text">Skype пассажира</span> <input type="text" placeholder="не указано"></label>
        </div>

		<div class="uk-button-group uk-width-1-1">
			<a href="#" class="uk-button nextbutt bigbutt uk-width-1-1"><span>Публиковать заявку</span></a>
			<a href="#" class="uk-button nextbutt backbutt bigbutt bluebg uk-width-1-1"><span>< Выбрать водителя</span></a>
		</div>
    </div>

		{% include 'DaVinciTaxiBundle:Home:map_block.html.twig' %}
    <div class="clear"></div>




