<div id="content">
	<div class="content-block taxicompany">
		<form action="{{ url('company_step3') }}" method="get">
			<fieldset>
				<ul class="tabs threetabs">  
					<li class="general"><a class="arrow_box" href="register.php"><span><img src="{{ asset('bundles/davincitaxi/images/kr.png') }}" alt="" /></span> General information</a></li>
					<li class="other current"><div class="arrow_box"><span>2</span> Other information</div></li>
					<li class="contact"><div class="noarrow"><span>3</span> Contact information</div></li>
				</ul>
				<label><span class="text">Когда зарегестрирована:</span>
					<input type="text" id="datepicker" name="datepicker" required/>
				</label>
				<label><span class="text">Где зарегестрирована:</span>
					<input type="text" id="placeregister" name="placeregister" required/>
				</label>
				<label><span class="text">Номер в гос. реестре:</span>
					<input type="text" name="reestrnumber" id="reestrnumber" required />
				</label>
				<label><span class="text">Количество машин (taxi):</span>
					<input type="text" name="numbercar"  id="numbercar" required/>
				</label>
				<label><span class="text">Логотип компании:</span>
					<div class="file_upload">
							<div>нажмите, чтобы добавить изображение</div>
							<input type="file" name="companylogo" id="companylogo">
					</div>								

				</label>
				<div  class="nextbutt">		<input class="submit" type="submit" value="Next"/></div>
			</fieldset>
		</form>
	</div>
</div>
