<nav class="breadcrubs">
	<ul class="crunbs">
		<li><a href="#">Home</a></li>
		<li><a href="#">Registration</a></li>
		<li>Taxi Company Step 1</li>
	</ul>

	
	<div class="lang">
		<a href="#" class="opener">RUS</a>
		<ul class="drop">
			<li><a href="#">RUS</a></li>
			<li><a href="#">ENG</a></li>
			<li><a class="disabled">ESP</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</nav>

