<nav class="breadcrubs">
	{{ knp_menu_render('breadcrumb',{'currentAsLink':false} ) }}

	
	<div class="lang">
		<a href="#" class="opener">RUS</a>
		<ul class="drop">
			<li><a href="#">RUS</a></li>
			<li><a href="#">ENG</a></li>
			<li><a class="disabled">ESP</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</nav>

