
	
		{{ knp_menu_render('breadcrumb',{'currentAsLink':false} ) }}
	<ul class="uk-subnav uk-subnav-pill lang">
		<li data-uk-dropdown="{mode:'click'}" class="">
			<a href="#" class="uk-button uk-button-link">Rus <i class="uk-icon-caret-down"></i></a>
				<div class="uk-dropdown uk-dropdown-small">
					<ul class="uk-nav uk-nav-dropdown">
						<li><a class="" href="#">Rus</a></li>
						<li><a class="" href="#">Eng</a></li>
						<li><a class="" href="#">Spa</a></li>
					</ul>
				</div>
		</li>
	</ul>
	




