div, li, ul, ol, li, label {
	@include box-sizing(border-box); 
}

ul, ol, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a,.link {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

