{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'information' %}
{% block title %}
    {% include 'DaVinciTaxiBundle::banner.html.twig' %}
{% endblock%}
{% block body %}
	<div class="shadow-main">
		<div class="button-swicher uk-grid uk-grid-small uk-width-1-1" data-uk-switcher="{connect:'#information'}">
			<div class="uk-panel uk-width-1-3">
				<button class="uk-width-1-1 uk-button">{{ 'Social networks'|trans }}</button>
			</div>
			<div class="uk-panel uk-width-1-3">
				<button class="uk-width-1-1 uk-button">{{'Reviews'|trans}}</button>
			</div>
			<div class="uk-panel uk-width-1-3">
				<button class="uk-width-1-1 uk-button">{{'Blog'|trans}}</button>
			</div>
		</div>
		<div class="whitebg">
			<div class="message">
				<span>Внимание!</span> Текстовая информация.
			</div>
			<ul id="information" class="uk-switcher">
				<li class="uk-active">
					{% include 'DaVinciTaxiBundle:Information:social.html.twig' %}
				</li>
				<li>
					{% include 'DaVinciTaxiBundle:Information:reviews.html.twig' %}
				</li>
				<li>
					{% include 'DaVinciTaxiBundle:Information:blog.html.twig' %}
				</li>
			</ul>



		</div>
	</div>


{% endblock %}

{% block javascripts %}
    {% javascripts filter='?requirejs'
    '@DaVinciTaxiBundle/Resources/public/js/pages/textarea.js'
    %}

    {{ require_js_initialize({ 'main' : asset_url })}}

    {% endjavascripts %}
{% endblock %}

