<div class="social">
   	<div class="buttom-swicher">
        <ul class="uk-width-1-1 uk-width-large-2-3" data-uk-switcher="{connect:'#notifications'}">
            <li class="uk-active"><a href="#">{{ 'All' |trans }}</a></li>
            <li><a class="facebook" href="#"><i class="uk-icon-facebook"></i></a></li>
            <li><a href="#"><a class="twitter" href="#"><i class="uk-icon-twitter"></i></a></a></li>
            <li><a class="google" href="#" title="google+"><i class="uk-icon-google-plus"></i></a></li>
            <li><a class="youtube" href="#"><i class="uk-icon-youtube"></i></a></li>
        </ul>
    </div>
			
</div>