<div class="history">
	<div class="table-container">
		<table class="uk-table thead-gray">
			<thead>
				<th>#</th>
				<th>Tranzaction ID</th>
				<th class="daterange">
					<div class="uk-form-icon uk-form-icon-flip">
					    <i class="uk-icon-calendar"></i>
					    <input type="text" placeholder="02/12/14-26/12/14">
					</div>
				</th>
				<th>Details of payment</th>
				<th>
					<i class="mp-icon-arrow-up"></i>
					Amount
				</th>
				<th>Currency</th>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>24234234</td>
					<td><b>02 MAR 14</b> 08:00 PM</td>
					<td><a href="#">Пополнение счета TaxiMyPrice</a></td>
					<td class="uk-text-success">- 1,220.00</td>
					<td>USD</td>
				</tr>
				<tr>
					<td>2</td>
					<td>24234234</td>
					<td><b>02 MAR 14</b> 08:00 PM</td>
					<td><a href="#">Пополнение счета TaxiMyPrice</a></td>
					<td class="uk-text-danger">+ 1,220.00</td>
					<td>USD</td>
				</tr>
				<tr>
					<td>3</td>
					<td>24234234</td>
					<td><b>02 MAR 14</b> 08:00 PM</td>
					<td><a href="#">Пополнение счета TaxiMyPrice</a></td>
					<td class="uk-text-danger">+ 1,220.00</td>
					<td>USD</td>
				</tr>
				<tr>
					<td>4</td>
					<td>24234234</td>
					<td><b>02 MAR 14</b> 08:00 PM</td>
					<td><a href="#">Пополнение счета TaxiMyPrice</a></td>
					<td class="uk-text-danger">+ 1,220.00</td>
					<td>USD</td>
				</tr>
				<tr>
					<td>5</td>
					<td>24234234</td>
					<td><b>02 MAR 14</b> 08:00 PM</td>
					<td><a href="#">Пополнение счета TaxiMyPrice</a></td>
					<td class="uk-text-danger">+ 1,220.00</td>
					<td>USD</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>