<ul class="complete">
	<li>
		<label>First name:</label><span>Roman</span>
	</li>
	<li>
		<label>Middle:</label><span>Ivanovich</span>
	</li>
	<li>
		<label>Last name:</label><span>Lukin</span>
	</li>
	<li>
		<label>Country:</label><span>Russia</span>
	</li>
	<li>
		<label>City:</label><span>Moscow</span>
	</li>
	<li>
		<label>Amount:</label><span>12,300.00 USD</span>
	</li>
	<li>
		<label>Commission services:</label><span>0.03 USD</span>
	</li>
	<li>
		<label>Total amount:</label><span>12,300.03 USD</span>
	</li>
	<li>
		<label>Note:</label><span>Popolnenie</span>
	</li>
</ul>