<ul class="complete">
	<li>
		<label>E-mail:</label><span>roman1980@gmail.com</span>
	</li>
	<li>
		<label>Subject:</label><span>Что то</span>
	</li>
	<li>
		<label>Amount:</label><span>12,300.00 USD</span>
	</li>
	<li>
		<label>Commission services:</label><span>0.03 USD</span>
	</li>
	<li>
		<label>Total amount:</label><span>12,300.03 USD</span>
	</li>
	<li>
		<label>Note:</label><span>Popolnenie</span>
	</li>
</ul>