{# Payment step 2 #}
<div class="addcard">
	{% if paymentMethod == 'CreditCardPaymentMethod' %}
		{% include 'DaVinciTaxiBundle:Store:credit_card_method.html.twig' %}
	{% elseif paymentMethod == 'PayPalPaymentMethod' %}
		{% include 'DaVinciTaxiBundle:Store:credit_card_method.html.twig' %}
	{% elseif paymentMethod == 'SkrillPaymentMethod' %}
		{% include 'DaVinciTaxiBundle:Store:skrill_method.html.twig' %} 
    {% endif %}
</div>
		