{% extends "FOSUserBundle::layout.html.twig" %}
{% block theme 'register' %}
{% block title %}
{% endblock%}
{% block fos_user_content %}

	<div class="wrapper-content">
		<div class="content checkmail">
			<div class="uk-width-5-1 float_left">
				<h3>Please check your email and your address! </h3>
				<p>A comfirmation email has been sent to you, it may take a few minutes. </p>
				<p>Follow the directions in the email to comfirm and complete your accout. </p>
			</div>
			<div class="uk-width-5-2 float_right" id="resend_email">
				<div><a href="#">Didn't get your verification email?</a></div>
				<div><a href="#">Used the wrong email address?</a></div>
			</div>
			<div class="clear"></div>

		</div>
		<div class="content usedemail">
		{% if user.email %}{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}{% endif %}
		</div>
        {% for flashMessage in app.session.flashbag.get('change_email_message') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div id = "change_email_block" class="changemail" style="display:none">
            {{ form(form) }}
        </div>
	</div>

{% endblock fos_user_content %}
