/******styles for:
register 
register_independent_driver
register_company_driver
register_company
register_manager
register_checkmeil
register_choose_office
*****/
/*base styles*/
.wrap-content {position: relative;}
.register .wrap-content {
    background-image:url(../images/bgmain.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: 0 0;
    background-size: cover;
    position: relative;
}
footer {
    position: relative;
    z-index: 2;
}
.align_center {text-align: center;}
.blue {color: #528ed3;}
.bluebg {background: #528ed3 !important;}
.display_none {display: none !important;}
.float_left {float: left !important;}
.float_right {float: right !important;}
.clear {
    clear: both;
    display: block;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin: 0 0 -1px;
}
/* /base styles*/
.register label{
    display:block;
    margin:0 0 12px;
}
.register label.forphoneinput{    margin:0;}
.register  label .text {
    display:inline-block;
    vertical-align:middle;
}
.register .title{
    background: #fff;
    color: #3d3d3d;
    text-align: center;
    margin: 0 0 9px 0;
    padding: 17px 0 10px 0; 
    font-size: 1.9em;
    line-height: 120%;
    position: relative;
    clear: both;
}

/* form styles*/
.register .uk-form-select, .register select, .register  textarea, .register input[type="email"], .register  input[type="password"], .register  input[type="text"], .register input[type="date"] {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    color: #8e9099;
    font-size: 15px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 4px 11px 4px 9px;
 }
.register .uk-form-select span  {
    display: inline-block;
    width: 98%;
}
.register .uk-form-select select{   width: 100%;}
.register .uk-form-select {
    position: relative;
    height: 29px;
    line-height: 20px;
}
.wrapper-content .register .authorizat .uk-button.nextbutt.btn-red {
    background: none repeat scroll 0 0 #ff3148;
    border: 0 none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.wrapper-content .register .authorizat .uk-button.nextbutt.btn-red:hover {    background: none repeat scroll 0 0 #ff4d61;}
.wrapper-content .register .uk-button {
    font-size: 22px;
    padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  border: none;
  background: #27bf2e;
  color: #fff;
}
.wrapper-content .register input[type="submit"] {
    border: medium none;
    border-radius: 4px;
    color: #fff;
}
.wrapper-content .register form *::-moz-placeholder {    color: #9b9b9b;}
.wrapper-content .register form.fos_user_registration_register {margin-top: 8px;}
.uk-form-password , .fos_user_registration_register .uk-form-password {display: block;}
 .register .uk-form-horizontal .twolabels, .register .uk-form-horizontal .uk-form-label {
    float: left;
    color: #000;
    width: 34.8%;
    font-weight: normal;
    padding-right: 10px;
    font-size: 16px;
 }
.register .uk-form-horizontal.verifi  {     width: 93%;}
.register .uk-form-horizontal.verifi .twolabels, .register .uk-form-horizontal.verifi  .uk-form-label { width: 34.2%;padding-right: 0;}
.register .uk-form-horizontal.verifi .uk-form-controls {    width: 65.2%;}
.register .uk-form-horizontal.fos_user_registration_register .uk-form-label  {padding-right: 0;}
.register .uk-form-horizontal.verifi .label-info{
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
}
.register .uk-form-horizontal .uk-form-controls {
    margin-lefT: 0;
    floaT: left;
    width: 65.2%;
}
.register .uk-form-horizontal .uk-form-controls select, .register .uk-form-horizontal .uk-form-controls textarea, .register .uk-form-horizontal .uk-form-controls input[type="text"], .register .uk-form-horizontal .uk-form-controls input[type="password"], 
.register .uk-form-horizontal .uk-form-controlsinput[type="email"] {    height: 28px;}
.register .uk-form-horizontal .uk-form-row  {
    margin-top: 13px;
    margin-bottom: 13px;
 }
.register .authorizat .uk-form-row   {margin: 0;}
.register .uk-form-horizontal .uk-form-row.addlangline  {   margin-bottom: 12px; }

.register .uk-form-horizontal.verifi .uk-form-row.addlangline, .register .uk-form-horizontal.verifi .uk-form-row.addphoneline, .register .uk-form-horizontal.verifi .uk-form-row  {
    margin-top: 4px;
    margin-bottom: 3px;
}
.verifi .uk-button-group {margin-top: 15px;}
.register .uk-form-horizontal .uk-form-row.addlangline, .register .uk-form-horizontal .uk-form-row.addphoneline    {    margin-top: 0px;}
.register .uk-form-horizontal .addphoneareas {  margin-bottom: 2px;}
.register .uk-form-horizontal .uk-form-row.addphoneline    {    margin-bottom: 0px;}
.register .uk-form-horizontal .addlangline .uk-form-label   {margin-top: 0;}
.addphoniklast .utooltip, .addphoniklast .questiontooltip {display: none;}
.utooltip {
    position: relative;
    float: left;
    text-align: left;
    margin-left: 1px;
    background: url("../images/tooltip.png") no-repeat scroll 0 0 transparent;
    display: block;
    width: 13px;
    height:14px;
    text-align: center;
    color: #fff;
    padding-top: 0px;
    font-size: 10px;
    vertical-align: middle;
    line-height: 130%;
    padding-right: 1px;
    margin-lefT: 4px;
    position: relative;
    top: 7px;
    z-index: 0;
 }
 .uk-tooltip {
    background      : #ffffff; 
    border          : 1px solid #cccccc; 
    color           : #6c6c6c;
    border-radius: 3px;
}
.uk-tooltip-left:after {  border-left-color: #fff;}
.title .uk-tooltip-left:after {  border-left-color: #ccc;}
.title .utooltip, .title .questiontooltip {
    position: reltive;
    display: inline-block;
    font-size: 11px;
    float: none;
    text-transform: none;
    margin-left: 5px;
    top: -2px;
 }
.numcars {margin-right: 12px;}
 .register .uk-form input[type="radio"] {
    float: left;
    position: relative;
    top: 12px;
}
.register .uk-form input[type="checkbox"] {
    margin-top: 0;
    margin-right: 10px;
}
.register .uk-form .wicheck  input[type="checkbox"] {   margin-top: -3px;}
.wrapper-content .register .uk-button.nextbutt.backbutt {
    background: #8c8e96;
    float: left;
}
.wrapper-content .register .uk-button.nextbutt.backbutt:hover, .wrapper-content .register .uk-button.nextbutt.backbutt:focus {
    background: #8c8e96;
    opacity: 0.6;
}
.wrapper-content .register .uk-button.nextbutt.backbutt:active{
    opacity: 0.4;
    background: #8c8e96;
}
.wrapper-content .register .uk-button:hover, .wrapper-content .register .uk-button:focus {
  background-color: rgba(39, 191, 46, 0.68);
  color: #fff;
  outline: none;
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.16);
}
.wrapper-content .register .uk-button.backbutt:hover, .wrapper-content .register .uk-button.backbutt:focus {  background-color: rgba(140, 142, 150, 0.68);}
.wrapper-content .register .uk-button:active, .wrapper-content .register .uk-button.uk-active {  background-color: rgba(39, 191, 46, 0.4);}
.wrapper-content .register .uk-button.backbutt:active, .wrapper-content .register .uk-button.backbutt.uk-active {  background-color: rgba(140, 142, 150, 0.4);}
.register .uk-form-select.addlang  {margin-bottom: 14px;}
.addlang {
    background: none repeat scroll 0 0 #e8e8e8;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    color: #3c3d45;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 21px;
    padding: 4px 0 3px;
    text-align: center;
    width: 540px;
}
.addotherlanguage {
    width: 100%;
    background: none repeat scroll 0 0 #528ed3;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px  4px 9px;
     text-shadow: 0 1px rgba(0, 0, 0, 0.3);
     vertical-align: middle;
}
.addphoneline .text, .addlangline .text {    padding: 5px 0;}
.addphoneline .text {   padding-bottom: 2%;}
.phonecode {
    float: left;
    margin-right: 10px;
 }
 .register .uk-form-horizontal  .addphoneareas {    float: left; }
 .wicheck {
    margin-top: 4px;
    margin-bottom: 2px;
    position: relative;
    float: left;
    font-size: 16px;
 }
.adphonik {
    width: 100%;
    margin-bottom: 12px;
}
.register .uk-form-horizontal .uk-width-1-0.adphoniklast{margin-bottom: 26px; }
 .wicheck  .utooltip, .wicheck .questiontooltip {   margin-top: -4px;}
 .whicheck-1 {
    min-width: 66px;
    width: 28%;
    margin-right: 23.2%;
}
 .whicheck-2 {
    width: 32%;
    min-width: 106px;
}
 .register .wicheck  label {display: inline-block;}
 .addphone .utooltip, .addphone .questiontooltip {
    width: 14%;
    opacity: 0.6
 }
 .register .uk-form-horizontal  .addphoneareas select{    margin-right: 10px;}
.wifis {    margin-bottom: 12px;}
.wifis label {
    display: inline-block;
    margin: 0 15px 0 4px;
}
.register .wicheck  label {
    display: inline-block;
    margin-bottom: 0;
}
.twolabels .text {  clear: left;}
.register .uk-form-horizontal .twolabels  .uk-form-label {
    width: 100%;
    margin-top: 0px;
}
.register .addphoneareas input[type="text"] {
    margin-right: 0;
}
.register .addphoneareas input[type="text"].tempo { width: 71.3%;}
.addphone {
    cursor: pointer;
    color: #ff4d61;
    text-decoration: underline;
    display: inline-block;
}
.addlangline select {
    float: left;
    clear: left;
    margin-bottom: 12px;
}
.addlangline ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.addlangline li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.officepagetitle, .register .officepagetitle {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin: 0px auto 36px auto;
    padding: 22px 0 8px 0;
    text-transform: none;
}
.officepagetitle img {
    margin-left: 15px;
    margin-right: 5px;
    margin-top: -14px;
}
.officepagetitle h2, .register h2 {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 28px;
    text-align: center;
}
.gobutt {
    background: none repeat scroll 0 0 #528ed3;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 120%;
    margin: -1px 10px 0 4px;
    padding: 8px 10px 6px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.gobutt:hover {   text-decoration: none;}
.blockoffice {
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px;
    display: inline-block;
    margin: 0 22px 25px 3px;
    padding: 14px 10px 0;
    text-align: center;
    width: 281px;
}
.officetitle {
    color: #528ed3;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 11px;
}
.officecomment {
    color: #ff4d61;
    font-size: 14px;
    margin-bottom: 16px;
}
.blockoffice ul {
    margin: 0 0 32px;
    padding: 0;
    text-align: left;
}
.blockoffice li {
    background: url("../images/officelist.png") no-repeat scroll 10px center #f1f1f1;
    font-size: 14px;
    list-style: none outside none;
    margin: 0 0 -1px -10px;
    padding: 9px 8px 8px 37px;
    text-align: left;
    width: 256px;
}
.blockoffice li.odd {
    background: url("../images/officelist.png") no-repeat scroll 10px center transparent;
}
.officemore, .trial {
    border-radius: 4px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}
.officemore {
    background: none repeat scroll 0 0 #528ed3;
    font-size: 18px;
    padding: 8px 20px;
}
.trial {
    background: none repeat scroll 0 0 #27bf2e;
    font-size: 24px;
    padding: 14px 20px 16px;
    text-transform: uppercase;
}
.register a.trial:hover {
    color: #fff;
    text-decoration: underline;
}
.register #makechoice .uk-modal-dialog {
    min-width: 283px;
    width: 15.8%;
    margin: 25% auto;
}
#makechoice h2 {
    color: #ff4d61;
    font-size: 18px;
    margin: 6px 0 12px;
}
#makechoice ul {
    margin: 0;
    padding: 0;
}
#makechoice li {
    font-size: 24px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#makechoice li a {
    display: block;
    margin-bottom: 11px;
    padding: 8px 20px;
    background: none repeat scroll 0 0 #528ed3;
    border-radius: 4px;
    color: #fff;
}
#makechoice li a:hover {
    text-decoration: none;
    opacity: 0.6
}
#makechoice li a:active {   opacity: 0.4}

.register .uk-form-controls {   position: relative;}
#makechoice ul {
    margin: 0;
    padding: 0;
}
#makechoice li {
    font-size: 24px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#makechoice li a {
    display: block;
    margin-bottom: 12px;
    padding: 15px 6px;
    background: none repeat scroll 0 0 #528ed3;
    border-radius: 4px;
    color: #fff;
}
#makechoice li a:hover {
    text-decoration: none;
    opacity: 0.6
}
#makechoice li a:active {   opacity: 0.4}
.register .uk-modal-dialog {    padding: 7px 10px 1px;}
.register .uk-modal-dialog > .uk-close:first-child {    margin: 3px -1px 0 0;}

.register .uk-form-horizontal  .style1 {
    float: left;
    width: 50%;
}
.register  .style1, .register  .style2 {
    margin: 0;
    overflow: hidden;
    position: relative;
}
.register  .style1 label, .register  .style2 label {   margin: 0 0 9px;}
.register  label span.text{color: #000;}
.register .verifi label span.text{color: #000;}
.register  .style1 select {width: 100%;}
.uk-button-group div .nextbutt.twobuttnext, #buttons .nextbutt .twobuttnext {    float: right;}
.register label, .register fieldset {    position: relative;}
/** errors */
.register .errors {
    color: #ff4d61;
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    width: 100%;
    display: inline-block;
}
.register.mainpage fieldset  .errors {
    float: left;
    margin-bottom: -7px !important;;
}
.register fieldset .errors {
    position: relative;
    list-style: none outside none;
    margin-top: 0px;
    display: inline-block;
}
.register label .errors {
    position: absolute;
    top: 24px;
    float: left;
    left: 35%;
}
@media (max-width: 1017px) {
    .register label .errors {
        position: absolute;
        top: 30px;
        float: left;
        left: 0;
    }
}
.register .authorizat  .errors {
    float: left;
    position: absolute;
    left: 5%;
    width: 95%;
    text-align: left;
    top: 24px;
}
.register.mainpage fieldset  .errors li {
    margin-top: 2px;
    list-style: none outside none;
    line-height: 7px;
}
.register label .errors li {
    margin-bottom: 21px;
}

/** /errors */

/** choose office */
.greentitle {
    color: #27bf2e;
    margin: 9px 0 0;
}
.greentitle span {
    display: inline-block;
    padding: 0 10px 10px 0;
}
.officepagetitle .greentitle span img {margin:0; position: relative; top: 5px;}
.register .uk-button-group {    
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrapper-content .register form.authorizat {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    min-width: 280px;
    width: 50%;
}
.authorizat .uk-h3, .authoriz .uk-h3, .authorizat h3, .authoriz h3 {
    color: #ff4d61;
    margin-bottom: 14px;
    margin-top: 10px;
    font-size: 19px;
}
.authorizat p, .authoriz p {
    font-size: 14px;
    margin-bottom: 21px;
    margin-top: 0px;
}
.authorizat a, .authoriz a {    color: #528ed3;}
.wrapper-content .register .authorizat .uk-button.nextbutt {
    margin-bottom: 19px;
    background: #528ed3;
}
.wrapper-content .register .authorizat .uk-button.nextbutt:hover {    background: none repeat scroll 0 0 #73a9e7;}
.authorizat input[type="text"], .authorizat input[type="password"] {
    border: 1px solid #8e9099;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 4px 11px 4px 9px;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 4px;
}
div.loginfb, div.logintw {
    border-radius: 3px;
    display: inline-block;
    margin-top: 12px;
    width: 100%;
}
div.loginfb a, div.logintw a {
    color: #fff;
    display: block;
    padding: 5px;
    text-decoration: none;
}
a.loginfb, a.logintw {
    display: block;
    float: left;
    height: 52px;
    margin-left: 13px;
    margin-top: 6px;
    text-decoration: none;
    width: 52px;
}
a.loginfb {    background: url("../images/fbc.png") no-repeat scroll 0 0 transparent;}
a.logintw {    background: url("../images/googlec.png") no-repeat scroll 0 0 transparent;}
/** /choose office */

.register .uk-form-password-toggle {right: 46px;}
.wrapper-content .register {
    max-width: 560px;
    min-width: 40%;
    margin: 0 auto;
    padding: 4px 10px 10px 10px;
}
body.register .main-content{
    background: none;
    padding-top: 0;
}
.wrapper-content .register form{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.wrapper-content .register .authorizat{ text-align: center;}
/** checkmail */
.checkmail a, .about .term a {    color: #528ed3;}
.term a {color: #ff4d61; text-decoration: underline;}
.checkmail .float_left{ width: 74.8%;}
.checkmail .float_right {
    text-align: right;
    font-size: 14px;
    width: 25.2%;
    padding-top: 6px;
}
.checkmail .float_right  div{   line-height: 120%;}
.checkmail {
    text-align: left;
    background: url("../images/checkmail.png") no-repeat 14px center #fff;
    padding: 17px 12px 20px 118px;
    width:83.2%;
    margin: 27px auto 0 auto;
    color: #000;
    min-width: 283px;
}
.changemail {
    text-align: left;
    padding: 12px 12px 5px 118px;
    margin: 0 auto;
    color: #000;
    min-width: 283px;
    width:83.2%;
    background: #fff;
    font-size: 16px;
}
.changemail fieldset {margin: 0 0 5px 0;}
.changemail div, .changemail .col-sm-9, .changemail label {display: inline-block;}
.changemail label {
    margin-right: 15px;
    padding-top: 8px;
}
.changemail div.form-group {
    width: 37.4%;
    white-spacE: nowrap;
}
.changemail div.form-group .col-sm-9 {width: 77.6%;}
.changemail div.form-group .col-sm-9 input{width: 100%;}
.checkmail  p{
    margin:  0;
    font-size: 16px;
    line-height: 120%;
}
.checkmail  h3{
    margin-bottom:  9px;
    font-weight: bold;
}
.wrapper-content > .content.usedemail {
    padding: 12px 12px 16px 118px;
    margin: 0 auto;
    background: #f4f4f4;
    min-width: 283px;
    width:83.2%;
    font-size: 15px;
}
.wrapper-content > .content.usedemail a{color: #ff4d61;}
.register .uk-form-horizontal input[type="checkbox"] {margin-right: 5px;}
.register .uk-form-horizontal .uk-form-label.pinktext {color: #ff4d61;}
.register .uk-form-horizontal .uk-width-4-5 {width: 98.4%;}
.register .uk-form-horizontal .uk-width-4-6 {width: 71.3%;}
.register .uk-form-horizontal .uk-width-4-8 {width: 96.8%;}
.register .uk-form-horizontal .uk-width-4-10 {width: 25.8%;}
.register .uk-form-horizontal .uk-width-6-10 {width: 74%;}
.register .uk-form-horizontal .uk-width-1-0 {width: 100%;}
.register .uk-form-horizontal .uk-width-1-1 {width: 95%;}
.register .uk-form-horizontal select.uk-width-1-1 {width: 100%;}
.register .uk-form-horizontal .uk-width-4-7 {width: 92.8%;}
.register .uk-form-horizontal .uk-button.uk-width-4-10 {width: 49.6%;}
.register .uk-form-horizontal .uk-width-1-0 {
    width: 100%;
    margin-bottom: 38px;
    margin-bottom: 10px;
    position: relative;
    top: -2px;
}
.register .checkmail .uk-width-5-1 {width: 74.6%;}
.register .checkmail .uk-width-5-2 {width: 25.4%;}
.register .changemail .btn {
    background: #528ed3;
    color: #fff;
    margin-left: 10px;
    border-radius: 4px;
    border: none;
    padding: 5px 15px;
}
.register .changemail .btn:hover {  background: #89baf3;}
.register .uk-form-horizontal .checkregister {margin-top: 28px;}
.register .uk-form-horizontal .checkregister  .uk-form-row  {
    margin-top: 5px;
    margin-bottom: 6px;
}
.register  .checkregister  .uk-form-row.term  {
    font-size: 16px;
    margin-top: 19px;
    margin-bottom: 0;
}
.register .uk-form-horizontal .checkregister  .uk-form-row.term  label{ margin: 0px;}
/** /checkmail */
.uk-form input[type="radio"] {border-radius: 50%;}
.uk-form input[type="radio"], .uk-form input[type="checkbox"] {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: transparent;
}
.uk-form input[type="checkbox"], .uk-form input[type="radio"] {padding: 0;}
.register .uk-form-select.otherlang {margin-bottom: 14px;}

/* breadcrumbs*/
.register .header-wrapper .header-bottom .header-bottom-in {    height: auto;}
.header-wrapper .header-bottom .header-bottom-in .breadcrumbs {height: 30px;}
.header-wrapper .header-bottom .header-bottom-in .breadcrumbs li.current span {line-height: 25px;}
/* /breadcrumbs*/

/* mobiles line */
.intl-tel-input  {float: left;}
/* /mobiles line */
/* /form styles*/


/* mobile styles*/
@media (max-width: 1017px) {
    .register .uk-form-horizontal .uk-form-controls {width: 100%;}
    .register .uk-form-horizontal .uk-form-label, .register .uk-form-horizontal .uk-form-controls,
    .register .uk-form-horizontal .addphoneareas, .register .addotherlanguage   {width: 100%;}
    .wrapper-content .register .uk-button {width: 91%;}
    .phonecode, .register .uk-form-horizontal .addphoneareas select {margin-right: 6px;}
    .changemail div.form-group .col-sm-9 {width: 77.6%;}
}
@media (max-width: 767px) {
    .register .uk-form-horizontal .uk-form-label, .register .uk-form-horizontal .uk-form-controls,
    .register .uk-form-horizontal .addphoneareas    {width: 100% !important;}
    :-moz-any(x), .register .addotherlanguage { width: 97%;}
    .wrapper-content .register .uk-button {width: 91%;}
    .phonecode, .register .uk-form-horizontal .addphoneareas select {margin-right: 6px;}
    label .errors {top: 42px !important;}
    label.unlabel  .errors {top: 24px !important;}
    .register .uk-form-horizontal .uk-width-4-5 {width: 96.8% !important;}
    .register .uk-form-horizontal .uk-width-2-5, .register .uk-form-horizontal .uk-width-1-1 {width: 93.2%  !important;}
    .changemail div.form-group .col-sm-9 {width: 64.8% !important;}
}
@media screen and (max-width: 480px) {
    .register .uk-form-horizontal .uk-width-2-5, .register .uk-form-horizontal .uk-width-1-1 {width: 93.2%  !important;}
     .register .uk-form-horizontal .uk-form-label, .register .uk-form-horizontal .uk-form-controls,
    .register .uk-form-horizontal .addphoneareas    {width: 100%  !important;}
    :-moz-any(x), .register .addotherlanguage {width: 95.4% !important;}
    .wrapper-content .register .uk-button {width: 91%;}
    .phonecode, .register .uk-form-horizontal .addphoneareas select {margin-right: 6px;}
    label .errors {top: 42px !important;}
    label.unlabel  .errors {top: 24px !important;}
    .register .uk-form-horizontal .uk-width-4-5  {width: 96.8% !important;}
    .checkmail {
        background: #fff !important;
        padding: 17px 12px 20px 12px  !important;
    }
    .wrapper-content > .content.usedemail { padding: 14px 12px 20px 12px  !important;}
    .changemail {   padding: 12px 12px 5px 12px !important;}
    .changemail div.form-group .col-sm-9 {width: 56.6% !important;}
}
/* /mobile styles*/
