label{
	display:block;
	margin:0 0 12px;
}
label .text {
/*	width:191px;*/
	display:inline-block;
	vertical-align:middle;
}
.align_center {text-align: center;}
.blue {color: #528ed3;}
.bluebg {background: #528ed3 !important;}
.display_none {display: none !important;}
.float_left {float: left !important;}
.float_right {float: right !important;}
.half {
	width: 50%;
	float: left;
}
.clear {
    clear: both;
    display: block;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin: 0 0 -1px;
}
.register .title{
	background: #3d3d3d;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 20px 0 30px 0;
    padding: 22px 0 18px 0;	
	font-size: 30px;
	position: relative;
	line-height: 120%;
}
select, textarea, input[type="email"], input[type="password"], input[type="text"], input[type="date"] {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #8e9099;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 4px 11px 4px 9px;
    vertical-align: middle;
}
.btn-red {
    background: none repeat scroll 0 0 #ff4d61;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
    height: 51px;
    line-height: 51px;
    padding: 0 20px 1px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
a.btn-red {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 500px;
}
.btn-red:hover {    background: none repeat scroll 0 0 #ff3148;}
@media (max-width: 1017px) {
	.whicheck-1, .whicheck-2, .register .uk-form-horizontal .uk-form-label, .register .uk-form-horizontal .uk-form-controls,
	.register .uk-form-horizontal .addphoneareas	{width: 100%;}
	.wrapper-content .register .uk-button {width: 91%;}
	.phonecode, .register .uk-form-horizontal .addphoneareas select {margin-right: 7px;}
}
@media (max-width: 767px) {
	.whicheck-1, .whicheck-2, .register .uk-form-horizontal .uk-form-label, .register .uk-form-horizontal .uk-form-controls,
	.register .uk-form-horizontal .addphoneareas	{width: 100%;}
	.wrapper-content .register .uk-button {width: 91%;}
	.phonecode, .register .uk-form-horizontal .addphoneareas select {margin-right: 7px;}
}
@media (max-width: 480px) {
	.whicheck-1, .whicheck-2, .register .uk-form-horizontal .uk-form-label, .register .uk-form-horizontal .uk-form-controls,
	.register .uk-form-horizontal .addphoneareas	{width: 100%;}
	.wrapper-content .register .uk-button {width: 91%;}
	.phonecode, .register .uk-form-horizontal .addphoneareas select {margin-right: 7px;}
}
.wrapper-content .register .uk-button {
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 0 16px;
}
.wrapper-content .register input[type="submit"] {
    border: medium none;
    border-radius: 4px;
    color: #fff;
}
.wrapper-content .register form *::-moz-placeholder {    color: #9b9b9b;}
.uk-form-password , .fos_user_registration_register .uk-form-password {display: block;}
.register .uk-form-horizontal .uk-form-label {
	color: #3c3d45;
	width: 40%;
}
.register .uk-form-horizontal .uk-form-controls {
	margin-lefT: 0;
	floaT: left;
	width: 60%;
}
.questiontooltip {
	width: 9%;
	position: relative;
	float: left;
	text-align: left;
}
.addlangline  .questiontooltip , .addphoneline .questiontooltip  {	width: 6%;}
.questiontooltip a span.que{
	display: block;
	width: 18px;
	height:17px;
	text-align: center;
	background: #528ed3 ;
	color: #fff;
	border-radius: 50%;
	padding-top: 1px;
	font-size: 14px;
	vertical-align: middle;
	line-height: 16px;
	margin-lefT: 4px;
	position: relative;
	top: 4px;
	z-index: 0;
}
.questiontooltip a:hover {
	background		: #ffffff;	/*необходимо для IE6*/
	text-decoration	: none;
}
.questiontooltip a span.tooltip {
	display			: none; 
	padding			: 2px 3px; 
	margin-left		: 8px; 
	width			: 76px;
	height: 54px;
	float: right;
	right: 20px;
	top: 0;
	position: relative;
	font-size: 0.7em;
	white-space: normal;
	z-index: 4;
}
.questiontooltip a:hover span.tooltip {
	display			: inline; 
	position		: absolute; 
	background		: #ffffff; 
	border			: 1px solid #cccccc; 
	color			: #6c6c6c;
}
.numcars {margin-right: 12px;}
.register .uk-form input[type="radio"] {
	position: relative;
	top: 3px;
}
.authorizat .uk-h3, .authoriz .uk-h3, .authorizat h3, .authoriz h3 {
    color: #ff4d61;
    margin-bottom: 8px;
}
/*.register .uk-width-1-2{
  width: 47%;
}*/
.wrapper-content .register .uk-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  border: none;
  background: #27bf2e;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  text-shadow: 0 1px 0 #8e9099;

 	display: block;
	padding: 16px 0 14px 0;
	margin-bottom: 16px;
}
.wrapper-content .register .uk-button.nextbutt.backbutt {
	background: #8c8e96;
	float: left;
}
.wrapper-content .register .uk-button.nextbutt.backbutt:hover, .wrapper-content .register .uk-button.nextbutt.backbutt:focus {
	background: #8c8e96;
	opacity: 0.6;
}
.wrapper-content .register .uk-button.nextbutt.backbutt:active{
	opacity: 0.4;
	background: #8c8e96;
}
.wrapper-content .register .uk-button:hover, .wrapper-content .register .uk-button:focus {
  background-color: rgba(39, 191, 46, 0.68);
  color: #fff;
  outline: none;
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.16);
}
.wrapper-content .register .uk-button.backbutt:hover, .wrapper-content .register .uk-button.backbutt:focus {  background-color: rgba(140, 142, 150, 0.68);}
.wrapper-content .register .uk-button:active, .wrapper-content .register .uk-button.uk-active {  background-color: rgba(39, 191, 46, 0.4);}
.wrapper-content .register .uk-button.backbutt:active, .wrapper-content .register .uk-button.backbutt.uk-active {  background-color: rgba(140, 142, 150, 0.4);}
.addlang {
    background: none repeat scroll 0 0 #e8e8e8;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    color: #3c3d45;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 21px;
    padding: 4px 0 3px;
    text-align: center;
    width: 540px;
}
.addotherlanguage {
    background: none repeat scroll 0 0 #528ed3;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}
.addphoneline .text, .addlangline .text {    padding: 5px 0;}
.addphoneline .text {   padding-bottom: 8%;}
.phonecode {
	float: left;
	margin-right: 9px;
}
.register .uk-form-horizontal  .addphoneareas {
	width: 60%;
	float: left;
    margin-bottom: 12px;
}
.register .uk-form-horizontal  .addphoneareas select{
    margin-right: 9px;
}
.wifis {    margin-bottom: 12px;}
.wifis label {
    display: inline-block;
    margin: 0 15px 0 4px;
}
.wicheck {
	position: relative;
	float: left;
}
.wicheck .questiontooltip {
	top: -2px;
	right: 12px;
}
.whicheck-1 {
	width: 30%;
	margin-right: 15px;
}
.whicheck-2 {width: 44%;}
.register .addphoneareas input[type="text"] {    margin-right: 0;}
.addphone {
	cursor: pointer;
    color: #528ed3;
    display: inline-block;
}
.addlangline select {
	float: left;
	clear: left;
    margin-bottom: 12px;
}
.addlangline ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.addlangline li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
/*.destination .addlang {
    font-size: 14px;
    margin-bottom: 22px;
    padding: 4px 0 0;
    width: 100%;
}
.addlang .destinationmark {
    margin-bottom: -3px;
    top: -6px;
}*/
.officepagetitle, .register .officepagetitle {
	text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin: 0 auto 48px auto;
    padding: 11px 0;
    text-transform: none;
}
.officepagetitle img {
    margin-left: 15px;
    margin-right: 5px;
}
.officepagetitle h2, .register h2 {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 28px;
    text-align: center;
}
.gobutt {
    background: none repeat scroll 0 0 #528ed3;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 120%;
    margin-left: 4px;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.gobutt:hover {   text-decoration: none;}
.blockoffice {
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px;
    display: inline-block;
    margin: 0 14px 25px 13px;
    padding: 14px 10px 0;
    text-align: center;
    width: 281px;
}
.officetitle {
    color: #528ed3;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 13px;
}
.officecomment {
    color: #ff4d61;
    font-size: 14px;
    margin-bottom: 16px;
}
.blockoffice ul {
    margin: 0 0 32px;
    padding: 0;
    text-align: left;
}
.blockoffice li {
    background: url("../images/officelist.png") no-repeat scroll 10px center #f1f1f1;
    font-size: 14px;
    list-style: none outside none;
    margin: 0 0 0 -10px;
    padding: 9px 8px 8px 34px;
    text-align: left;
    width: 259px;
}
.blockoffice li.odd {
    background: url("../images/officelist.png") no-repeat scroll 10px center transparent;
}
.officemore, .trial {
    border-radius: 4px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}
.officemore {
    background: none repeat scroll 0 0 #528ed3;
    font-size: 18px;
    padding: 8px 20px;
}
.trial {
    background: none repeat scroll 0 0 #27bf2e;
    font-size: 24px;
    padding: 17px 20px 14px;
    text-transform: uppercase;
}
#makechoice {
    background: url("../images/trans.png") repeat scroll 0 0 transparent;
    float: left;
    height: 60%;
	
    left: 0;
    padding: 10% 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
}
.makechoicecontent {
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 24%;
}
.makechoicecontent h2 {
    color: #ff4d61;
    font-size: 18px;
    margin: 6px 0 8px;
}
.makechoicecontent .close {
    background: none repeat scroll 0 0 #d0d0d0;
    border-radius: 50%;
    color: #fff;
    float: right;
    line-height: 104%;
    padding: 1px 6px 3px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.makechoicecontent .close:hover {
    text-decoration: none;
}
.makechoicecontent ul {
    margin: 0;
    padding: 0;
}
.makechoicecontent li {
    font-size: 24px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.makechoicecontent li a {
	display: block;
	margin-bottom: 12px;
    padding: 8px 20px;
    background: none repeat scroll 0 0 #528ed3;
    border-radius: 4px;
    color: #fff;
}
.makechoicecontent li a:hover {
	text-decoration: none;
	opacity: 0.6
}
.makechoicecontent li a:active {	opacity: 0.4}

.uk-form-controls {
	position: relative;
	white-space: nowrap;
}
.makechoicecontent ul {
    margin: 0;
    padding: 0;
}
.makechoicecontent li {
    font-size: 24px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.makechoicecontent li a {
	display: block;
	margin-bottom: 12px;
    padding: 8px 20px;
    background: none repeat scroll 0 0 #528ed3;
    border-radius: 4px;
    color: #fff;
}
.makechoicecontent li a:hover {
	text-decoration: none;
	opacity: 0.6
}
.makechoicecontent li a:active {	opacity: 0.4}


.register .uk-form-horizontal  .style1 {
	float: left;
	width: 50%;
}
.register .uk-form-horizontal  .style1 .uk-width-1-1{	width: 100%;}
.style1, .style2 {
    margin: 0;
    overflow: hidden;
    position: relative;
}
.style1 label, .style2 label {   margin: 0 0 9px;}
.uk-button-group div .nextbutt.twobuttnext, #buttons .nextbutt .twobuttnext {    float: right;}
/*
#buttons {    overflow: hidden;}
#insidebuttonwrapper {    float: left;}*/

.register label, .register fieldset {    position: relative;}
.errors {
    color: #ff4d61;
    margin: 0;
    padding: 0;
}
fieldset .errors li {    list-style: none outside none;}
fieldset label .errors li {    list-style: none;}
label .errors {
    float: left;
    left: 42%;
    position: absolute;
    top: 21px;
	font-size: 0.7em;
}
.errors li {
    margin-bottom: 21px;
    margin-top: 6px;
}
.greentitle {
    color: #27bf2e;
    margin: 24px 0 0;
}
.greentitle span {
    background: url("../images/return.png") no-repeat scroll 100% 0 transparent;
    display: inline-block;
    padding: 0 50px 10px 0;
}
.uk-form-controls {
	position: relative;
	white-space: nowrap;
}
.register .uk-form-password-toggle {right: 46px;}
/*footer .footer-top .footer-in .add-nav ul li {border: none;}*/
.wrapper-content .register {
	width: 40%;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
}
.register .uk-form-horizontal .uk-form-label.pinktext {color: #ff4d61;}
.register .uk-form-horizontal .uk-width-1-1 {width: 83%;}

.register .uk-form-horizontal .uk-width-4-5 {width: 95%;}
.register .uk-form-horizontal .uk-width-4-6 {width: 46%;}
.register .uk-form-horizontal .uk-width-4-10 {width: 49%;}
.register .uk-form-horizontal .uk-width-6-10 {width: 74%;}
.register .uk-form-horizontal .uk-width-7-10 {width: 88%;}
