/*==========================   general styles   =================================*/
/*===================  this is a grey button fro our designe  ====================*/
.uk-button-warning {
  background-color: #8d8f98;
  color: #ffffff;
}
.uk-button-warning:hover,
.uk-button-warning:focus {
  background-color: #9b9da7;
  color: #ffffff;
}
.uk-button-warning:active,
.uk-button-warning.uk-active {
  background-color: #7e8088;
  color: #ffffff;
}
/*====================  border-radius for buttons, dropdowns, modals  ===============*/
.uk-button {
	border-radius:6px;
}
.uk-dropdown {
	border-radius:4px;
}
.uk-modal-dialog {
	border-radius:8px;
}
.uk-text-dark {
	color:#3d3d3d;
}


body, html {
	background-color:#f5f5f5;
	height:100%; /* ====  it is important part to have a footer in the bottom of page =================*/
}
/*===========================  fantastic thind to clear up all floated containers, just add the name of the class to ypur container, hwat contents float elements ===========================*/
	.clr {
		clear:both;
	}
	
.clearfix:before,
		.clearfix:after {
		  content: "";
		  display: table;
		}
		 
		.clearfix:after {
		  clear: both;
		}
		 
		.clearfix {
		  zoom: 1; /* ie 6/7 */
		}
/*======================================== our icons styles ==================================*/
.mp-icon-cab:before {
	content: "\e61e";
}
.mp-icon-calculate:before {
	content: "\e61d";
}
.mp-icon-timer:before {
	content: "\e61c";
}
.mp-icon-pet:before {
	content: "\e61a";
}
.mp-icon-child-seat:before {
	content: "\e618";
}
.mp-icon-direction:before {
	content: "\e619";
}
.mp-icon-door:before {
	content: "\e606";
}
.mp-icon-trust-invert:before {
	content: "\e614";
}
.mp-icon-trust:before {
	content: "\e615";
}
.mp-icon-basket:before {
	content: "\e613";
}
.mp-icon-gift:before {
	content: "\e605";
}
.mp-icon-nord-star:before {
	content: "\e612";
}
.mp-icon-calendar:before {
	content: "\e610";
}
.mp-icon-clock:before {
	content: "\e611";
}
.mp-icon-point-a:before {
	content: "\e60b";
}
.mp-icon-point-b:before {
	content: "\e60c";
}
.mp-icon-point-plus:before {
 content: "\e61b";
}
.mp-icon-edit:before {
	content: "\e608";
}
.mp-icon-taxi:before {
	content: "\e602";
}
.mp-icon-message:before {
	content: "\e604";
}
.mp-icon-closed:before {
	content: "\e609";
}
.mp-icon-logout:before {
	content: "\e60a";
}
.mp-icon-circle:before {
	content: "\e607";
}
.mp-icon-person:before {
	content: "\e603";
}
.mp-icon-good:before {
	content: "\e601";
}
.mp-icon-zoom:before {
	content: "\e600";
}
.mp-icon-star:before {
	content: "\e60d";
}
.mp-icon-bug:before {
	content: "\e60f";
}
.mp-icon-arrow-down:before {
	content: "\e616";
}
.mp-icon-arrow-up:before {
	content: "\e617";
}
.mp-icon-arrow-right:before {
	content: "\e60e";
}
/*==============================    end of icons   ========================================*/
/*========================font icontaxi for disign Evgeny=======================*/
@font-face {
	font-family: 'icontaxi';
	src:url('../fonts/icontaxi.eot?eio7im');
	src:url('../fonts/icontaxi.eot?#iefixeio7im') format('embedded-opentype'),
		url('../fonts/icontaxi.woff?eio7im') format('woff'),
		url('../fonts/icontaxi.ttf?eio7im') format('truetype'),
		url('../fonts/icontaxi.svg?eio7im#icontaxi') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mp-icon-"], [class*=" mp-icon-"] {
	font-family: 'icontaxi';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/*line-height: 1;*/

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*=================   iconed select  ===========================*/
.iconed-drop {
	font-family: 'icontaxi', FontAwesome;
}
    /* Icon in form ============= */
.uk-form-icon > [class*='mp-icon-'] {
	position: absolute;
	top: 40%;
	width: 30px;
	margin-top: -7px;
	color: #8d8f98;
	text-align: center;
	pointer-events: none;
}
.uk-form-icon-flip > [class*='mp-icon-'] {
	right: 0;
}
input[class^="mp-icon-"], input[class*=" mp-icon-"] {
	float:right;
	margin-left:5px;
}
/*======================================== end of font ===============================*/
/*-------------------------------------  header --------------------------------- */
.header-wrapper {
}
	.header-wrapper .header-top {
		width:100%;
		background:#528ed3;
		height:48px;
	}
		.header-wrapper .header-top .header-top-in {
			max-width:1000px;
			margin:0 auto;
			height:48px;
			background:#fff;
			
		}
		.header-wrapper .header-top .header-top-in .logo {
			float:left;
			padding:2px 40px 2px 0;
			background:#528ed3;
			
		}
		
			.header-wrapper .header-top .header-top-in  .topmenu-left {
				background: url(../images/shashki-left-top.png) left center no-repeat #fff;
				background-size:93px 48px;
				float:left;
				padding:9px 0 7px 6%;
				max-width:600px;
				
			}
				.header-wrapper .header-top .header-top-in  .topmenu-left ul {
					margin:0;
				}
				.header-wrapper .header-top .header-top-in  .topmenu-left  ul li {
					font-size:18px;
					font-weight:bold;
					border-left:1px solid #d1d1d1;
					color:#3d3d3d;
					margin-left:0;
					
				}
				.header-wrapper .header-top .header-top-in  .topmenu-left  ul li.nest {
					padding-left:14px;
				}
					.header-wrapper .header-top .header-top-in  .topmenu-left  ul li.nest span {
						padding:6px 0;
					}
				.header-wrapper .header-top .header-top-in  .topmenu-left  ul li:first-child {
					border:none;
				}
					.header-wrapper .header-top .header-top-in  .topmenu-left  ul li .text-item {
						color:#3d3d3d;
						padding:6px 14px;
					}
					.header-wrapper .header-top .header-top-in  .topmenu-left  ul li .figur-item {
						color:#fff;
						font-size:20px;
						border-radius:5px;
						height:22px;
						width:22px;
						text-align:center;
					}
					.header-wrapper .header-top .header-top-in  .topmenu-left  ul li a.uk-button-danger:hover {
						background-color: #e4354f;
					}
					.header-wrapper .header-top .header-top-in  .topmenu-left  ul li a.uk-button-primary:hover {
						background-color: #35b3ee;
					}
			.header-wrapper .header-top .header-top-in  .topmenu-right {
				float:right;
				text-align:right;
				font-size:16px;
			}
			.header-wrapper .header-top .header-top-in  .topmenu-right .book-store {
				display:inline-block;
				margin-right:-34px;
				
			}
			.header-wrapper .header-top .header-top-in  .topmenu-right .book-store a {
				display:inline-block;
				padding:14px 18px;
				margin-left:-5px;
				text-transform:uppercase;

			}
			.header-wrapper .header-top .header-top-in  .topmenu-right .book-store .thumb {
				background-color: #fff;
				border-radius: 18px;
				color: #528ed3;
				display: inline-block;
				font-size: 23px;
				padding: 1px 3px;
				position: relative;
				right: 108px;
				top:3px;
			}
			.header-wrapper .header-top .header-top-in  .topmenu-right .nonautorized {
				color:#ff4d61;
			}
				.header-wrapper .header-top .header-top-in  .topmenu-right .nonautorized a {
					color:#ff4d61;
				}
			.header-wrapper .header-top .header-top-in  .topmenu-right .autorized {
				color:#3c3d45;
				line-height:0.5;
				
			}
			.header-wrapper .header-top .header-top-in  .topmenu-right .autorized:hover {
				text-decoration:none;
			}
				.header-wrapper .header-top .header-top-in  .topmenu-right .autorized .ownship {
					color:#ff4d61;
					font-size:12px;
					padding:0 10px 0 0;
			}
				.header-wrapper .header-top .header-top-in  .topmenu-right .autorized .caption {
					position:relative;
					font-size:16px;
					top:-6px;
				}
			/*====================== styles of drop down menu =======================================*/
			.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown {
				text-align:left;
				vertical-align:top;
				border:1px solid #d0d0d0;
				border-radius:8px;
				background-color:#fff;
				box-shadow: -1px 1px 2px 0px rgba(50, 50, 50, 0.4);
				margin:15px 0 0 0;
				width:600px;
				right:0;
			}
				.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown div {
					float:left;
					overflow:hidden;
					font-size:16px;
					
				}
					.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown div .uk-nav {
						margin:0;
					}
					.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myid-drop {
						min-width:200px;
						margin:0 0 0 15px;
						border-left:1px solid #d0d0d0;
						padding:0 0 0 15px;
						height:120px;
					}
					.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myoffice-drop {
						border-left:1px solid #d0d0d0;
						padding:0 0 0 15px;
						height:120px;
					}
					.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myid-drop .menu-bord {
						margin:15px 0 0 0;
					}
						.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myid-drop .menu-bord  li{
						padding-left:25px;
					}
							.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myid-drop .menu-bord  li a:hover {
								color:#fff;
								background-color:#528ed3;
								text-decoration:none;
							}
						.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myid-drop-top {
							float:none;
							clear:both;
							width:100%;
							
						}
							
							.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myid-drop-top .img {
								float:left;
								width:62px;
								height:60px;
								background-color:#fff;
								border-radius:6px;
								text-align:center;
								border:1px solid #d0d0d0;
								
						}	
							.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myid-drop-top .img img {
								width:59px;
								height:58px;
							}
							.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myid-drop-top .uk-nav {
								margin:0 0 0 15px;
								display:inline-block;
							}
							.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myid-drop-top .clientid {
								float:none;
								clear:both;
							}
							.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .myoffice-drop .uk-button {
								margin-top:15px;
								font-size:16px;
							}
							.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown .uk-nav-header {
													font-size: 16px;
													text-transform: capitalize;
													color: #3c3d45;
													padding-left: 0;
													}
							.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown  .myaccount-drop ul li a {
								color:#528ed3;
								padding:5px 0;
							}
							.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown  .myaccount-drop ul li a:hover {
								color:#fff;
								}
								.header-wrapper .header-top .header-top-in  .topmenu-right .uk-button-dropdown .uk-dropdown  .myaccount-drop ul li a i {
									width:15px;
								}
			/* ====================  the bottom part of header with breadcroms and languages ============================ */
			.header-wrapper .header-bottom {
				background-color:#8d8f98;
				box-shadow: inset 0 1px 0px 1px #6d6f76;
			}
				.header-wrapper .header-bottom .header-bottom-in {
					max-width:1000px;
					margin:0 auto;
					color:#fff;
					height:30px;
					
				}
/*====================================  breadcrombs ==============================================================*/
					.header-wrapper .header-bottom .header-bottom-in .breadcroms {
						float:left;
						list-style:none;
						margin:0 0 0 5px;
						padding-left:0;
					}
						.header-wrapper .header-bottom .header-bottom-in .breadcroms li {
							float:left;
						}
							.header-wrapper .header-bottom .header-bottom-in .breadcroms li:after {
								content:">";
								margin:0 10px 0 0;
							}
							.header-wrapper .header-bottom .header-bottom-in .breadcroms li.last:after {
								content:"";
							}
						.header-wrapper .header-bottom .header-bottom-in .breadcroms li a {
							color:#fff;
							text-decoration:underline;
							padding:0 10px 0 0;
							line-height:25px;
						}
							
						.header-wrapper .header-bottom .header-bottom-in .breadcroms li.last a {
							text-decoration:none;
						}
							.header-wrapper .header-bottom .header-bottom-in .breadcroms li a:hover {
								text-decoration:none;
							}
						.header-wrapper .header-bottom .header-bottom-in  .lang{
							float:right;
							margin:0;
						}
							.header-wrapper .header-bottom .header-bottom-in  .lang a {
								color:#fff;
								padding:0 9px;
								border-radius:0;
							}
							.header-wrapper .header-bottom .header-bottom-in  .lang a:hover, .header-wrapper .header-bottom .header-bottom-in  .lang a:focus {
								color:#8d8f98;
								text-decoration:none;
							}
							.header-wrapper .header-bottom .header-bottom-in  .lang .uk-dropdown-small {
								min-width:60px;
							}
							.header-wrapper .header-bottom .header-bottom-in  .lang .uk-nav-dropdown li a {
								color:#8d8f98;
							}
							.header-wrapper .header-bottom .header-bottom-in  .lang .uk-nav-dropdown li a:hover {
								background-color:#8d8f98;
								color:#fff;
							}
/*==============================  off canvas menu ===============================*/
.header-top-in .uk-navbar-toggle {
	display:none;
	color:#528ed3;
	float:right;
	margin: 0 20px 0 0;
}
/*-------------------------------------  content --------------------------------*/
.wrap-content {   /* ===== important to keep a footer in the bottom of page  =================*/
	min-height:100%;
	height:auto!important;
	}
.main-content {
	max-width:1000px;
	margin:0 auto;
	background-color:#f5f5f5;
	padding:15px 0 155px 0;
	
}
/*===================================    home ===========================================*/
.home {
	margin-top:20px;
}
	.home .tabtaxi {
		font-size:20px;
		overflow:hidden;
	}
		.home .tabtaxi  .red  a {
			background: url('../images/shashki-red-left.png')top left no-repeat, url('../images/arrowred.png') top center no-repeat, url('../images/shashki-red-right.png')top right no-repeat  #fff;
			color:#ff4d61;
		}
		.home .tabtaxi .blue a {
			background-color:#528ed3;
			color:#fff;
		}
		.home .tabtaxi ul li .child {
			padding:3px 12px;
			border-radius: 4px 4px 0 0;
			font-weight: bold;
			height: 58px;
			text-align: center;
		}
		
		.home .tabtaxi .red-drive  a{
			color:#fff;
			background-color:#ff4d61;
		}
		
		.home .tabtaxi .blue-drive  a{
			background: url('../images/blue-tabs-left.png') left no-repeat,  url('../images/arrowblue.png') center top no-repeat, url('../images/blue-tabs-right.png') right no-repeat  #fff;
			color:#528ed3;
			}
		
		
		
			.home .tabtaxi ul li .child span {
				vertical-align:middle;
				display:table-cell;
				height:58px;
				width:500px;
				
			}
	.home .steps-1-2-3 {
		background-color:#fff;
		padding:15px 0;
		box-shadow: 0 1px 1px 0px #b4b4b4;
		overflow:hidden;
		border-radius:6px;
	}
		.home .steps-1-2-3 .chois {
			border-top:1px solid #ff4d61;
			border-bottom:1px solid #ff4d61;
			height:60px;
			overflow:hidden;
		}
			.home .steps-1-2-3 .chois li {
				height:60px;
				text-align:center;
			}
				.home .steps-1-2-3 .chois li a {
					color:#3c3d45;
					font-size:18px;
					padding:0 5px 0 0;
					margin:0;
				}
					.home .steps-1-2-3 .chois li a:hover {
						text-decoration:underline;
						background:inherit;
						border:none;
					}
					.home .steps-1-2-3 .chois li a .on {
						background:#ff4d61;
						font-size:22px;
						width:24px;
						padding:2px 1px;
						border-radius:15px;
						color:#fff;
						display:inline-block;
					}
					.home .steps-1-2-3 .chois li a .arrow_box {
						vertical-align:middle;
						display:table-cell;
						height:58px;
						width:300px;
					}
			.home .steps-1-2-3 .chois .first {
				background: url('../images/arrowstep1.png') right no-repeat #fff;
			}
			.home .steps-1-2-3 .chois .second {
				background: url('../images/arrowredmiddle.png') right no-repeat #fff;
			}
			.home .steps-1-2-3 .chois .active {
				background: url('../images/arrowed-done-bg.png') right no-repeat #ff4d61;
			}
			.home .steps-1-2-3 .chois .last {
				background:#ff4d61!important;
			}
				.home .steps-1-2-3 .chois .active  a {
					color:#fff;
					cursor:default;
				}
						.home .steps-1-2-3 .chois .active  a :hover {
							text-decoration:none!important;
						}

					.home .steps-1-2-3 .chois .active  a .on {
						color:#ff4d61;
						background-color:#fff;
					}
/*==========================  styles of booking step 1  in homepage =================================*/
.destination {
	margin:40px 0 20px 0;
}
	.destination .nav-over {
		padding:0 20px;
	}
		
		.destination   hr {
			color:#ff4d61;
			background-color:#ff4d61;
			border:none;
			height:1px;
		}
		.destination .nav-over .uk-button {
			margin:10px 0;
		}
	.destination .form-block-wrap {
		margin:0 20px 10px 0;
		overflow:hidden;
	}
	.destination .labels {
		width:30%;
		float:left;
		font-size:20px;
		color:#ff4d61;
		padding:0;
	}
		.destination .labels label {
			margin-left:20px;
		}
	.destination  .inputs {
		width:70%;
		float:right;
		color:#9b9b9b;
		font-size:16px;
		padding:1px 0;
	}
	.destination  .inputs .date-input {
		max-width:91px;
	}
	.destination  .inputs .check-box {
		margin-top:5px;
	}
	.destination  .inputs .date-pick {
		border: 1px solid #8e9099;
		border-radius: 3px;
		box-sizing: border-box;
		height: 27px;
		vertical-align: bottom;
		padding-left:5px;
	}
	.destination  .inputs .uk-form-icon {
		width:100%;
		
	}
	.destination  .inputs .uk-form-icon .flex-input {
		width:100%;
		padding:1px 30px 1px 5px!important;
	}
		.destination  .inputs .uk-form-icon  i {
			right:0;
		}
	.destination  .inputs .uk-button {
		min-height:25px;
		line-height:25px;
	}
		.destination .nav-over .add-another {
			color:#3c3d45;
			font-weight:bold;
			min-height:27px;
			line-height:27px;
			border:1px solid #d3d3d3;
			cursor:pointer;
		}
		.destination .nav-over .nextbutt {
			margin-top:30px;
			padding-top:4px;
		}
			.destination .nav-over .add-another span {
				font-size:24px;
			}
		.destination .nav-over div a {
			color:#fff;
			font-size:24px;
		}
	
	/*========  it is relatively global, because styles all select in the homepage, what consists from 3 pages  ========*/	
	.home  .select {
		background-color:#fff;
		border: 1px solid #8e9099;
		border-radius: 3px;
		box-sizing: border-box;
		
		
	}
	.home .float_left {
		float:left;
	}
	.home .float_right {
		float:right;
	}
	
/*==========================  styles of booking step 2  in homepage =================================*/
.order-details-over {
}
	.order-details-over h1 {
		font-size:20px;
		color:#ff4d61;
		margin:5px 0 5px 20px;
	}
	.order-details {
		float:none;
		margin:0 20px;
		border-top:1px solid #ff4d61;
	}
	.order-details .checks  td{
		padding:5px 0;
	}
	.order-details-over .order-details h4 {
		font-size:16px;
		color:#ff4d61;
	}
	.order-details-over .spinner, .driv-over .spinner {
		width:52px;
		display:inline-block;
		position:relative;
		height:25px;
		margin-left:5px;
		
	}
		.order-details-over .spinner input, .driv-over .spinner input {
			width:52px;
			
		}
		.order-details-over .spinner .arrows, .driv-over .spinner  .arrows{
			width:12px;
			position:absolute;
			top:0;
			left:35px;
		}
			.order-details-over .spinner .arrows a, .driv-over .spinner  .arrows a {
				display:block;
				line-height:13px;
				font-size:11px;
				color:#9b9b9b;
			}
		
	.rightlabels .spin-1 {
		float:left;
	}
	.rightlabels .spin-3 {
		float:right;
		text-align:right;
	}
	.rightlabels .spin-2 {
		width:100px;
		margin:0 auto;
	}
	.rightlabels label {
		font-size:16px;
	}
	.order-details-over .select, .home .driv-over  .leftlabels .select {
		max-width:273px;
		min-height:25px;
		line-height:25px;
		width:100%;
		text-align:left;
		position:relative;
		color:#9b9b9b;
		font-size:16px;
	}
		.home .driv-over  .leftlabels .select  {
			width:50%!important;
		}
	.order-details .spec-request {
		min-height:30px;
		line-height:30px;
		font-size:16px;
		font-weight:bold;
		margin:20px 0 15px 0;
	}
		.order-details .spec-request span {
			font-size:20px;
			color:#528ed3;
		}
		.order-details-over .select i, .home .driv-over  .leftlabels .select i{
			position:absolute;
			right:7px;
			top:4px;
		}
		
	.order-details .checks {
		width:100%;
	}
		.order-details .checks label  {
			margin-left:10px;
			font-size:16px;
		}
		
		.order-details textarea {
			width:100%;
			color:#9b9b9b;
			border: 1px solid #8e9099;
			border-radius:4px;
			font-size:14px;
			padding:5px;
			min-height:90px;
		}
		.order-details .helptext {
			color:#9b9b9b;
			font-size:14px;
		}
		.order-details .uk-button-group {
			margin:20px 0 0 0;
		}
		.order-details .uk-button-group a {
			min-height:40px;
			line-height:40px;
			width:49%;
			font-size:24px;
		}
/*==========================  styles of booking step 3  in homepage =================================*/
	 .padding-top {
		padding-top:15px;
	}
	
	.order-details  input[type="text"], .driv-over  input[type="text"] {
		padding:0 0 0 15px;
		border-radius:4px;
		border: 1px solid #8e9099;
		height:27px;
		color:#9b9b9b;
		font-size:14px;
	}
	.order-details  .recommend {
		font-size:18px;
	}
	.order-details .overinput {
		position:relative;
	}
		.order-details .overinput .dollar {
			position:absolute;
			left:5px;
			top:0px;
			color:#9b9b9b;
		}
		.order-details .contactpassenger  .nottravel{
			margin:20px 0;
		}
		
		.order-details  .left  {
			float:left;
			width:40%;
			
		}
		.order-details  .left-spec  {
			float:left;
			width:30%;
			
		}
		
		.order-details  .right {
			float:right;
			width:60%;
		}
		.order-details  .pers-data {
			padding:5px 0;
			overflow:hidden;
		}
/*======================================   driver's page ====================================*/
.home .driv-over {
	width:100%;
	background-color:#fff;
	overflow:hidden;
	padding:15px 0;
	border-radius:6px;
	box-shadow: 0 1px 1px 0px #b4b4b4;
}
	.home .driv-over  .leftlabels{
		float:left;
		width:50%
	}
		.home .driv-over  .leftlabels h4 {
			float:left;
			margin:0 0 0 20px;
			color:#528ed3;
		}
		.home .driv-over  .leftlabels .select {
			float:right;
			margin:0 10px 0 0;
		}
	.home .driv-over .rightlabels {
		float:right;
		width:50%;
	}
	.home .driv-over .rightlabels .rightlabels-in {
		margin:0 10px 0 20px;
	}
	.home .driv-over .rightlabels .rightlabels-in .spin-1, .home .driv-over .rightlabels .rightlabels-in .spin-2, .home .driv-over .rightlabels .rightlabels-in .spin-3 {
		width:30%;
	}
	.home .driv-over .rightlabels .rightlabels-in .spinner {
		width:26%!important;
		min-width:35px;
	}
		.home .driv-over .rightlabels .rightlabels-in .spinner input {
			width:100%!important;
			padding:0 0 0 15%;
		}
		.home .driv-over .rightlabels .rightlabels-in .arrows {
			right:0!important;
			left:auto!important;
		}
/*===================================  map styles ==============================================================*/
	.disloc-in {
		margin:18px 20px 0 20px;
	}
		.disloc-in ul {
			padding:0;
			margin:0 0 2px 0;
			
		}
		
		.disloc-in ul  li{
			list-style:none;
			float:left;
			font-size:16px;
			margin:0 10px 0 0;
		}
			.disloc-in ul  li i {
				font-size:20px;
				margin:0 5px 0 0;
			}
		.disloc-in .map-container {
		position: relative;
		padding-bottom: 85%;
		padding-top: 80px;
		height: 0;
		overflow: hidden;
		}

			.disloc-in .map-container iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			}	
/*===========================  table styles in home  ==================================*/
.table-over {
	box-shadow: 0 1px 1px 0px #b4b4b4;
	
}
	.table-over .serv {
		width:100%;
		border-collapse: separate;
		border-spacing:1px;
		background-color:#d0d0d0;
		border-radius:6px 6px 0 0;
		overflow:hidden;
	}
		.table-over .serv th {
			color:#fff;
			background:#528ed3;
			font-size:16px;
			font-weight:bold;
			text-align:center;
			padding:5px 2px;
		}
		.table-over .serv td {
			background:#fff;
			padding:8px 2px;
			text-align:center;
		}
		.table-over .serv .under-head td {
			background-color:#f5f5f5;
			vertical-align:top;
		}
			 .table-over .serv .under-head input{
			height:27px;
		}
		.table-over .serv .under-head .uk-button-link {
			padding:0;
			border:none;
		}
		.table-over .serv .under-head .uk-button-link:focus {
			border:none;
		}
		.table-over .serv .under-head .car {
			min-width:38px;
		}
		.table-over .serv .under-head .mp-icon-taxi {
			font-size:22px;
		}
		.table-over .serv .under-head select, .table-over .serv .under-head .select {
			min-height:25px;
			line-height:25px;
		}
		.table-over .serv .under-head .select {
			padding:0 3px;
			display:inline-flex;
			}
		.table-over .serv .under-head .select span {
			display:inline-block;
			margin-right:9px;
			overflow:hidden;
		}
		.table-over .serv .under-head .select i {
			position:absolute;
			width:8px;
			top:4px;
			right:2px;
		}
		
		.table-over .serv  .ov-lt {
			display:inline-block;
			margin:0 auto; 
			white-space:nowrap;
		}
		.table-over .serv .short-cont {
			min-width:115px;
		}
		.table-over .serv .fixed-column {
			min-width:90%;
		
		}
		.table-over .serv .under-head input{ 
			border-radius:4px;
			border:1px solid #8e9099;
			padding:0 20px 0 5px!important;
			width:100%;
		}
		.table-over .serv .under-head .uk-form-icon {
			display:block;
			margin:0 8px;
		}
		.table-over .serv .under-head .sort {
			font-size:14px;
			margin-top:0px;
		}
		.table-over .sort i:last-child {
			margin-left:-7px;
		}
			.table-over .serv .under-head .mp-icon-nord-star {
				right:2px;
				width:20px;
			}
			.table-over .serv .under-head .uk-icon-calendar {
				right:2px;
				width:20px;
			}

		.table-over .serv  .arr {
			border:none;
			padding:1px 3px;
			font-size:12px;
			
		}
		.table-over .serv .ov-trust {
			display:inline-block;
		}
		.table-over .serv .aligment {
			float:left;
			height:27px;
		}
		.table-over .serv .cancell-filters {
			border:none;
			padding-right:0;
			width:20%;
		}
		.table-over .serv .cancell-filters:hover {
			text-decoration:none;
		}
		.table-over .serv  .bascket-opt {
			width:80%;
		}
		.table-over .serv .blue-bg {
			width:20px;
			height:20px;
			border-radius:4px;
			background-color:#528ed3;
			color:#fff;
			display:inline-block;
		}
		.table-over .serv .mp-icon-trust, .table-over .serv .mp-icon-trust-invert {
			font-size:20px;
		}
		
/*=======
office passengers and driver
========*/



.icon-messages-n {
	background:url('../images/messages-n.png') transparent no-repeat scroll left center;
	width:14px;
	height:14px;
	color:#fff;
	font-size:11px;
	left:8px;
	top:-9px;
	position:relative;
	display: inline-block;
	line-height: 130%;
	text-align: center;
}
.client-account .uk-close:after {
  display: block;
  content: "\e609" !important;
  font-family: icontaxi;
  font-size: 18px;
}
.client-account input,
.client-account select,
.client-account .uk-form input,
.client-account .uk-form select {
	border-radius:4px;
	border: 1px #8e9099 solid;
	height:28px;
}
.client-account input[type="checkbox"] {
	height:20px;
}
.client-account .uk-table .month {
    color:#3c3d45;
    font-weight:bold;
}
.client-account .order-status {
	display:table;
	margin:0 auto; 
}
.client-account .order-status span {
	display:table-cell;
	padding: 0 2px;
}
/*========================office list=======================*/
.client-account .clientphoto {
        border-radius: 5px;
        float: left;
        margin: 0 10px 10px 0;
        max-width:60px;
}
.client-account .clientid {
        color: #3c3d45;
        font-size: 14px;
        line-height:20px;
        width: 100%;
}
.client-account dl {
        margin:1em 0;
}
.client-account .clientid dl {
        font-size: 14px;
        font-weight:normal;
        display:table;
        margin:0;
}
.client-account .clientid dl a{
        font-size: 14px;
        line-height:16px;
        font-weight:normal;
		color: #528ed3;
}
.client-account .divider a:first-child{
	margin-right:5px;
}
.client-account .divider a:last-child{
	padding-left:5px;
	border-left:1px #3c3d45 solid;
}
.client-account .clientid dt,dd {
		display:inline;
        font-size: 14px;
        float:left;
		margin-left:5px;
}
.client-account .clientid dt {
	color:#8d8f98;
	font-weight:normal;
}
.client-account .clientid dd[id="balance"] {
	color:#ff4d61;
	font-size:16px;
}
.client-account .clientid dd[id="status"] {
	color:#ff4d61;
	font-size:16px;
}
/*=====================office button==============================*/
.client-account .uk-button-profile {
    padding:0;
    min-width:160px;
    line-height: 38px;
    margin-bottom:5px !important;
    font-size:16px;
}
.client-account .uk-button-profile:hover {
	text-decoration:none;
}
.client-account .uk-button-profile i {
	padding-right:2%;
}
.client-account .profile .uk-button {
	line-height:54px;
	font-size:24px;
}
.client-account .profile .button-skype {
	line-height:30px;
	font-size:16px;
}
.client-account .button-skype {
	line-height:30px;
	float:left !important;
}
/*=======================office tabs============================*/
.client-account .main {
    margin:1px 0 0px 0;
    box-shadow:none;
    z-index:1000;
    border-radius:0 0 4px 4px;
}
.client-account .button-swicher {
	display:block;
    border-radius:0 0 4px 4px;
	margin-left: 0px;
}
	.client-account .uk-grid-small {
	}
	.client-account .button-swicher .uk-panel {
		padding-left:2px;
		padding-right:2px;
		border:0;
	}
	.client-account .button-swicher .uk-panel:first-child {
		padding-left:0px;
		padding-right:2px;
	}
	.client-account .button-swicher .uk-panel:last-child {
		padding-left:2px;
		padding-right:0px;
	}
.client-account .button-swicher .uk-panel button {
    border: 0;
    color: #fff;
    background: #528ed3;
    border-radius: 4px 4px 0 0;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    font-size:20px;
    font-weight:bold;
    height:65px;
    text-align:center;
    outline:none;
}
.client-account .button-swicher .uk-panel button:active,
.client-account .button-swicher .uk-panel button:hover,
.client-account .button-swichera .uk-panel button:focus {
  outline: none;
  border:0;
  text-decoration:underline;
}
.client-account .button-swicher .uk-panel.uk-active button {
    background-color: #fff;
    color: #528ed3;
    text-shadow:none;
}
/*========================office table===========================*/
.shadow-main {
    -webkit-box-shadow: -1px 1px 2px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:        -1px 1px 2px 0px rgba(50, 50, 50, 0.4);
    box-shadow:             -1px 1px 2px 0px rgba(50, 50, 50, 0.4);
}
.client-account .whitebg {
    background:#fff;
    position:relative;
}
.client-account .uk-table {
	margin-bottom:0px;
	margin-top:0px;
}
/*.client-account .uk-table input,
.client-account .uk-table select {
	padding: 2px 5px;
}*/
.client-account .uk-table button,
.client-account .uk-table a,
.client-account .uk-table {
	font-size:16px;
}
.client-account .uk-table thead th {
    font-weight:normal;
    background:#f5f5f5;
    color:#3c3d45;
    position:relative;
}
.client-account .blue-thead tr th {
    font-weight:bold;
    background:#528ed3;
    color:#fff;
    position:relative;
}
.client-account .uk-table a {
    color: #528ed3;
}
.client-account .uk-table a:hover {
	text-decoration:none;
}
.client-account .uk-table tr {
    border-top:#d0d0d0 1px solid;
    border-bottom:#d0d0d0 1px solid;
}
.client-account .uk-table td {
    text-align:center;
    line-height:20px;
    vertical-align:top;
    border-left:#d0d0d0 1px solid;
    border-right:#d0d0d0 1px solid;
    border-bottom:#d0d0d0 1px solid;
}
.client-account .uk-badge {
	border-radius:3px;
	padding:2px 6px;
	font-size:14px;
	font-weight:normal;
}
.client-account .message {
	display: table;
	vertical-align:middle;
	padding:20px;
	padding-left: 30px;
	font-size:16px;
}
.client-account .graybg {
	background:#f5f5f5;
	padding: 15px 20px;
}
.client-account .message dt,
.client-account .message dd {
	float:left;
	line-height:28px;
	margin-bottom: 5px;
}
.client-account select.chosen {
	padding:2px;
	width: 250px;
	border: 1px #8e9099 solid;
	color:#8e9099;
}
.client-account .message input[type="number"] {
	width: 50px;
	margin: 0 10px;
	color:#8e9099;
	text-align:center;
}
.client-account .allorder th,
.client-account .allorder td {
	vertical-align:middle;
	text-align:center !important;
	padding-left:2px;
	padding-right:2px;
}
.client-account .allorder th input,
.client-account .allorder th select {
	font-size:14px;
}
.client-account .allorder th[class="datetime"] {
	width: 160px !important;
}
.client-account .allorder th[class="time"] {
	width: 120px !important;
}
.client-account .allorder th[class="route"] {
	width: 230px !important;
}
.client-account .allorder th select[class="trust"] {
	width: 80px;
	border:0;
	background:transparent;
	color:black;
}
.client-account .uk-table td:nth-child(3),
.client-account .uk-table th:nth-child(3) {
    text-align:left;
    vertical-align:middle;
}
.client-account .uk-table.main td,
.client-account .uk-table.main th,
.client-account .uk-table.main td:nth-child(3),
.client-account .uk-table.main th:nth-child(3) {
    text-align:center;
    vertical-align:middle;
    position:relative;
}
.client-account .uk-table th {
    text-align:center;
    border-left:#d0d0d0 1px solid;
    border-right:#d0d0d0 1px solid;
}
.client-account .driverlist {
	margin-top:0px;
}
.client-account .driverlist-button {
    float:right;
    line-height:30px !important;
}
.client-account .uk-table .uk-button {
    color:#fff;
    line-height:38px;
    margin-top:5px;
}
.uk-table th .questiontooltip {
	width:20px;
	float:none;
	display: -moz-inline-box;
	display: -webkit-inline-box;
    display: inline-block;
    vertical-align: top;
}
.uk-table th .questiontooltip a span.que{
	top:1px;
	margin:0;
}
.uk-table th .sort i:first-child {
	color:#3c3d45 !important;
	font-size:14px;
}
.uk-table th .sort i:last-child {
	margin-left:-5px;
	font-size:14px;
}
.client-account .uk-table th:first-child {
	width:4%;
}
.client-account .uk-table th:nth-child(2) {
	width:10%;
}
.client-account .allorder th {
	width:0;
	padding:5px 2px;
}
.client-account .allorder th:nth-child(2) {
	width:0;
}
/*================scroll table====================*/
.client-account .table-container
{
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}
.client-account .table-container::-webkit-scrollbar
{
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}

.client-account .table-container::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, .3);
}
/*================style dropdown block (driver list) Alla=================*/
.client-account .uk-table .uk-panel-box {
    background:#fff;
    border-radius:0;
    border:none;
    padding:0;
    margin: 10px -8px;
}
.client-account .uk-table tr td:first-child, .uk-table tr td:nth-child(2){
    padding:10px;
}
.whitebg .uk-table td p {
    overflow:hidden;
    margin:0;
}
.whitebg .uk-table td p button {
    background-color:#528ed3;
    float:right;
    
}

.whitebg .uk-table td p button:hover, .whitebg .uk-table td p button:focus {
    background-color:#35b3ee;
}
.whitebg .uk-table td p .active-gray {
    background-color:#ebebeb!important;
    padding:0 10px;
    
}
.driver-over {
    border-top: 1px solid #d0d0d0;
    padding:12px;
    font-size:16px;
    display: inline-block;
}
.driver-top  {
    overflow:hidden;
}
.driver-top div {
    float:left;
    width:33.3%;
}
.driver-top  img{
    float:left;
    margin-right:5%;
    
}
.driver-top .driver-photo {
    width:48px;
    height:53px;
}
.driver-top .drive-car {
    width:99px;
    height:55px;
}
.driver-top .y-no {
    text-align:right;
    padding-top: 1px;
}
.driver-top .y-no  button {
    width:100px;
    text-transform:uppercase;
}
    .profile .name {
   	 color:#528ed3;
    }
    .profile .proffesion {
   	 font-size:14px;
   	 color:#8d8f98;
    }
    .profile {
   	 line-height: 18px;
    }
    .profile .uk-icon-smile-o{
   	 color:#27bf2e;
    }
    .profile .uk-icon-frown-o {
   	 color:#ff4d61;
    }    
    .profile .feedback_ok {
   	 margin-right:25px;
    }
    .vehicle .name {
   	 color:#3c3d45;
    }
    .vehicle {
   	 line-height:25px;
    }
    .vehicle span {
   	 color: #3c3d45;
    }
    .vehicle i {
   	 color:#ff4d61;
   	 margin-left:10px;
    }
    .y-no button:first-child{
   	 background-color:#ff4d61;
   	 
    }
    .y-no button:first-child:focus, .y-no button:first-child:hover {
   	 background-color:#c91032;
    }
    .y-no button:last-child {
   	 background-color:#8d8f98;
    }
    .y-no button:last-child:focus, .y-no button:last-child:hover {
   	 background-color:#adafa8;
    }
    td .driver-over p.about {
   	 margin:5px 0;
   	 padding:0;
   	 line-height:20px;
   	 color: #3c3d45;
    }
    .call-driver {
   	 float:left;
	 margin-top:15px;
   	 padding:15px 0;
   	 border-top: 1px solid #d0d0d0;
    }
    .call-driver span {
   	 line-height:37px;
   	 margin-right:10px;
   	 font-weight:bold;
   	 float:left;
   	 color: #3c3d45;
    }
/*====================================== end of offices ============================================*/
/*------------------------------------- footer   --------------------------------*/
footer {
	height:135px;
	margin-top:-135px;
}
.footer-top {
	width:100%;
	background-color:#528ed3;
	box-shadow: 0 1px 1px 0px #b4b4b4;
	
}
	.footer-top .footer-in {
		max-width:1000px;
		margin:0 auto;
		background: url(../images/shashki-foot-left.png) no-repeat scroll left top, url(../images/shashki-right.png) right top no-repeat #fff;
		overflow:hidden;
		
	}
		.footer-top .footer-in .add-nav {
			float:left;
			margin:3px 0 4px 7%;
		}
			.footer-top .footer-in .add-nav ul {
				margin:3px 0;
			}
			.footer-top .footer-in .add-nav ul li a {
				font-size:16px;
				color:#3d3d3d;
				padding:6px 9px;
			}
			.footer-top .footer-in .add-nav ul li {
				border-left:1px solid #3d3d3d;
			}
			.footer-top .footer-in .add-nav ul li:first-child {
				border:none;
			}
		.footer-top .footer-in .social {
			float:right;
			margin:8px 7% 8px 0;
			font-size:22px;
		}
			.footer-top .footer-in .social li a {
				font-size:26px;
				color:#fff;
			}
			.footer-top .footer-in .social li .twitter {
				background:#5dc8ff;
			}
			.footer-top .footer-in .social li .facebook {
				background:#587aca;
			}
			.footer-top .footer-in .social li .google {
				background:#5b5b5b;
			}
			.footer-top .footer-in .social li .linkedin {
				background:#2967ad;
			}
.footer-bottom  {
	clear:both;
	width:100%;
	text-align:center;
	padding:26px 0;
}

/*===================adaptaciya===========================*/
@media only screen and (max-width:650px) {
   	 .whitebg .uk-table td {
   		 font-size:14px;
   	 }
   	 .whitebg .uk-table td p {
   		 text-align:center;
   		 padding:0 10px;
   	 }
   	 .whitebg .uk-table td p button {
   		 float:none;
   	 }
   	 .driver-top img {
   		 float:none;
   		 display:block;
   	 }
   	 td .driver-over p.about {
   		 text-align:left;
   		 padding:0;
   		 color: #3c3d45;
   	 }
   	 .profile .feedback_ok {
   	 margin-right:10px;
   	 }
   	 .vehicle i.uk-icon-male {
   		 margin-left:0;
   	 }
   	 .driver-top .y-no button {
   		 width:70px;
   		 margin-bottom:10px;
   	 }
   	 .driver-top div.y-no {
   		 width:25%;
   	 }
   	 .driver-top div.profile {
   		 width:35%;
   	 }
   	 .driver-top div.vehicle {
   		 width:40%;
   	 }
    }
    
@media only screen and (max-width:480px) {
    .whitebg .uk-table td p button  {
   	 padding:0 10px;
   	 font-size:14px;
    }
    .driver-top .y-no button {
   		 width:70px;
   		 margin-bottom:0;
   	 }
   	 .driver-top div.y-no {
   		 float:none;
   		 clear:both;
   		 width:100%;
   		 
   		 
   	 }
   	 .profile .name, .vehicle ,name {
   		 font-size:14px;
   	 }
   	 .profile, .vehicle {
   		 font-size:12px;
   	 }
   	 
   	 .driver-top div.profile {
   		 width:50%;
   	 }
   	 .driver-top div.vehicle {
   		 width:50%;
   	 }
	 .rightlabels label {
		display:block;
	 }
	 .rightlabels .spinner {
		margin-left:0;
	 }
	 .rightlabels .spin-2 {
		width:52px;
	 }
	 .footer-in .add-nav {
		margin:3px 0 4px 2%!important;
	 }
	 .footer-top .footer-in .add-nav ul li a {
		font-size:14px;
		padding:6px 5px;
		
	 }
	 .footer-top .footer-in .social {
		
		margin: 8px 3% 8px 0;
	 }
	  .footer-top .footer-in .social li a {
		font-size:20px;
		padding:2px 7px;
		
	  }
}
@media only screen and (max-width:360px) {
    .whitebg .uk-table td p button  {
   	 width:80px;
   	 overflow:hidden;
   	 text-overflow:ellipsis;
   	 white-space:nowrap;
    }
    .uk-table tr td:nth-child(2) {
   	 word-wrap:break-word;
    }
    .driver-top div.profile {
   		 width:100%;
   		 float:none;
   	 }
   	 .driver-top div.vehicle {
   		 width:100%;
   		 float:none;
   	 }
	 /*======   adaptive view on this size from home page? do not remove, please! ===================*/
	 .home .steps-1-2-3 .chois li:not(.active)  a .hide {

			display:none;

		}

		.home .steps-1-2-3 .chois li:not(.active) {

			width:15%;

	}

		.home .steps-1-2-3 .chois .active {

			width:70%;

		}
		
		
		.header-wrapper .header-top .header-top-in .topmenu-left {
			display:none;
			}
			.header-top-in {
				background:#528ed3!important;
			}
		.header-top-in .uk-navbar-toggle{
			margin:0!important;
			position:absolute;
			right:0;
			color:#fff;
		}
	
		.destination .labels  {
			width:100%;
			float:none;
		}
		.destination  .inputs {
			width:100%;
			float:none;
		}
			.destination .add-another {
				line-height:1.3;
				padding:0 0 5px 0;
			}
			
		.order-details .left, .order-details .right {
			float:none;
			width:100%;
		}
		.order-details .adapt-left label {
			display:block!important;
			
		}
		
	.order-details .uk-button-group a {
		font-size:18px;
	}
	.home .tabtaxi {
		font-size:16px;
	}
	.form-block-wrap {
		padding:0 20px;
	}
		.destination .labels {
			margin-bottom:8px;
		}
		.destination .labels label {
			margin-left:0;
			font-size:18px;
		}
		.footer-top {
			display:none;
		}
		.home .driv-over  .leftlabels h4 {
			font-size:14px;
			margin:0 0 0 5px;
		}
		.home .driv-over .rightlabels .rightlabels-in {
			margin:0 5px;
		}
		.home .driv-over .leftlabels .select {
			font-size:14px;
			padding-left:2px;
			padding-right:15px;
			
		}
			.home .driv-over .leftlabels .select span {
				text-overflow:clip;
				white-space:nowrap;
				
			}


    }
@media only screen and (max-width:260px) {
	 .order-details-over .order-details {
		margin:0 5px;
	 }
.home .driv-over .leftlabels  {
	padding:0 5px;
}
.home .driv-over .leftlabels h4 {
	float:none;
	margin-left:0;
}
.home .driv-over .leftlabels  .select{
	float:none;
	width:90%!important;
}
	
}
/*============end style dropdown block (driver list) Alla=============*/
/*================pop-up office===================*/
.pop-up {
    /*display:block;*/
}
.client-account .uk-modal-dialog {
	width: 690px !important;
}
.popup-head {
	width: 100%;
	margin-left: -20px;
	margin-top: -20px !important;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #EBEBEB;
	color:#3c3d45;
	line-height: 40px;
	font-size:18px;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.popup-head:hover,
.popup-head:focus {
	background-color: #EBEBEB;
	color:#3c3d45;
}
.popup-head.red,
.popup-head.red i {
    color:#ff4d61;
    font-weight:normal;
}
.popup-head.inbox {
	margin-left: 0px;
	margin-bottom:10px;
	margin-top: 0px !important;
	padding-right: 0px;
	font-size:16px !important;
	font-weight:bold;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
	width: 100%;
	display:inline-block;
	line-height:40px !important;
}
.popup-head.inbox i {
	color: #0091ca;
	padding-left:5px;
}
.pop-up dl {
    display:inline-block;
}
.about-driver dd {
	font-size:14px;
}
.pop-up dt {
    color:#8d8f98;
    font-size:16px;
    font-weight:normal;
    float:left;
    margin-bottom:4px;
}
.pop-up dd {
    color:#3c3d45;
    font-size:16px;
    margin-bottom:4px;
}
.pop-up dd.myid {
    font-size:14px;
}
.pop-up dt.myid {
    font-size:14px;
}
.pop-up .addphone {
	float:left;
	margin-top: 5px;
	font-size: 14px;
}
.pop-up .addphone .questiontooltip  {
	margin-right: 5px;
}
.pop-up.route dt {
	margin-bottom:5px;
    width: 39%;
	text-align: left;
}
.pop-up.route dd {
	margin-bottom:5px;
	width:59%;
}
.pop-up.route dt.fullsize,
.pop-up.route dd.fullsize {
	width:100%;
	margin-left:0;
}
.pop-up.route dt.big {
	line-height:25px;
}
.pop-up.route dd.big {
	line-height:25px;
	margin-bottom: 8px;
}
.pop-up input[type="text"],
.pop-up select {
	border: 1px solid #d5d3dc;
	color:#3d3d3d;
	width:100%;
	padding:2px 5px 2px 5px;
	margin: 4px 0;
}
.pop-up .profile select.region {
	width:40%;
	display:inline;
}
.pop-up .profile input.fone {
	width:58%;
	float:right;
}
.pop-up .profile select.day {
	width:22%;
	display:inline;
}
.pop-up .profile select.classauto {
	width:55%;
	display:inline;
}
.pop-up .profile select.month {
	width:43%;
	display:inline;
}
.pop-up .profile select.year {
	width:30%;
	display:inline;
	float:right;
}
.pop-up .profile dt {
	width:43%;
	vertical-align:top;
	margin-top:0px;
}
.pop-up .profile dd {
	width:55%;
}
.pop-up .profile dd.fullsize {
	width:100%;
	margin:10px 0;
}
.pop-up .profile dt.fullsize {
	width:100%;
	margin:0;
}
.pop-up .profile .button-add-lang {
	line-height: 14px;
	font-size: 16px;
	text-align: left;
	float:left;
}
.pop-up dt.moretext {
	vertical-align:top;
}
.pop-up dd.moretext {
	padding-top: 0px;
}
.pop-up h5 {
    display: inline-block;
    margin: 4px 0 7px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
}
i.quest {
	margin-left:10px;
	color: #0091ca;
	font-size:18px;
}
.uk-modal {
    z-index:10000;
}
.pop-up .yourdrivers .icons a, .infoprofile li .icons a {
	margin-right: 8px;
}
.pop-up .title {
    font-size:20px;
    font-weight:bold;
    color:#ff4d61;
}
.pop-up span.date {
    font-weight:bold;
    color:#3c3d45;
}
.pop-up .yourdrivers a {
	margin-right: 4px;
	margin-top:6px;
	color:#528ed3;
	font-weight:normal;
	font-size:18px;
	float:right;
}
.pop-up .yourdrivers a:hover {
	color:#4b81bf;
	text-decoration:none;
}
.pop-up .profile a {
	font-size:14px;
	text-decoration: underline;
	margin-bottom: 5px;
}
.pop-up .profile a:hover {
	text-decoration:none;
}
/*=========================Client foto====================*/
.pop-up .clientreviews {
	border:4px #ebebeb solid;
	border-radius:4px;
	margin-bottom:5px;
}
.pop-up .clientreviews .photo {
	background:url('../images/phptpapparat.png') #fff no-repeat scroll center center;
	width:100%;
	min-height:100px;
	border-bottom:4px #ebebeb solid;
}
.pop-up .button-add {
	width:100%;
	line-height:34px;
}
/*=========================Client rate====================*/
.pop-up .clientreviews .rate {
	background:#ebebeb;
	text-align:center;
}
.pop-up .clientreviews .rate p {
	margin:0px auto;
}
.pop-up .clientreviews .rate p i {
	margin:0px -2px;
	font-size:16px;
}
.pop-up .rate-review {
	font-size:12px;
}
.pop-up .rate-review i {
	margin:0 -1px;
}
/*========================Table Responsive (last block fixed left)==============================*/
/*table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; } */

/* Mobile */
/*===  for top menu   ======*/

 @media only screen and (max-width: 800px) {
	
	.header-wrapper .header-top .header-top-in .logo {
		display:none;
	}
	.header-wrapper .header-top .header-top-in .topmenu-left {
		padding-left:4%;
	}
	.header-wrapper .header-top .header-top-in .topmenu-right .book-store a {
		padding:14px;
	}
	.header-wrapper .header-top .header-top-in .topmenu-right .book-store .thumb {
		right:96px;
	}
	.home .driv-over  .leftlabels, .home .driv-over .rightlabels {
		float:none;
		width:100%;
		clear:both;
		overflow:hidden;
		}
	.home .driv-over .rightlabels {
		padding:10px 0 2px 0;
		
	}
	.home .steps-1-2-3 .chois li a {
		font-size:14px;
	}
}
@media only screen and (max-width: 685px) {
	.order-details .left-spec {
		width:60%
	}
	.order-details .adapt-left {
		float:left;
		width:100%;
		margin-top:10px;
	}
		.order-details .adapt-left label {
			display:inline-block;
			width:40%;
		}
	.home .steps-1-2-3 .chois li a	.exclude {
		display:none;
	}
}
@media only screen and (max-width: 600px) {
	.header-wrapper .header-top .header-top-in .logo, .header-top-in .uk-navbar-toggle {
		display:block;
	}
	.header-wrapper .header-top .header-top-in .topmenu-left ul.uk-subnav,  .header-wrapper .header-top .header-top-in .topmenu-right {
		display:none;
	}
		
			.header-wrapper .header-top .header-top-in .topmenu-left {
				width:93px;
				height:32px;
			}
}
@media only screen and (min-width:761px) {
.home .destination {
	float:left;
	width:50%;
}
.home .order-details-over {
	float:left;
	width:50%;
}
.home .disloc {
	float:right;
	width:50%;
}
	.home .disloc .disloc-in {
		margin-left:10px;
	}
	
	.destination .form-block-wrap {
		margin-right:10px;
	}
	
	.destination .nav-over {
		padding-right:10px;
	}
}
@media only screen and (max-width: 760px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 20%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable { margin-left: 20%; }
	div.table-wrapper div.scrollable .daterange {
		min-width:200px;
	}
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:last-child, table.responsive td:last-child, table.responsive td:last-child, table.responsive.pinned td { display: none; }
}

/*========================end office passenger and driver=======================*/
