<div class="main">
	<div class="message"><span>Внимание!</span> Не забывайте подтвердить вашу готовность выполнить заказ!</div>
	<table><colgroup><col width="57" /> <col width="156" /> <col width="96" /><col width="217" /><col width="66" /><col width="58" /><col width="134" /> <col width="225" /> </colgroup>
		<thead>
		<tr>
			<th>#</th><th>Date</th><th>Time</th><th>Route</th><th>Trust</th><th>Price</th><th>Contacts</th><th>Instruct</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>1</td><td>02 <span class="month">mar</span> 14</td><td>18:45</td><td>USA: Даллас -
USA: Оклахома-сити</td><td><span class="thumbs trust1"></span></td><td>$783.85</td><td class="contacts"><div><span>Skype:</span> Vasya</div> <div><span>Phone:</span> xxxxxxx</div></td><td class="instruct"><span class="basket">Instruct Order</span></td>
		</tr>
		</tbody>
	</table>
</div>
