<tr style="background: url({{ letterbgImage }}) #D2EDFF;">
    <td style="padding-left: 11px;background: #D2EDFF;">
    	<h3 style="font-size: 16px;margin-top: 19px;margin-bottom: 20px;">
            {% block banner_one_title %}Enjoy to TaxiMyPrice and get great opportunity to plan your vacation easy{% endblock %}
        </h3>
    	<a style="width: 188px; background-color: #ff4d61; color: #fff; text-decoration: none;font-size: 16px; padding: 7px 10px 6px; display: block; border-radius: 3px;text-align: center;margin-bottom: 13px;" href="#">More information</a>
    </td>
</tr>
