<tr>
	<td style="color: transparent;">.</td>
</tr>
<tr style="background: url( {{ asset('bundles/davincitaxi/images/letterbg.jpg') }} ) #D2EDFF;">
    <td colspan="" style="width: 180px;color: transparent;">
    	.
    </td>
    <td colspan="" style="padding-left: 11px;background: #D2EDFF;">
    	<h3 style="font-size: 16px;margin-top: 19px;margin-bottom: 20px;">{% block banner_two_title %}Планируйте свой отпуск вместе с TaxiMyPrice{% endblock %}</h3>
    	<a style="width: 188px; background-color: #ff4d61; color: #fff; text-decoration: none;font-size: 16px; padding: 7px 10px 6px; display: block; border-radius: 3px;text-align: center;margin-bottom: 13px;" href="#">Узнать подробнее</a>
    </td>
</tr>
