{% extends 'DaVinciTaxiBundle:Email:letters.html.twig' %}

{% block title %}Notification message{% endblock %}

{% block message_text %}
	Thank you for creating an account at TaxiMyPrice.<br/>
    We are happy to confirm Your registration!<br/>
    To continue to book a ride with TMP or to find the passengers for Your Taxi Business, click here:
{% endblock %}

{% block button_confirm %}
	<a style="width: 277px; background-color: #27bf2e; color: #fff; text-decoration: none;font-size: 20px; padding: 10px 10px 8px; display: block; border-radius: 3px;text-align: center;margin-bottom: 13px;" href="{{ confirmationUrl }}">Confirm Registration</a>
{% endblock %}

{% block banner_one %}
	{% include 'DaVinciTaxiBundle:Email:banner_one.html.twig' %}
{% endblock %}
