{% extends 'DaVinciTaxiBundle:Email:letters.html.twig' %}

{% block title %}Confirm registration on TaxiMyPrice!{% endblock %}

{% block message_text %}
	Follow this link to activate Your account.
{% endblock %}

{% block button_confirm %}
	<a style="width: 277px; background-color: #27bf2e; color: #fff; text-decoration: none;font-size: 20px; padding: 10px 10px 8px; display: block; border-radius: 3px;text-align: center;margin-bottom: 13px;" href="{{ confirmationUrl }}">Confirm Registration</a>
{% endblock %}

{% block message_text_after %}
	Respectfully yours, TaxiMyPrice team.
{% endblock %}

{% block banner_one %}
	{% include 'DaVinciTaxiBundle:Email:banner_one.html.twig' %}
{% endblock %}
