{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'notifications' %}
{% block title %}
    {% include 'DaVinciTaxiBundle::banner.html.twig' %}
{% endblock%}
{% block body %}

	<div class="new whitebg shadow-main">
		<div class="block-help">
			<h3>{{ 'New message' |trans }}</h3>
			<p>{{ 'Please indicate the topic of your question!' |trans }}</p>
				<dl class="first">
					<dt>Select the person:</dt>
					<dd>
					    <select>
					        <option value="">passenger</option>
					        <option value="">driver</option>
					    </select>
					</dd>
					<dt>Select a theme question:</dt>
					<dd>
					    <select>
					        <option value="">passenger</option>
					        <option value="">driver</option>
					    </select>
					</dd>
					<dt>Select refinement question:</dt>
					<dd>
					    <select>
					        <option value="">passenger</option>
					        <option value="">driver</option>
					    </select>
					</dd>
				</dl>
				<dl class="fullsize">
					<dt>Subject question:</dt>
					<dd><input type="text" placeholder="не указано"></dd>
					<dt>Body:</dt>
					<dd>
						<textarea class="charcount" cols="30" rows="10" maxlength="200"></textarea>
						<h6 class="precounter">symbols left:</h6>
					</dd>
				</dl>
				<div class="uk-form-file">
                    <button class="uk-button uk-button-primary add-file"><i class="mp-icon-clip"></i>Прикрепить файл</button>
                    <input type="file">
                </div><br>
				<a href="" class="uk-button uk-button-success send">Send message</a>
			</div>
	</div>

{% endblock %}

{% block javascripts %}
 {% javascripts filter='?requirejs'
    '@DaVinciTaxiBundle/Resources/public/js/pages/new_ticket.js'
    %}
    {# actually we need to create different js file for that page #}
    
    {{ require_js_initialize({ 'main' : asset_url })}}

    {% endjavascripts %}
{% endblock %}