<div class="message"><a class="mp-icon-trash"></a>{#<span>Внимание! </span>Информационная строка #}</div>
	<table class="uk-table">
		<thead>
			<tr>
				<th><input type="checkbox"></th>
				<th>#</th>
				<th>Category</th>
				<th>Subject</th>
				<th>Text message</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox"></td>
				<td>1</td>
				<td>My Wallet</td>
				<td class="uk-text-bold"><a href="#" data-uk-toggle="{target:'#message50'}">Продлите свой офис водителя!</a></td>
				<td>Александр, напоминаем вам, что через 5 дней истекает ...</td>
				<td>11 OKT 14</td>
			</tr>
			<tr id="message50" class="uk-hidden notifmessage"><td colspan="6">{{'Зарегистрируйтесь бесплатно. Весь процесс регистрации предельно простой и займёт у вас несколько минут. Выберите пункт РЕГИСТРАЦИЯ или перейдите по ссылке LINK. Введите ваши имя, адрес электронной почты, выберите пароль и нажмите CREATE ACOUNT. Проверьте правильность введённых данных данных и ...'|trans}}</td></tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>2</td>
				<td>My Wallet</td>
				<td><a href="#" data-uk-toggle="{target:'#message51'}">Продлите свой офис водителя!</a></td>
				<td>Александр, напоминаем вам, что через 5 дней истекает ...</td>
				<td>11 OKT 14</td>
			</tr>
			<tr id="message51" class="uk-hidden notifmessage"><td colspan="6">{{'Зарегистрируйтесь бесплатно. Весь процесс регистрации предельно простой и займёт у вас несколько минут. Выберите пункт РЕГИСТРАЦИЯ или перейдите по ссылке LINK. Введите ваши имя, адрес электронной почты, выберите пароль и нажмите CREATE ACOUNT. Проверьте правильность введённых данных данных и ...'|trans}}</td></tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>3</td>
				<td>My Wallet</td>
				<td><a href="#" data-uk-toggle="{target:'#message52'}">Продлите свой офис водителя!</a></td>
				<td>Александр, напоминаем вам, что через 5 дней истекает ...</td>
				<td>11 OKT 14</td>
			</tr>
			<tr id="message52" class="uk-hidden notifmessage"><td colspan="6">{{'Зарегистрируйтесь бесплатно. Весь процесс регистрации предельно простой и займёт у вас несколько минут. Выберите пункт РЕГИСТРАЦИЯ или перейдите по ссылке LINK. Введите ваши имя, адрес электронной почты, выберите пароль и нажмите CREATE ACOUNT. Проверьте правильность введённых данных данных и ...'|trans}}</td></tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>4</td>
				<td>My Wallet</td>
				<td><a href="#" data-uk-toggle="{target:'#message53'}">Продлите свой офис водителя!</a></td>
				<td>Александр, напоминаем вам, что через 5 дней истекает ...</td>
				<td>11 OKT 14</td>
			</tr>
			<tr id="message53" class="uk-hidden notifmessage"><td colspan="6">{{'Зарегистрируйтесь бесплатно. Весь процесс регистрации предельно простой и займёт у вас несколько минут. Выберите пункт РЕГИСТРАЦИЯ или перейдите по ссылке LINK. Введите ваши имя, адрес электронной почты, выберите пароль и нажмите CREATE ACOUNT. Проверьте правильность введённых данных данных и ...'|trans}}</td></tr>
		</tbody>
	</table>
