{#<div class="message"><a class="mp-icon-trash"></a><span>Внимание! </span>Информационная строка</div>#}
	<table class="uk-table">
		<thead>
			<tr>
				<th><input type="checkbox"></th>
				<th>#</th>
				<th>Category</th>
				<th>Subject</th>
				<th>Text message</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox"></td>
				<td>1</td>
				<td>TMP All Orders</td>
				<td class="uk-text-bold"><a href="#" data-uk-toggle="{target:'#message'}">Продлите свой офис водителя!</a></td>
				<td>Александр, напоминаем вам, что через 5 дней истекает ...</td>
				<td>11 OKT 14</td>
			</tr>
			<tr id="message" class="uk-hidden notifmessage"><td colspan="6">{{'Зарегистрируйтесь бесплатно. Весь процесс регистрации предельно простой и займёт у вас несколько минут. Выберите пункт РЕГИСТРАЦИЯ или перейдите по ссылке LINK. Введите ваши имя, адрес электронной почты, выберите пароль и нажмите CREATE ACOUNT. Проверьте правильность введённых данных данных и ...'|trans}}</td></tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>2</td>
				<td>TMP Order Status</td>
				<td><a href="#" data-uk-toggle="{target:'#message1'}">Продлите свой офис водителя!</a></td>
				<td>Александр, напоминаем вам, что через 5 дней истекает ...</td>
				<td>11 OKT 14</td>
			</tr>
			<tr id="message1" class="uk-hidden notifmessage"><td colspan="6">{{'Зарегистрируйтесь бесплатно. Весь процесс регистрации предельно простой и займёт у вас несколько минут. Выберите пункт РЕГИСТРАЦИЯ или перейдите по ссылке LINK. Введите ваши имя, адрес электронной почты, выберите пароль и нажмите CREATE ACOUNT. Проверьте правильность введённых данных данных и ...'|trans}}</td></tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>3</td>
				<td>TMP Payments</td>
				<td><a href="#" data-uk-toggle="{target:'#message2'}">Продлите свой офис водителя!</a></td>
				<td>Александр, напоминаем вам, что через 5 дней истекает ...</td>
				<td>11 OKT 14</td>
			</tr>
			<tr id="message2" class="uk-hidden notifmessage"><td colspan="6">{{'Зарегистрируйтесь бесплатно. Весь процесс регистрации предельно простой и займёт у вас несколько минут. Выберите пункт РЕГИСТРАЦИЯ или перейдите по ссылке LINK. Введите ваши имя, адрес электронной почты, выберите пароль и нажмите CREATE ACOUNT. Проверьте правильность введённых данных данных и ...'|trans}}</td></tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>4</td>
				<td>My Wallet</td>
				<td><a href="#" data-uk-toggle="{target:'#message3'}">Продлите свой офис водителя!</a></td>
				<td>Александр, напоминаем вам, что через 5 дней истекает ...</td>
				<td>11 OKT 14</td>
			</tr>
			<tr id="message3" class="uk-hidden notifmessage"><td colspan="6">{{'Зарегистрируйтесь бесплатно. Весь процесс регистрации предельно простой и займёт у вас несколько минут. Выберите пункт РЕГИСТРАЦИЯ или перейдите по ссылке LINK. Введите ваши имя, адрес электронной почты, выберите пароль и нажмите CREATE ACOUNT. Проверьте правильность введённых данных данных и ...'|trans}}</td></tr>
		</tbody>
	</table>
