				<label>
					<span class="text bold">Ген. директор:</span>
					<input type="text" name="headmaster" id="headmaster" required>
				</label>
				<label>
					<span class="text">Mobile number:</span>
					<input type="text" id="phonenumber" name="phonenumber" required>
				</label>
				<label>
					<span class="text">Skype:</span>
					<input type="text" id="skype" name="skype" required>
				</label>
				<label>
					<span class="text bold">Контактное лицо:</span>
					<input type="text" name="contactmaster" id="contactmaster" required>
				</label>
				<label>
					<span class="text">Mobile number:</span>
					<input type="text" id="phonenumber2" name="phonenumber2" required>
				</label>
				<label>
					<span class="text">Skype:</span>
					<input type="text"id="skype2" name="skype2" required>
				</label>
				<label>
					<span class="text">E-mail (username):</span>
					<input type="email" id="email" name="email" required>
				</label>
				<label>
					<span class="text">Create Password:</span>
					<input type="password" name="password" id="password" required>
				</label>
				<label class="term"><input type="checkbox" name="term" id="term" required> I agree to the <a href="#">Driver Terms &amp; Conditions</a></label>
				<input class="submit nextbutt" type="submit" value="Create account"/>
