<div class="content-block">
	<div class="column_left_profile">
		<div class="avatar">
			<div class="photo"></div>
			<div class="button">Add logo</div>
		</div>
		Completed orders:
		<div><span class="positive"></span>1234</div>
		<div><span class="negative"></span>0</div>
	</div>
	<div class="column_right_profile">
		<div class="yourdrivers">
			<div class="yourdriversblock">
				<div class="yourdriverstitle">Your Drivers</div>
				<ul>
					<li><label><input type="checkbox">William Gates</label></li>
					<li><label><input type="checkbox">Warren Buffett</label></li>
					<li><label><input type="checkbox">Lakshmi Mittal</label></li>
					<li><label><input type="checkbox">Carlos Slim Helu</label></li>
					<li><label><input type="checkbox">Talal Alsaud</label></li>
					<li><label><input type="checkbox">Ingvar Kamprad</label></li>
					<li><label><input type="checkbox">Paul Allen</label></li>
					<li><label><input type="checkbox">Karl Albrecht</label></li>
					<li><label><input type="checkbox">Lawrence Ellison</label></li>
					<li><label><input type="checkbox">Robson Walton</label></li>
					<li><label><input type="checkbox">Jim Walton</label></li>
					<li><label><input type="checkbox">John Walton</label></li>
					<li><label><input type="checkbox">Alice Walton</label></li>
					<li><label><input type="checkbox">Helen Walton</label></li>
					<li><label><input type="checkbox">Kenneth Thomson</label></li>
					<li><label><input type="checkbox">Liliane Bettencourt</label></li>
					<li><label><input type="checkbox">Bernard Arnault</label></li>
					<li><label><input type="checkbox">Michael Dell</label></li>
				</ul>
				<div class="yourdriverstitle"><div class="icons">
					<a href="#" class="complete"></a>
					<a href="#" class="edit"></a>
					<a href="#" class="block"></a>
					<a href="#" class="deleter"></a>
					<a href="#" class="add"></a>
				</div></div>
			</div>	
			<div class="button red">Добавить отзыв</div>
		</div>
		<ul class="infoprofile">
			<li><h5>General information</h5>
				<dl>
				<div class="icons"><a href="#" class="edit"></a></div>
				<dt>Название:</dt><dd>RuTaxi</dd>
				<dt>Страна:</dt><dd>Россия</dd>
				<dt>Город:</dt><dd>Москва</dd>
				<dt>Улица:</dt><dd>Ленина</dd>
				<dt>№ Дома:</dt><dd>147</dd>
				</dl>
			</li>
			<li><h5>Buisiness information</h5>
				<dl>
				<div class="icons"><a href="#" class="edit"></a></div>
				<dt>Дата регистрации:</dt><dd>02/05/13</dd>
				<dt>Место регистрации:</dt><dd>Московская налоговая инспекция</dd>
				<dt>Номер в гос.реестре:</dt><dd>846593758960349</dd>
				<dt>Количество машин:</dt><dd>25</dd>
				</dl>
			</li>
			<li><h5>Buisiness manager</h5>
				<dl>
				<div class="icons"><a href="#" class="edit"></a></div>
				<dt>Ген.директор:</dt><dd>Игорь Иванов</dd>
				<dt>Phone number:</dt><dd>+370660558532я</dd>
				<dt>Skype:</dt><dd>Igor1985</dd>
				</dl>
			</li>
			<li><h5>Office manager</h5>
				<dl>
				<div class="icons"><a href="#" class="edit"></a></div>
				<dt>Диспетчер:</dt><dd>Евгений Воронов</dd>
				<dt>Phone number:</dt><dd>+370660558532я</dd>
				<dt>Skype:</dt><dd>Igor1985</dd>
				</dl>

				<dl>
				<div class="icons"><a href="#" class="edit"></a></div>
				<dt>Диспетчер:</dt><dd>Евгений Воронов</dd>
				<dt>Phone number:</dt><dd>+370660558532я</dd>
				<dt>Skype:</dt><dd>Igor1985</dd>
				</dl>
			</li>
			<li><h5>Отзывы наших клиентов</h5>
				<ul class="clientsreviews">
					<li>
						<div class="clientphoto"><img src="{{ asset('bundles/davincitaxi/images/clientphoto.png') }}" alt="Борис Иванов" /></div>
						<div class="clientname">Борис Иванов <span class="date">02 mar 2014</span> <span class="positive"></span></div>
						<div class="clentreview">Делали два заказа: 8-го марта днём в аэропорт и 9-го марта вечером из аэропорта. Оба заказа прошли  хорошаранее. Во втором случае самолёт приземлился раньше времени и по звонку диспетчеру машину подали минут на 20 пораньше, что тоже было приятно.</div>
					</li>
					<li>
						<div class="clientphoto"><img src="{{ asset('bundles/davincitaxi/images/clientphoto.png') }}" alt="Борис Иванов" /></div>
						<div class="clientname">Борис Иванов <span class="date">02 mar 2014</span> <span class="positive"></span></div>
						<div class="clentreview">Делали два заказа: 8-го марта днём в аэропорт и 9-го марта вечером из аэропорта. Оба заказа прошли  хорошаранее. Во втором случае самолёт приземлился раньше времени и по звонку диспетчеру машину подали минут на 20 пораньше, что тоже было приятно.</div>
					</li>
				</ul>
				
				<div class="addlang">Показать еще 10 (133)</div>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
