<div class="main">
	{#<div class="message"><span>Внимание!</span> Информация</div>#}
	<table><colgroup><col width="57" /> <col width="246" /> <col width="186" /><col width="217" /><col width="166" /><col width="158" /></colgroup>
		<thead>
		<tr>
			<th>#</th><th>Order ID</th><th>Маршрут</th><th>Исполнитель</th><th>Instruct</th><th>Статус</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>1</td><td>51122121302 </td><td>18:45</td><td>USA: Даллас - USA: Оклахома-сити</td><td><span class="blue bold">Boris</span></td><td><span class="status"></span></td>
		</tr>
		</tbody>
	</table>
</div>
