{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'register' %}
{% block title %}
    {% include 'DaVinciTaxiBundle::banner.html.twig' %}
<div class="wrapper-content title officepagetitle">

{% trans %}Congratulations! Your {% endtrans %}<img src="{{ asset('bundles/davincitaxi/images/present.png') }}" alt="" /> {% trans  with {'%url%': url('office_passenger') }  %}<a href="%url%" class="gobutt">Passenger’s office</a>{% endtrans %}
<div class="greentitle"><span>{% trans %}Need money: choose professional office!{% endtrans %} <img src="{{ asset('bundles/davincitaxi/images/return.png') }}" alt="" /></span></div>
</div>
{% endblock%}

{% block body %}


<div class="align_center">
	<div class="blockoffice">
	    <div class="officetitle">{% trans %}Taxi Company{% endtrans %}</div>
	    <div class="officecomment">{% trans %}*You get profit from country visitors{% endtrans %}</div>
	    <ul>
	        <li>{% trans %}Tools for making money{% endtrans %}</li>
	        <li class="odd">{% trans %}Management of daily operations{% endtrans %}</li>
	        <li>{% trans %}Promotion for international passengers{% endtrans %}</li>
	    </ul>
	    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
		<a class="trial tcompany" href="#makechoice" data-uk-modal>{% trans %}Free Trial{% endtrans %}</a>
	</div>

<div id="makechoice" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
		<h2>{% trans %}Make your choice{% endtrans %}</h2>
		<ul>
			<li>{% trans  with {'%url%': 'register-company'}  %}<a href="%url%">Taxi company owner</a>{% endtrans %}</li>
			<li>{% trans  with {'%url%': 'register-manager'}  %}<a href="%url%">Taxi company manager</a>{% endtrans %}</li>
			<li>{% trans  with {'%url%': 'register-company-driver'}  %}<a href="%url%">Taxi company driver</a>{% endtrans %}</li>
		</ul>
    </div>
</div>

	<div class="blockoffice">
	    <div class="officetitle">{% trans %}Independent Driver{% endtrans %}</div>
	    <div class="officecomment">{% trans %}*You make money working for owner{% endtrans %}</div>
	    <ul>
	        <li>{% trans %}Access to the order's list{% endtrans %}</li>
	        <li class="odd">{% trans %}Manage finansial streams{% endtrans %}</li>
        	<li>{% trans %}2 offices - our gift{% endtrans %}</li>
	    </ul>
	    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
	    <a class="trial" href="register-independent-driver">{% trans %}Free Trial{% endtrans %}</a>
	</div>

</div>

{% endblock %}