{% extends 'DaVinciTaxiBundle::base.html.twig' %}

{% block body %}
<div class="main-content client-account">
<!------------------------------------------------Account start-------------------------------------->
		<div class="uk-grid uk-grid-small uk-width-large-7-10 uk-width-medium-9-10 uk-width-small-7-10">
			<div class="uk-panel uk-width-large-1-4 uk-width-medium-1-4 uk-width-small-1-2">
				<button class="uk-button uk-button-primary uk-button-profile uk-width-1-1" data-uk-modal="{target:'#Profile'}"><i class="mp-icon-person"></i>My profile</button>
			</div>
			<div class="uk-panel uk-width-large-1-4 uk-width-medium-1-4 uk-width-small-1-2">
				<button class="uk-button uk-button-success uk-button-profile uk-width-1-1"><span class="icon-messages-n"><font>5</font></span><i class="mp-icon-message"></i>Messages</button>
			</div>
			<div class="uk-panel uk-width-large-1-4 uk-width-medium-1-4 uk-width-small-1-2">
				<button class="uk-button uk-button-danger uk-button-profile uk-width-1-1"><i class="mp-icon-good"></i>Buy Membership</button>
			</div>
		</div>
		<div id="clientaccount" class="uk-grid uk-grid-small uk-margin">
			<div class="uk-panel">
				<div class="clientid">
					<div class="clientphoto">
						<img src="{{ asset('bundles/davincitaxi/images/clientphoto-new.png') }}" alt="" width="75" height="79" />
					</div>
				<dl>
					<dt>My ID: </dt><dd class="data"> 76877960596623</dd><br />
					<dt>Name: </dt><dd class="data"> Boris Ivanov</dd><br />
					<dt>Status: </dt> <dd class="data">Independent driver</dd>
				</dl>
				</div>
			</div>
			<div class="uk-panel">
				<div class="clientid">
				<dl>
					<dt class="">My balance: </dt><dd id="balance" class="data"> $0.00</dd><br />
					<dt><a href="">$Add</a></dt><br />
					<dt><a href="">$Withdraw</a></dt><br />
					<dt><a href="">$Transfer</a></dt>
				</dl>
				</div>
			</div>
			<div class="uk-panel">
				<div class="clientid">
				<dl>
					<dt>Membership: </dt><dd id="status" class="data"> Gold</dd><br />
					<dt>Left time: </dt><dd class="data"> 11 oct 14</dd><br />
					<dt><a href="">Extend</a></dt>
				</dl>
				</div>
			</div>
		</div>
<!------------------------------------------------Account end-------------------------------------->
<!------------------------------------------------Swicher button------------------------------------->
<div class="wrapper-content">
    <div class="shadow-main">
           <div class="button-swicher uk-grid uk-grid-small uk-width-1-1" data-uk-switcher="{connect:'#tab-content'}">
	           <div class="uk-panel uk-width-1-3 uk-active">
				    <button class="uk-width-1-1">Find orders</button>
			   </div>
			   <div class="uk-panel uk-width-1-3">
				    <button class="uk-width-1-1">Open orders</button>
				</div>
			   <div class="uk-panel uk-width-1-3">
				    <button class="uk-width-1-1">Order history</button>
				</div>
			</div>
<!------------------------------------------------ independent-driver table--------------------------------------->
            <ul id="tab-content" class="uk-switcher">
                    <li class="uk-active">
                            <div class="whitebg">
                            	<div class="message uk-grid uk-grid-small uk-width-1-1">
                                    <div class="uk-width-large-1-2 uk-width-medium-1-2 uk-width-small-1-1">
                                    	<div class="uk-width-1-1">
	                                    	<dt class="uk-text-bold uk-text-primary">Passengers:</dt><dd><select class="chosen"><option>not chosen</option></select></dd>
                                    	</div>
                                    </div>
                                    <div class="uk-width-large-1-2 uk-width-medium-1-2 uk-width-small-1-1">
                                    	<div class="uk-grid uk-grid-small uk-width-1-1">
	                                    	<div class="uk-width-1-3">Adult <input type="number" min="0" max="4" value="1"></div>
	                                    	<div class="uk-width-1-3">Children <input type="number" min="0" max="4" value="1"></div>
	                                    	<div class="uk-width-1-3">Seniors <input type="number" min="0" max="4" value="1"></div>
	                                    </div>
                                    </div>
                                </div>
                                    <table class="uk-table allorder responsive"><colgroup><col class="number" /> <col class="id-driver" /> <col /></colgroup>
                                            <thead class="blue-thead">
                                            <tr>
                                                    <th>Tip</th><th colspan="2">Date/time</th><th>Route</th><th>Trust</th><th>PM</th><th>Price</th><th>Buy</th>
                                            </tr>
                                            </thead>
                                            <thead>
                                            <tr>
                                                    <th>#</th>
                                                    <th class="datetime">
	                                                    <form class="uk-form">
	                                                    <div class="uk-form-icon uk-form-icon-flip">
														    <input class="uk-width-1-1" type="text" placeholder="02/12/14-03/01/14" data-uk-datepicker="{format:'DD.MM.YYYY'}">
	                                                    	<i class="mp-icon-calendar"></i>
														</div>
														</form>
                                                    </th>
                                                    <th class="time">
		                                                <form class="uk-form uk-form-icon uk-form-icon-flip">
														    <input class="uk-width-1-1" type="text" placeholder="08:30-19:00" data-uk-timepicker="{format:'24h'}">
	                                                    	<i class="mp-icon-clock"></i>
														</form>
													</th>
                                                    <th class="route">
              		                                    <div class="uk-form-icon uk-form-icon-flip uk-width-1-1">
					                                      	<input class="uk-width-1-1" type="text" placeholder="for example, Moscow, Russia">
					                                      	<i class="mp-icon-nord-star"></i>
					                                    </div>
                                                    </th>
                                                    <th>
													<div class="uk-form-select" data-uk-form-select>
													    <a><i class="mp-icon-trust uk-text-primary"></i><i class="mp-icon-trust uk-text-primary"></i><i class="mp-icon-trust uk-text-primary"></i></a>
														<i class="uk-icon-caret-down"></i>
													    <select>
													    	<option value="1"><a class="mp-icon-trust uk-text-primary"></a><a class="mp-icon-trust uk-text-primary"></a><a class="mp-icon-trust uk-text-primary"></a></option>
													    	<option value="2"><a class="mp-icon-trust uk-text-primary"></a><a class="mp-icon-trust uk-text-primary"></a></option>
													    	<option value="3"><a class="mp-icon-trust uk-text-primary"></a></option>
													    	<option value="4"><a class="mp-icon-trust-invert uk-text-primary"></a></option>
													    </select>
													</div>
                                                    </th>
                                                    <th>
                                                    	<a class="sort" href="#"><i class="mp-icon-arrow-up"></i><i class="mp-icon-arrow-down uk-text-primary"></i></a>
                                                    </th>
                                                    <th>
                                                    	<div class="uk-width-1-1">
	                                                    	<a class="sort" href="#"><i class="mp-icon-arrow-up"></i><i class="mp-icon-arrow-down uk-text-primary"></i></a>
	                                                    	<select><option><alt>$30-$40</alt></option></select>
                                                    	</div>
                                                    </th>
                                                    <th>
                                                    	<select><option><alt>Other</alt></option></select>
                                                    	<a href="" class="mp-icon-closed uk-text-danger"></a>
                                                    </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
	                                            <td><div class="uk-badge">1</div></td>
	                                            <td>02 <span class="month">mar</span> 14 </td>
	                                            <td><span class="timehere"> 18:45</span></td>
	                                            <td>
	                                            	<a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a>
			                                    </td>
	                                            <td>
	                                            	<i class="mp-icon-trust uk-text-primary"></i>
			                                    </td>
	                                            <td>
	                                            	<span class="uk-text-bold uk-text-primary">escro</span>
			                                    </td>
	                                            <td>
	                                            	<span>$783.85</span>
			                                    </td>
	                                            <td>
	                                            	<a class="uk-button uk-button-success"><i class="mp-icon-basket uk-margin-right"></i><span>0:10:48</span></a>
			                                    </td>
                                            </tr>
                                            <tr>
	                                            <td><div class="uk-badge">1</div></td>
	                                            <td>02 <span class="month">mar</span> 14 </td>
	                                            <td><span class="timehere"> 18:45</span></td>
	                                            <td>
	                                            	<a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a>
			                                    </td>
	                                            <td>
	                                            	<i class="mp-icon-trust uk-text-primary"></i>
	                                            	<i class="mp-icon-trust uk-text-primary"></i>
			                                    </td>
	                                            <td>
	                                            	<span class="uk-text-bold">cash</span>
			                                    </td>
	                                            <td>
	                                            	<span>$783.85</span>
			                                    </td>
	                                            <td>
	                                            	<a class="uk-button uk-button-success"><i class="mp-icon-basket uk-margin-right"></i><span>0:10:48</span></a>
			                                    </td>
                                            </tr>
                                            <tr>
	                                            <td><div class="uk-badge">1</div></td>
	                                            <td>02 <span class="month">mar</span> 14 </td>
	                                            <td><span class="timehere"> 18:45</span></td>
	                                            <td>
	                                            	<a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a>
			                                    </td>
	                                            <td>
	                                            	<i class="mp-icon-trust uk-text-primary"></i>
	                                            	<i class="mp-icon-trust uk-text-primary"></i>
	                                            	<i class="mp-icon-trust uk-text-primary"></i>
			                                    </td>
	                                            <td>
	                                            	<span class="uk-text-bold uk-text-primary">escro</span>
			                                    </td>
	                                            <td>
	                                            	<span>$783.85</span>
			                                    </td>
	                                            <td>
	                                            	<a class="uk-button uk-button-success"><i class="mp-icon-basket uk-margin-right"></i><span>0:10:48</span></a>
			                                    </td>
                                            </tr>
                                            <tr>
	                                            <td><div class="uk-badge">1</div></td>
	                                            <td>02 <span class="month">mar</span> 14 </td>
	                                            <td><span class="timehere"> 18:45</span></td>
	                                            <td>
	                                            	<a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a>
			                                    </td>
	                                            <td>
	                                            	<i class="mp-icon-trust-invert uk-text-primary"></i>
			                                    </td>
	                                            <td>
	                                            	<span class="uk-text-bold uk-text-primary">escro</span>
			                                    </td>
	                                            <td>
	                                            	<span>$783.85</span>
			                                    </td>
	                                            <td>
	                                            	<a class="uk-button uk-button-success"><i class="mp-icon-basket uk-margin-right"></i><span>0:10:48</span></a>
			                                    </td>
                                            </tr>
                                            </tbody>
                                    </table>
                            </div>
                    </li>
                    <li>
                            <div class="whitebg">
                                    <div class="message"><span>Attention!</span>Choose driver by yourself!</div>
                                    <table class="uk-table responsive allorder"><!--<colgroup><col width="40" /> <col width="117" /> <col width="154" /><col width="242" /><col width="97" /><col width="124" />  <col width="116" /> <col width="106" /> </colgroup>-->
                                                <tbody>
                                                    <thead>
                                                            <tr>
                                                                    <th>#</th><th>TMP ID<a class="help" href="">?</a></th><th><span class="filter"></span>Left time<a class="help" href="">?</a></th><th><span class="filter"></span>Price<a class="help" href="">?</a></th><th>Deals<a class="help" href="">?</a></th><th><span class="filter"></span>Status<a class="help" href="">?</a></th>
                                                            </tr>
                                                    </thead>
                                                    <tr>
                                                            <td>1</td><td class="timesent">0223240234</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">I'm<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>2</td><td class="timesent">0223240235</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
                                                            		<a class="uk-text-warning">Sorry, try next time...</a>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>3</td><td class="timesent">0223240236</td><td><span>24:09:57</span></td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
                                                            		<a class="uk-text-danger">YES! Luck is yours!</a>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>4</td><td class="timesent">0223240237</td><td><span>24:09:57</span></td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">I'm<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>5</td><td class="timesent">0223240238</td><td><span>24:09:57</span></td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">I'm<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>6</td><td class="timesent">0223240239</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">I'm<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>7</td><td class="timesent">0223240212</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">I'm<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>8</td><td class="timesent">0223240212</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">I'm<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>9</td><td class="timesent">0223240212</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">I'm<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>10</td><td class="timesent">0223240212</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">I'm<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>11</td><td class="timesent">0223240212</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">Даллас (USA)  <i class="uk-icon-arrow-right"></i>  Оклахома-сити (USA)</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">I'm<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                            </tbody>
                                    </table>
                                    
                         </div>
                    </li>
                    <li>
                    <div class="whitebg">
                       <div class="message"><span>Attention!</span>Choose driver by yourself!</div>
                                    <table class="uk-table responsive allorder"><!--<colgroup><col width="40" /> <col width="117" /> <col width="154" /><col width="242" /><col width="97" /><col width="124" />  <col width="116" /> <col width="106" /> </colgroup>-->
                                                <tbody>
                                                    <thead>
                                                            <tr>
                                                                    <th>#</th><th>TMP ID<a class="help" href="">?</a></th><th><span class="filter"></span>Date and time<a class="help" href="">?</a></th><th>Route<a class="help" href="">?</a></th><th><span class="filter"></span>Price<a class="help" href="">?</a></th><th><span class="filter"></span>Status<a class="help" href="">?</a></th><th><span class="filter"></span>Left time<a class="help" href="">?</a></th><th>Edit<a class="help" href="">?</a></th>
                                                            </tr>
                                                    </thead>
                                                    <tr>
                                                            <td>1</td><td class="timesent">0223240234</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere">18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>pending</td><td><a class="uk-button uk-button-success">Confirm deal</a></td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>2</td><td class="timesent">0223240235</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>pending</td><td><a class="uk-button uk-button-success">Confirm deal</a></td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>3</td><td class="timesent">0223240236</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>closed</td><td><span>00:00:00</span></td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-warning">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>4</td><td class="timesent">0223240237</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>closed</td><td><span class="uk-text-primary">26:55:03</span></td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>5</td><td class="timesent">0223240238</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>closed</td><td><span class="uk-text-danger">13:55:03</span></td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>6</td><td class="timesent">0223240239</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>canceled</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>7</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>open</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>8</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>all happy</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>9</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>all happy</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>10</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>all happy</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>11</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">mar</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a href=""><span>Даллас (USA) -</span><span> Оклахома-сити (USA)</span></a></td><td>$783.85</td><td>all happy</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                            </tbody>
                                    </table>
                    	</div>
                    </li>
            </ul>
<!------------------------------------------------Table Конец--------------------------------------->
    </div>
   
</div>
<!------------------------------------------------profile--------------------------------------------->
            <div id="Profile" class="uk-modal client-account">
                    <div class="uk-modal-dialog">
	                    <a class="uk-modal-close uk-close"></a>
		                    <div class="popup-head">Begin you profile<i class="uk-icon-question-circle quest"></i></div>
						<div class="pop-up uk-grid uk-grid-small">
							<div>
								<div class="clientreviews">
									<div class="photo"></div>
									<a class="button-add uk-button uk-button-primary">Add Your Photo</a>
								</div>
							</div>
							<div class="profile uk-width-large-2-3 uk-width-medium-2-3 uk-width-small-1-1">
								<h5>Personal information</h5><br />
								<dl class="uk-width-1-1 uk-margin-bottom">
										<div class="uk-margin">
											<dt class="myid">My ID:</dt><dd class="myid">2112121212</dd><br />
										</div>
									<dt>First Name:</dt><dd><input type="text" name="fname" value="Boris" /></dd><br />
									<dt>Last Name:</dt><dd><input type="text" name="lname" value="Ivanov" /></dd><br />
									<dt>E-mail:</dt><dd><input type="text" name="email" value="borisivanov@gmail.com" /></dd><br />
									<dt>Country:</dt><dd><select name="country" ><option>Russia</option></select></dd><br />
									<dt>City:</dt><dd><select name="city"><option>Mosckow</option></select></dd><br />
									<dt>English:</dt><dd><select name="english" ><option>beginner</option></select></dd><br />
									<dt>Other language:</dt><dd><select name="language" ><option>russian</option></select></dd><br />
									<dt>Driving Experience:</dt><dd><select name="experience" ><option>4+ year</option></select></dd><br />
									<dt>Skype:</dt><dd><input type="text" name="skype"  value="didikidgsdg" /></dd><br />
									<dt>Mobile:</dt><dd>
											<select name="region" class="uk-width-1-3 region" ><option>(US)+1</option></select>
											<input class="uk-width-2-3 fone" type="text" name="name" id="name" value="866 55 55 55 55" />
										</dd><br />
									<dt>Mark if you have:</dt>
									<dd>
										<div class="uk-width-1-1 uk-grid uk-grid-small">
											<div class="uk-width-1-2"><input class="uk-float-left uk-margin-small-right" type="checkbox"><span>wi-fi</span></div>
											<div class="uk-width-1-2"><input class="uk-float-left uk-margin-small-right" type="checkbox"><span>whatsapp</span></div>
											<a href="">Add another phone number</a>
										</div>
									</dd><br />
									<dt>Birthday:</dt><dd>
											<select name="day" class="day" >
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
											<select name="month" class="month" >
												<option>January</option>
												<option>February</option>
												<option>Marth</option>
												<option>April</option>
												<option>May</option>
											</select>
											<select name="year" class="year" >
												<option>1989</option>
												<option>1990</option>
												<option>1991</option>
												<option>1992</option>
												<option>1993</option>
												<option>1994</option>
											</select>
										</dd><br />
									<dt>Gender:</dt><dd><select name="gender" ><option>male</option><option>female</option></select></dd>
									<dt>About me:<br><a href="">example</a></dt>
									<dd>
										<textarea rows="4" class="uk-width-1-1">The goal of the about:me page is to give you a more interesting view of statistics about your browser usage. The current version includes graphs that illustrate trends in your browsing.
										</textarea>
										<span class="uk-text-small">осталось 200 символов</span>
									</dd>
								</dl>
								<div class="popup-head inbox">Car information <i class="uk-icon-question-circle"></i></div>
								<dl>
									<dt>Brand:</dt><dd><select name="brand" ><option>Ford</option></select></dd>
									<dt>Model:</dt><dd><select name="model" ><option>Focus</option></select></dd>
									<dt>Year:</dt><dd><select name="year" class="year" ><option>2006</option></select></dd>
									<dt>Color:</dt><dd><select name="color" ><option>black</option></select></dd>
									<dt>Number plate:</dt><dd><input type="text" name="plate" value="AB 666777" ></dd>
									<dt>Class:</dt><dd><select name="number" class="" ><option>bussines</option></select></dd>
									<dt>Other:</dt>
										<dd>
										<div class="uk-grid uk-grid-small uk-width-1-1">
											<div class="uk-panel uk-width-1-3">
												<i class="mp-icon-person uk-text-danger"></i>
													<select name="day" class="classauto">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
													</select>
											</div>
											<div class="uk-panel uk-width-1-3">
												<i class="mp-icon-door uk-text-danger"></i>
													<select name="day" class="classauto">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
													</select>
											</div>
											<div class="uk-panel uk-width-1-3">
												<i class="mp-icon-bug uk-text-danger"></i>
													<select name="day" class="classauto">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
													</select>
											</div>
										</div>
										</dd>
									<dt>Short description:<br><a href="">example</a></dt>
									<dd>
										<textarea rows="4" class="uk-width-1-1">The goal of the about:me page is to give you a more interesting view of statistics about your browser usage. The current version includes graphs that illustrate trends in your browsing.
										</textarea>
										<span class="uk-text-small">осталось 200 символов</span>
									</dd>
								</dl>
								<div class="popup-head inbox">Insurance <i class="uk-icon-question-circle"></i></div>
								<dl>
									<dt class="fullsize"><label><input type="checkbox" class="uk-float-left uk-margin-small-right">Bodily Injury Liability:</label></dt>
									<dd class="fullsize">Covers expenses related to the injury or death of another driver or a pedestrian when an accident is your fault.</dd>
									<dt class="fullsize"><label><input type="checkbox" class="uk-float-left uk-margin-small-right">Medical Expenses:</label></dt>
									<dd class="fullsize">If you and/or your passengers are hurt in an accident, this can cover your medical or funeral expenses.	</dd>
									<dt class="fullsize"><label><input type="checkbox" class="uk-float-left uk-margin-small-right">Add other insurance</label></dt>
								</dl>
								<div class="uk-margin">
									<div class="uk-grid uk-grid-small">
										<div class="uk-panel uk-width-1-2">
											<button class="uk-button uk-button-success uk-width-1-1">Save</button>
										</div>
										<div class="uk-panel uk-width-1-2">
											<button class="uk-button uk-button-warning uk-width-1-1">Cancel</button>
										</div>
										</div>
									</div>
								</div>
							</div>
                    </div>
            </div>
</div>

{% endblock %}
