{% extends 'DaVinciTaxiBundle::base.html.twig' %}

{% block theme 'register' %}
{% block body %}
{% include 'DaVinciTaxiBundle::breadcrumbs.html.twig' %}

<div class="banner"><a href="#"><img src="{{ asset('bundles/davincitaxi/images/banner.png') }}" alt="" /></a></div>
<div class="title officepagetitle">
{% trans  with {'%url%': '#'}  %}
    Congratulations! Taximyprice gives free passenger\'s office <a href="%url%" class="gobutt">go</a>!
{% endtrans %}
</div>
<h2>{% trans %}Taxi Company Offices: Owner+ Manager+Driver{% endtrans %}</h2>

<div class="blockoffice">
    <div class="officetitle">{% trans %}Taxi Owner{% endtrans %}</div>
    <div class="officecomment">{% trans %}*You get profit from country visitors{% endtrans %}</div>
    <ul>
        <li>{% trans %}Tools for making money{% endtrans %}</li>
        <li class="odd">{% trans %}Management of daily operations{% endtrans %}</li>
        <li>{% trans %}Promotion for international passengers{% endtrans %}</li>
    </ul>
    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
    <a class="trial" href="#">{% trans %}Free Trial{% endtrans %}</a>
</div>

<div class="blockoffice">
    <div class="officetitle">{% trans %}Taxi Manager{% endtrans %}</div>
    <div class="officecomment">{% trans %}*You make money working for owner{% endtrans %}</div>
    <ul>
        <li>{% trans %}Access to the order's list{% endtrans %}</li>
        <li class="odd">{% trans %}Manage finansial streams{% endtrans %}</li>
        <li>{% trans %}2 offices - our gift{% endtrans %}</li>
    </ul>
    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
    <a class="trial" href="#">{% trans %}Free Trial{% endtrans %}</a>
</div>

<div class="blockoffice">
    <div class="officetitle">{% trans %}Taxi Driver{% endtrans %}</div>
    <div class="officecomment">{% trans %}*You make money working for owner{% endtrans %}</div>
    <ul>
        <li>{% trans %}Access to the order's list{% endtrans %}</li>
        <li class="odd">{% trans %}Private finance control{% endtrans %}</li>
        <li>{% trans %}5 offices - our gift{% endtrans %}</li>
    </ul>
    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
    <a class="trial" href="#">{% trans %}Free Trial{% endtrans %}</a>
</div>

<h2>{% trans %}Independent Driver Office{% endtrans %}</h2>

<div class="blockoffice">
    <div class="officetitle">{% trans %}Independent Driver{% endtrans %}</div>
    <div class="officecomment">{% trans %}*You get profit from country visitors{% endtrans %}</div>
    <ul>
        <li>{% trans %}Make money{% endtrans %}</li>
    </ul>
    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
    <a class="trial" href="#">{% trans %}Free Trial{% endtrans %}</a>
</div>

<div class="blockoffice">
    <div class="officetitle">{% trans %}Independent Driver{% endtrans %}</div>
    <div class="officecomment">{% trans %}*You get profit from country visitors{% endtrans %}</div>
    <ul>
        <li>{% trans %}Free from management{% endtrans %}</li>
    </ul>
    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
    <a class="trial" href="#">{% trans %}Free Trial{% endtrans %}</a>
</div>

<div class="blockoffice">
    <div class="officetitle">{% trans %}Independent Driver{% endtrans %}</div>
    <div class="officecomment">{% trans %}*You get profit from country visitors{% endtrans %}</div>
    <ul>
        <li>{% trans %}Promote yourself on international level{% endtrans %}</li>
    </ul>
    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
    <a class="trial" href="#">{% trans %}Free Trial{% endtrans %}</a>
</div>

<h2>{% trans %}Aggregator Company Offices: Owner+Manager{% endtrans %}</h2>

<div class="blockoffice">
    <div class="officetitle">{% trans %}Owner{% endtrans %}</div>
    <div class="officecomment">{% trans %}*You get profit from country visitors{% endtrans %}</div>
    <ul>
        <li>{% trans %}Promote yourself for international passengers{% endtrans %}</li>
        <li class="odd">{% trans %}Make More money{% endtrans %}</li>
        <li>{% trans %}Get paid for your connections{% endtrans %}</li>
    </ul>
    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
    <a class="trial" href="#">{% trans %}Free Trial{% endtrans %}</a>
</div>

<div class="blockoffice">
    <div class="officetitle">{% trans %}Owner{% endtrans %}</div>
    <div class="officecomment">{% trans %}*You get profit from country visitors{% endtrans %}</div>
    <ul>
        <li>{% trans %}Multiply your business{% endtrans %}</li>
        <li class="odd">{% trans %}Expand the number of transporters{% endtrans %}</li>
        <li>{% trans %}Gain reputation abroad{% endtrans %}</li>
    </ul>
    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
    <a class="trial" href="#">{% trans %}Free Trial{% endtrans %}</a>
</div>

<div class="blockoffice">
    <div class="officetitle">{% trans %}Owner{% endtrans %}</div>
    <div class="officecomment">{% trans %}*You get profit from country visitors{% endtrans %}</div>
    <ul>
        <li>{% trans %}Access to the order's list{% endtrans %}</li>
        <li class="odd">{% trans %}Manage finansial streams{% endtrans %}</li>
        <li>{% trans %}2 offices - our gift{% endtrans %}</li>
    </ul>
    <a class="officemore" href="#">{% trans %}More{% endtrans %}</a>
    <a class="trial" href="#">{% trans %}Free Trial{% endtrans %}</a>
</div>

{% endblock %}