// Remove after compille
ul, ol, li {
	padding: 0;
	margin: 0;
	list-style: none;
}
//

.order-step3 {
	margin-top: 15px;
	@extend %clear_a;
	@extend %btn_for_steps;
}

.tariff-box {
	float: left;
	width: 70%;
}

.tariff-box-price {
	.row {
		padding: 5px 0px;
		&>* {
			display: inline-block;
			float: left;
			&:first-child {
				width: 29%;
			}
		}
	}
	.tariff-box-price-head {
	}
}



.pay-info-box {
	float: right;
	width: 30%;
}


