// Remove after compille
ul, ol, li {
	padding: 0;
	margin: 0;
	list-style: none;
}
//

.order-step3 {
	.title-bottom-line {
		border-bottom: none;
	}
}

.tariff-box {
	overflow: hidden;
}

.pay-info-box {
	float: right;
}


