// Variables
// ========================================================================

// Responsive screen
$breakpoint-small:                               480px !default
$breakpoint-medium:                              768px !default
$breakpoint-large:                               960px !default
$breakpoint-xlarge:                              1240px !default
$breakpoint-mini-max:                            ($breakpoint-small - 1) !default
$breakpoint-small-max:                           ($breakpoint-medium - 1) !default
$breakpoint-medium-max:                          ($breakpoint-large - 1) !default
$breakpoint-large-max:                           ($breakpoint-xlarge - 1)

// Color
$main-color:                                     #3c3d45 !default
$primary-color:									 #3399ff !default
$success-color:									 #2eda36 !default
$danger-color:									 #ff4d61 !default
$warning-color:									 #8d8f98 !default
$muted-color:									 #8B8C90 !default
$contrast-color:								 #fff !default

$primary-bg:									 #528ed3 !default
$sucess-bg:										 #2eda36 !default
$danger-bg:										 #ff4d61 !default
$warning-bg:									 #8d8f98 !default
$muted-bg:										 #f5f5f5 !default
$contrast-bg:                                    #fff !default

// Fonts
$font-family-main:								 'Open Sans', sans-serif !default
$font-size-normal:								 14px !default
$font-size-xsmall:								 10px !default
$font-size-small:								 12px !default
$font-size-medium:								 16px !default
$font-size-large:								 20px !default
$font-size-xlarge:								 26px !default

$line-height-small:                              0.9em !default
$line-height-normal:                             1.1em !default
$line-height-large:                              1.3em !default

// Title
$title-font-family:                              'Open Sans', sans-serif !default
$title-margin-vertical: 						 15px !default
$title-font-weight:     						 bold !default
$title-text-transform:							 normal !default
$title-margin-top:								 15px !default 

// Titile size
$h1-font-size:                                   26px !default
$h2-font-size:                                   22px !default
$h3-font-size:                                   20px !default
$h4-font-size:                                   16px !default
$h5-font-size:                                   12px !default
$h6-font-size:                                   8px !default


// Form and form field
$fotm-field-bg:									#fff !default
$form-field-border:								1px solid #ddd !default
$form-field-border-radius:						3px !default
$btn-border-radius:								3px !default

// Grid
$grid-gutter-horizontal: 						25px !default
$grid-gutter-vertical: 							25px !default

$grid-gutter-large-horizontal: 					35px !default
$grid-gutter-large-vertical: 					35px !default

$grid-gutter-small-horizontal: 					10px !default
$grid-gutter-small-vertical: 					10px !default
$grid-divider-border: 							#ddd !default
$grid-divider-border-width:					 	1px !default

// Buttons an link

// Modal
$modal-z-index:                                  1010 !default
$modal-background:                               rgba(0,0,0,0.6) !default

$modal-dialog-margin-vertical:                   50px !default
$modal-dialog-padding:                           20px !default
$modal-dialog-width:                             540px !default
$modal-dialog-background:                        #fff !default

$modal-dialog-large-width:                       930px !default
$modal-dialog-large-width-large:                 1130px !default

$modal-header-margin-bottom:                     15px !default

$modal-footer-margin-top:                        15px !default

$modal-caption-margin-bottom:                    -10px !default
$modal-caption-color:                            #fff !default




